{% block form_start %}
{% spaceless %}
    {% set method = method|upper %}
    {% set form_method = (method == 'GET' ? method : 'POST') %}
    {% set attr = attr|merge({ class: 'form' }) %}
    <form class="form" role="form"
        name="{{ form.vars.name }}"
        method="{{ form_method|lower }}"
        action="{{ action }}"
        {% for attrname, attrvalue in attr %}
            {{ attrname }}="{{ attrvalue }}"
        {% endfor %}
        {% if multipart %}
            enctype="multipart/form-data"
        {% endif %}
    >
    {% if form_method != method %}
        <input type="hidden" name="_method" value="{{ method }}" />
    {% endif %}
{% endspaceless %}
{% endblock form_start %}

{% block form_end %}
{% if not render_rest is defined or render_rest %}
    {{ form_rest(form) }}
        {% endif %}
    </form>
{% endblock form_end %}

{% block button_row %}

    {% spaceless %}
    <div class="grid fixed-bottom animated fade-in-up">
        <div class="col-1-3">
            &nbsp;
        </div>
        <div class="col-2-3">
            {{ form_widget(form) }}
            <a href="{{ url('admin_plugin_list') }}">Cancel</a>
        </div>
    </div>
    {% endspaceless %}

{% endblock button_row %}

{%- block button_widget -%}
    {%- if label is empty -%}
        {% set label = name|humanize %}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }} class="button-primary button-fat pv-s mr-l">{{ label|trans({}, translation_domain) }}</button>
{%- endblock button_widget -%}

{% block number_widget %}
{% spaceless %}
    {# type="number" doesn't work with floats #}
    {% set type = type|default('text') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock number_widget %}


{%- block form_widget_compound -%}
    <fieldset class="mb-n">
        <ol>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
        </ol>
    </fieldset>
{%- endblock form_widget_compound -%}

{% block form_row %}
{% spaceless %}
    <li>
    {# Yes, this is is a shitty way to get form type, but it's THE ONLY WAY #}
    {% if form.vars.block_prefixes.1 != 'checkbox' %}
        {{ form_label(form) }}
    {% endif %}
    {{ form_widget(form) }}
    </li>
{% endspaceless %}
{% endblock form_row %}


{% block radio_widget %}
{% spaceless %}
    <input type="radio"
        {{ block('widget_attributes') }}
        {% if value is defined %}
            value="{{ value }}"
        {% endif %}
        {% if checked %}
            checked="checked"
        {% endif %}
    />
{% endspaceless %}
{% endblock radio_widget %}


{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) and label is defined %}
        <label for="{{ id }}">
            {{ label|trans }}
            {% if label_help is defined %}
                <em>{{ label_help }}</em>
            {% endif %}
        </label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}


{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }}
        {% if value is not empty %}
            value="{{ value }}"
        {% endif %}
    />
{% endspaceless %}
{% endblock form_widget_simple %}


{% block money_object_label %}
{% spaceless %}
    {% set id = "#{id}_amount" %}
    {{ block('form_label') }}
{% endspaceless %}
{% endblock money_object_label %}


{% block money_object_widget %}
{% spaceless %}
    <div class="d-ib mr-m va-m" style="max-width:100px;">
        {{ form_widget(form.amount) }}
    </div>
    <div class="d-ib va-m">
        {{ form_widget(form.currency) }}
    </div>
{% endspaceless %}
{% endblock money_object_widget %}


{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}


{% block time_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% set vars = widget == 'text' ? { attr: { size: 1 }} : {} %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_widget(form.hour, vars) }}:{{ form_widget(form.minute, vars) }}
            {%- if with_seconds -%}
                :{{ form_widget(form.second, vars) }}
            {%- endif -%}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock time_widget %}


{% block datetime_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{
            block('form_widget_simple', {
                attr: attr|merge({ class: (attr.class|default('') ~ ' form-control')|trim }),
            })
        }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form.date) }}
            {{ form_errors(form.time) }}
            {{ form_widget(form.date) }}
            {{ form_widget(form.time) }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock datetime_widget %}


{% block checkbox_widget %}
{% spaceless %}
    <label for="{{ id }}" class="checkbox">
        <input type="checkbox" {{ block('widget_attributes') }}
               value="{{ value|default(1) }}"
                {% if checked is defined and checked %}checked="checked"{% endif %}
                >
        {{ label|trans }}
    </label>
{% endspaceless %}
{% endblock checkbox_widget %}


{% block url_widget %}
{% spaceless %}
    {% set type = type|default('url') %}
    {% set attr = attr|merge({'parsley-type': 'url'}) %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock url_widget %}


{% block textarea_widget %}
{% spaceless %}
    {% set attr = attr|merge({ class: (attr.class|default('') ~ ' form-control')|trim }) %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endspaceless %}
{% endblock textarea_widget %}
