{% extends '@StoreTemplate/Layout/_layout.html.twig' %}

{% block breadcrumb_container %}{% endblock breadcrumb_container %}

{% block content %}
    <div class="checkout">
    {% if cart.totalItemNumber > 0 %}
            <h1 class="checkout-title">{{ 'template.store_template_bundle.cart.view.title'|trans }}</h1>
            <p class="checkout-actions checkout-actions-top">
                {% include "@StoreTemplate/Modules/_checkout-progress.html.twig" with {"step": "1"} %}
                <a class="button button-secondary desktop" href="{{ url('store_checkout_address') }}">{{ 'template.store_template_bundle.cart.view.checkout'|trans }} &nbsp;<i class="fa fa-arrow-right"></i> </a>
            </p>
        {{ form_start(form) }}
            <div class="cart-list">
                {% for line in form.cartLines %}
                    {% include "@StoreTemplate/Modules/_cart-item.html.twig" with { "line": line } %}
                {% endfor %}
            </div>
            <div class="coupon-list">
                {% for cartCoupon in cartCoupons %}
                    {% include "@StoreTemplate/Modules/_coupon-item.html.twig" with { "coupon": cartCoupon.coupon } %}
                {% endfor %}
            </div>
            <div class="shipping-list">
                {% include "@StoreTemplate/Modules/_shipping-item.html.twig" with { "shippingRange": cart.shippingRange, "shippingAmount": cart.shippingAmount } %}
            </div>
            <p class="cart-total"><span>{{ 'template.store_template_bundle.cart.view.total'|trans }} </span>{{ cart.amount|print_convert_money() }}</p>

            <div class="cart-actions">
                <a class="button button-secondary" href="{{ url('store_checkout_address') }}" data-test="checkout-button">{{ 'template.store_template_bundle.cart.view.checkout'|trans }} &nbsp;<i class="fa fa-arrow-right"></i> </a>
                {{
                    form_widget(form.update, {
                        label: 'template.store_template_bundle.cart.view.update_basket',
                        attr: {
                            class: 'button button-empty fa fa-refresh'
                        }
                    })
                }}
                <a class="button button-empty" href="{{ url('store_cart_empty') }}" data-test="do-empty-cart"><i class="fa fa-trash-o"></i> {{ 'template.store_template_bundle.cart.view.empty_basket'|trans }}</a>
                <a class="button button-empty cart-actions-continue" href="{{ url('store_homepage') }}"><i class="fa fa-arrow-left"></i> {{ 'template.store_template_bundle.cart.view.continue_shopping'|trans }}</a>
            </div>
        {{ form_end(form) }}

        {{ render(url('store_coupon_view')) }}

        <!-- Related products -->

    {% else %}
        <div class="empty-page" data-test="empty-cart">
            <i class="fa fa-shopping-cart fa-3x"></i>
            <h2 class="product-title">{{ "template.store_template_bundle.cart.view.your_cart_is_empty"|trans}}</h2>
            <a class="button button-secondary" href="{{ url('store_homepage') }}">{{ 'template.store_template_bundle.cart.view.continue_shopping'|trans }} <i class="fa fa-arrow-right"></i></a>
        </div>
    {% endif %}
    </div>
{% endblock %}

{% block prefooter %}
    {% if cart.totalItemNumber > 0 %}
        {{ render(url('store_cart_related')) }}
    {% endif %}
{% endblock prefooter %}
