{% extends '@StoreTemplate/Layout/_checkout.html.twig' %}

{% block breadcrumb_container %}{% endblock breadcrumb_container %}

{% block content_checkout %}
<div class="checkout">
<h1 class="checkout-title">{{ 'template.store_template_bundle.checkout.payment.set_shipping_payment'|trans }}</h1>
<p class="checkout-actions checkout-actions-top">
    <a class="button desktop" href="{{ url('store_checkout_address') }}"> <i class="fa fa-arrow-left"></i> {{ 'template.store_template_bundle.checkout.back'|trans }}</a>
    {% include "@StoreTemplate/Modules/_checkout-progress.html.twig" with {"step": "3"} %}
</p>

{% if shippingMethods|length > 0 %}
<div class="form form-checkout">
    {% set actualShippingMethod = cart.shippingMethod %}
    <div class="grid grid-pad">
        <h2>{{ 'template.store_template_bundle.checkout.payment.shipping_carrier_method'|trans }}</h2>
        {% for shippingMethod in shippingMethods %}
            {% if shippingMethod.id == actualShippingMethod %}
                <div class="col-1-3"><i class="fa fa-caret-right"></i> <strong>{{ shippingMethod.carrierName }} - {{ shippingMethod.price|print_convert_money }}</strong></div>
            {% else %}
                <div class="col-1-3"><a href="{{ url("store_checkout_shipping_method_apply", {
                        'shippingMethod': shippingMethod.id
                    }) }}">
                        {{ shippingMethod.carrierName }} - {{ shippingMethod.price|print_convert_money }}
                    </a></div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
<div class="form-checkout">
    {% for paymentMethod in paymentMethods %}
        {% set paymentMethodName = paymentMethod.name %}
        {% if paymentMethod.url %}
                <h2>{{ paymentMethodName|trans }}</h2>
                <p><a href="{{ paymentMethod.url }}" class="button button-secondary">{{ 'template.store_template_bundle.checkout.payment.continue'|trans }}</a></p>
                <hr />
        {% else %}
            <details class="test-payment-{{ paymentMethod.id }} form form-{{ paymentMethodName|trans|lower }}">
                <summary>{{ paymentMethodName|trans }}</summary>
                <div class="payment-wrapper">
                    {{ paymentMethod.script|raw }}
                </div>
            </details>
        {% endif %}

    {% endfor %}
</div>

<p class="checkout-actions checkout-actions-bottom">
    <a class="button" href="{{ url('store_checkout_address') }}"> <i class="fa fa-arrow-left"></i> {{ 'template.store_template_bundle.checkout.back'|trans }}</a>
</p>
</div>
{% endblock content_checkout %}
