{% extends '@StoreTemplate/Layout/_layout.html.twig' %}

{% block breadcrumb_container %}{% endblock breadcrumb_container %}

{% block content %}
<div class="white-panel">
    {% if thanks %}
        <div class="message message-ok">
            <p><i class="fa fa-check"></i> <strong>{{ 'template.store_template_bundle.order.view.congratulations'|trans }}</strong></p>
            <p>{{ 'template.store_template_bundle.order.view.thanks'|trans }}</p>
        </div>

        {{ elcodi_hook("store.order_thanks") }}
    {% else %}
        <h1>{{ 'template.store_template_bundle.order.view.order'|trans }} #{{ order.id }}</h1>
    {% endif %}
    <div class="cart-list">
        {% for line in order.orderLines %}
            {% include "@StoreTemplate/Modules/_order-item.html.twig" with {
                "line": line
            } %}
        {% endfor %}
    </div>
    <div class="coupon-list">
        {% for orderCoupon in orderCoupons %}
            {% include "@StoreTemplate/Modules/_order-coupon-item.html.twig" with {"orderCoupon": orderCoupon} %}
        {% endfor %}
    </div>
    <p class="cart-total"><span>{{ 'template.store_template_bundle.order.view.shipping'|trans }}</span> {{ order.shippingAmount|print_convert_money() }}</p>
    <p class="cart-total"><span>{{ 'template.store_template_bundle.order.view.total'|trans }} </span>{{ order.amount|print_convert_money() }}</p>
    <div class="cart-actions">
        <a class="button button-empty cart-actions-continue" href="{{ url('store_homepage') }}"><i class="fa fa-arrow-left"></i> {{ 'template.store_template_bundle.order.view.continue_shopping'|trans }}</a>
    </div>
</div>
{% endblock %}
