{#
 # Base view for a Product detail page with no variants.
 #}
{% extends '@StoreTemplate/Layout/_layout.html.twig' %}


{% block title %}Bamboo - {{ 'template.store_template_bundle.product.view_item.product'|trans }} {{ product.name }}{% endblock title %}

{% block meta_tags %}
    {% if product.metaTitle is not empty %}
        <meta name="title" content="{{ product.metaTitle }}">
    {% endif %}
{% if product.metaDescription is not empty %}
    <meta name="description" content="{{ product.metaDescription }}">
{% endif %}
{% if product.metaKeywords is not empty %}
    <meta name="keywords" content="{{ product.metaKeywords }}">
{% endif %}
{% endblock meta_tags %}

{% block breadcrumb %}
    <li>
        <a href="{{ url('store_category_purchasables_list', { slug: product.principalCategory.slug, id: product.principalCategory.id }) }}">{{ product.principalCategory }}</a> <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="{{ url('store_product_view', { 'slug': product.slug, 'id': product.id }) }}"><strong>{{ product.name }}</strong></a>
    </li>
{% endblock breadcrumb %}

{% block content %}
    {% set productName = product|purchasable_name %}
    {% set validImage = product|valid_image %}

    <div class="product-view">
       <h1 class="product-title">{{ product.name }}</h1>
       <div class="grid">
           <div class="col-1-2">
            {% block product_image %}
               <a href="{{ product.images|length > 0 ? product.images.first|resize({
                   'width': 1024,
                   'height': 1024,
                   'type': 5
               }) : '//placehold.it/772x604' }}" alt="{{ product.name }}" class="product-thumbnail">
                {% if product.inOffer %}<span class="product-badge">{{ 'template.store_template_bundle.product.view_item.offer'|trans }}</span> {% endif %}
                   <img src="{{ product.images|length > 0 ? product.images.first|resize({
                       'width': 772,
                       'height': 604,
                       'type': 5
                   }) : '//placehold.it/772x604' }}" alt="{{ product.name }}"/>
               </a>
            {% endblock %}
           </div>
           <div class="col-1-2">
               {% block product_info %}
                   {% block product_info_add_basket %}
                       <div class= "product-to-basket">
                           <h5 class="product-title desktop">{{ product.name }}</h5>
                           <p class="product-actions">
                               {% if product.inOffer %}
                                   <span class="product-pricing product-pricing-before">{{ product.price|print_convert_money() }}</span>
                                   <span class="product-pricing product-pricing-now">{{ product.reducedPrice|print_convert_money() }}</span>
                               {% else %}
                                   <span class="product-pricing">{{ product.price|print_convert_money() }}</span>
                               {% endif %}
                               {% if not useStock or product.stock > 0 %}
                               <a title="{{ 'template.store_template_bundle.product.view_item.add_to_cart'|trans }}"
                                  class="fa fa-shopping-cart button button-secondary"
                                  data-test="add-product-{{ product.id }}-to-cart"
                                  href="{{ url('store_cart_add_purchasable', { id: product.id }) }}"> {{ 'template.store_template_bundle.product.view_item.add_to_cart'|trans }}</a>
                               {% else %}
                               <a title="{{ 'template.store_template_bundle.product.view_item.no_stock'|trans }}"
                                  class="fa fa-times button"
                                  href="#"> {{ 'template.store_template_bundle.product.view_item.no_stock'|trans }}</a>
                               {% endif %}
                           </p>
                       </div>
                   {% endblock %}

                   {% block product_info_details %}
                       <p>{{ product.description }}</p>
                   {% endblock %}
               {% endblock %}
           </div>
       </div>
    </div>
    <div class="grid">
        <div class="col-1-1">
            {{ elcodi_hook("store.product_view_bottom", {
                'product': product,
            }) }}
        </div>
    </div>
{% endblock content %}

{% block prefooter %}
    {{ render(url('store_purchasable_related', {
        'id': product.id
    })) }}
{% endblock prefooter %}
