{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}

{% form_theme form 'AdminCoreBundle::Forms/fields.html.twig' %}

{% block title %}
    {{ 'Edit Product'|trans }} - {{ entity.id }} - {{ entity.name }}
{% endblock title %}

{% block content %}

    {{ form_start(form, {'action': url('admin_product_update', {
        'id': entity.id
    })}) }}

        {% if entity.hasVariants() %}

            <div class="alert alert-info alert-white rounded">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <div class="icon"><i class="icon-info-sign"></i></div>

                <strong>{{ 'This product has variants'|trans }}</strong>

                {{ 'Manage them from the %admin_product_detail% page'|trans({
                    '%admin_product_detail%':
                        '<a href="' ~
                        url('admin_product_view', {id: entity.id}) ~
                        '" title="' ~
                        entity.name ~
                        '">product detail</a>'
                    })|raw
                }}
            </div>

        {% endif %}

        {{ form_row(form.name) }}
        {{ form_row(form.slug) }}
        {{ form_row(form.shortDescription) }}
        {{ form_row(form.description) }}
        {{ form_row(form.showInHome) }}
        {{ form_row(form.dimensions) }}
        {% if not entity.hasVariants() %}
            {{ form_row(form.stock) }}
            {{ form_row(form.price) }}
            {{ form_row(form.reducedPrice) }}
        {% endif %}
        {{ form_row(form.createdAt) }}
        {{ form_row(form.updatedAt) }}
        {{ form_row(form.enabled) }}
        {{ form_row(form.metaTitle) }}
        {{ form_row(form.metaDescription) }}
        {{ form_row(form.metaKeywords) }}
        {{ form_row(form.manufacturer) }}
        {{ form_row(form.principalCategory) }}
        {{ form_row(form.principalImage) }}
        {{ form_row(form.categories) }}
        {{ form_row(form.images) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">{{ 'Update'|trans }}</button>
                <a href="{{ path('admin_product_list') }}" class="btn btn-default">{{ 'Cancel'|trans }}</a>
            </div>
        </div>

    {{ form_end(form, {render_rest : false}) }}

{% endblock content %}
