{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}

{% form_theme form 'AdminCoreBundle::Forms/fields.html.twig' %}

{% block title %}
    {{ 'Edit Product'|trans }} - {{ entity.id }} - {{ entity.name }}
{% endblock title %}

{% block content %}
    {{ form_start(form, {'action': url('admin_product_update', {
        'id': entity.id
    })}) }}
    <fieldset class="mb-n">
        <div class="grid">
            <div class="col-1-3">
                <div class="box-none">
                    <h3 class="fw-n">{% trans %}Basic Details{% endtrans %}</h3>
                    <p>{% trans %}Provide a very specific name and a good description to your product.{% endtrans %}</p>
                </div>
            </div>
            <div class="col-2-3">
                <div data-tc-modules="tabs" class="tabs-box">
                    {% set languages = ['es', 'en','fr'] %}
                    {% for language in languages %}
                    <section id="tab-{{ language }}" data-tc-name="{{ language|capitalize }}">
                        <div class="box">
                            <ol>
                                <li>
                                    <label>{{ 'Title'|trans }}</label>
                                    {{ form_widget(form.name[language ~ '_name'],{'attr': {'placeholder':'e.g. My Awesome Product'}}) }}
                                    <details class="ph-n pt-m mb-n">
                                        <summary class="pl-l mb-n">{{ 'Personalize slug' }}</summary>
                                        {{ form_widget(form.slug[language ~ '_slug'],{'attr': {'data-tc-modules':'slug','data-tc-parent':'elcodi_admin_product_form_type_product_name_'~ language ~'_name' }}) }}
                                    </details>
                                </li>
                                <li>
                                    <label>{{ 'Description'|trans }}</label>
                                    {{ form_widget(form.description[language ~ '_description'],{'attr': {'placeholder':'e.g. This awesome product is exactly what you are lookin for.'}}) }}
                                </li>
                            </ol>
                        </div>
                    </section>
                    {% endfor %}
                </div>
                <div class="box">
                    <ol class="grid">
                        <li class="col-1-2 pb-n pr-l">
                            {{ form_row(form.principalCategory, {'attr': {'label_help':'e.g. Computers, handbags...'}}) }}
                        </li>
                        <li class="col-1-2 pb-n">
                            {{ form_row(form.manufacturer, {'attr': {'label_help':'e.g. Apple, Disney...'}}) }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        {% if not entity.hasVariants() %}
        <div class="grid">
            <div class="col-1-3">
                <div class="box-none">
                    <h3 class="fw-n">{% trans %}Pricing{% endtrans %}</h3>
                    <p>{% trans %}Set the price and the offer if is needed.{% endtrans %}</p>
                </div>
            </div>
            <div class="col-2-3">
                <div class="box pb-n">
                    <ol class="grid">
                        <li class="col-1-2">
                            {{ form_row(form.price) }}
                            {{ form_row(form.stock) }}
                        </li>
                        <li class="col-1-2">
                            {{ form_row(form.reducedPrice) }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="grid">
            <div class="col-1-3">
                <div class="box-none">
                    <h3 class="fw-n">{% trans %}Variants{% endtrans %}</h3>
                    <p>{% trans %}Set the variants for this product.{% endtrans %}</p>
                    <a href="{{ url("admin_variant_new", {id: entity.id}) }}" class="button">
                        Create Variant
                    </a>
                </div>
            </div>
            <div class="col-2-3">
                <div class="box">
                    {% if entity.hasVariants() %}
                        {{ render(url("admin_variant_list_component", {
                            'id': entity.id
                        })) }}
                    {% else %}
                        <p class="mt-l mb-xl">{% trans %}There are not variants for this product.{% endtrans %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-1-3">
                <div id="upload-container" class="box-none">
                    <h3 class="fw-n">{% trans %}Images{% endtrans %}</h3>
                    <p>{% trans %}Select the images of this product.{% endtrans %}</p>
                    <a href="{{ url("admin_image_upload") }}" id="pickfiles" class="button" data-tc-modules="uploader">
                        Upload images
                    </a>
                    <progress id="progresBar" value="0" max="100" style="display: none"></progress>
                </div>
            </div>
            <div class="col-2-3">
                <div class="box">
                    {{ form_row(form.images,{'attr': {'class':'d-n'}}) }}
                    <ul id="thumb-gallery" class="thumbnail-group pl-s">
                    {% for image in entity.images %}
                        <li>
                            <a href="{{ image|viewImage }}" data-tc-modules="modal" data-tc-width="90%" data-tc-height="90%" class="group-images thumbnail">
                             <img id="image-{{ image.id }}" src="{{ image|viewImage }}" width="150" />
                            </a>
                            <ul class="thumbnail-actions">
                                <li>
                                    <a href="{{ url("admin_image_delete", {id: image.id}) }}" class="icon-trash-o"></a>
                                </li>
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <details class="ph-n">
            <summary class="mb-n pl-xl">{{ 'Personalize Metadata'|trans }}</summary>
            <div class="grid">
                <div class="col-1-3">
                    <div class="box-none">
                        <h3 class="fw-n">{% trans %}Metadata{% endtrans %}</h3>
                        <p>{% trans %}Description and keywords in meta tags are commonly used to describe the Web page's content. Most search engines use these data when adding pages to their search index.{% endtrans %}</p>
                    </div>
                </div>
                <div class="col-2-3">
                    <p class="msg-warning">{% trans %}<strong>This area for advanced users.</strong> Leave this fields in blank to obtain automatically the metadata of your product.{% endtrans %}</p>
                    <div data-tc-modules="tabs" class="tabs-box">
                        {% for language in languages %}
                            <section id="metadata-{{ language }}" data-tc-name="{{ language|capitalize }}">
                                <div class="box">
                                    <ol>
                                        <li>
                                            <label>{{ 'metaTitle'|trans }}</label>
                                            {{ form_widget(form.metaTitle[language ~ '_metaTitle'],{'attr': {'placeholder':'e.g. My Awesome Product'}}) }}
                                        </li>
                                        <li>
                                            <label>{{ 'metaDescription'|trans }}</label>
                                            {{ form_widget(form.metaDescription[language ~ '_metaDescription'],{'attr': {'placeholder':'e.g. This awesome product is exactly what you are lookin for.'}}) }}
                                        </li>
                                        <li>
                                            <label>{{ 'metaKeywords'|trans }}</label>
                                            {{ form_widget(form.metaKeywords[language ~ '_metaKeywords'],{'attr': {'placeholder':'e.g. product,awesome'}}) }}
                                        </li>
                                    </ol>
                                </div>
                            </section>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </details>
        <div class="grid">
            <div class="col-1-3">
                <div class="box-none mb-n pb-m">
                    <h3 class="fw-n">{% trans %}Visibility{% endtrans %}</h3>
                    <p>{% trans %}Control where and when this product could be seen.{% endtrans %}</p>
                </div>
            </div>
            <div class="col-2-3">
                <div class="box mb-n pb-n">
                    <ol class="grid pt-m">
                        <li class="col-1-2">
                            {{ form_row(form.showInHome, {'attr': {'type':'checkbox'}}) }}
                        </li>
                        <li class="col-1-2">
                            {{ form_row(form.enabled, {'attr': {'type':'checkbox'}}) }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </fieldset>
    {{ form_row(form.createdAt, {'attr': {'class':'d-n'}}) }}
    {{ form_row(form.updatedAt, {'attr': {'class':'d-n'}}) }}
    <div class="grid">
        <div class="col-1-3">
            &nbsp;
        </div>
        <div class="col-2-3">
            <button type="submit" class="button-primary">{{ 'Update'|trans }}</button>
            <a href="{{ path('admin_product_list') }}" class="button">{{ 'Cancel'|trans }}</a>

        </div>
    </div>
    {{ form_end(form, {render_rest : false}) }}

{% endblock content %}
