{% extends 'AdminCoreBundle::Common/listComponent.html.twig' %}

{% block title %}
    {{ 'Product list'|trans }}
{% endblock title %}

{% block no_items %}
    {{ lists.no_items('product','products', url("admin_product_new")  ) }}
{% endblock no_items %}

{% block table_head %}
    {% include "@AdminCore/Tables/head.html.twig" with {
        rows: {
            "Name & Slug": {},
            "Name & Slug": {width:"35"},
            "Category": {width:"20"},
            "Stock": {width:"10"},
            "Price": {width:"10"},
            "Home": {width:"10"},
            "Variants" : {width:"10"},
            "Status": {width:"10"},
        },
        class: "product",
    } %}
{% endblock table_head %}


{% block table_body_row %}
    <td>
        <a href="{{ url("admin_product_view", {"id": entity.id}) }}"><strong>{{ entity.name }}</strong></a>
        <p class="fz-s">/{{ entity.slug }}</p>
    </td>
    <td>
        {% if entity.principalCategory %}
            <a href="{{ url("admin_category_view", { id: entity.principalCategory.id }) }}">
                {{ entity.principalCategory.name }}
            </a>
        {% endif %}
    </td>
    <td>
        {{ entity.stock }}
    </td>
    <td>
        {{ entity.price|print_money }}
    </td>
    <td>
        {% if entity.showInHome %}<span class="label-info">{{'Home'|trans}}</span>{% endif %}
    </td>
    <td>
        {% if entity.hasVariants %}<span class="label bg-secondary">{{'Variants'|trans}}</span>{% endif %}
    </td>
    <td>
        {% if entity.enabled %}<span class="label-ok">Enabled</span>{% else %}<span class="label">Disabled</span>{% endif %}
    </td>

    {% include "@AdminCore/Tables/actions.html.twig" with {
        entity: entity,
        class: "product",
    } %}
{% endblock table_body_row %}


{% block table_paginator_links %}
    {% set url = 'admin_product_list' %}
    {{ parent() }}
{% endblock table_paginator_links %}
