{% extends 'AdminCoreBundle::Common/viewComponent.html.twig' %}


{% block title %}
    {{ 'Product'|trans }} - {{ entity }}
{% endblock title %}


{% block view_buttons %}
    <div class="spacer spacer-bottom">
        <a href="{{ url("admin_product_list", {"id": entity.id}) }}" class="btn">{{ 'View all'|trans }}</a>
        <a href="{{ url("admin_product_edit", {"id": entity.id}) }}" class="btn btn-primary">{{ 'Edit'|trans }}</a>
        {% if entity.enabled %}
            <a href="{{ url("admin_product_disable", {"id": entity.id}) }}" class="btn btn-warning">{{ 'Disable'|trans }}</a>
        {% else %}
            <a href="{{ url("admin_product_enable", {"id": entity.id}) }}" class="btn btn-success">{{ 'Enable'|trans }}</a>
        {% endif %}
        <a href="{{ url("admin_product_delete", {"id": entity.id}) }}" class="btn btn-danger">{{ 'Delete'|trans }}</a>
    </div>
{% endblock view_buttons %}


{% block content %}
    <tr>
        <td>{{ 'name'|trans }}</td>
        <td>{{ entity.name }} </td>
    </tr>
    <tr>
        <td>{{ 'slug'|trans }}</td>
        <td>{{ entity.slug }} </td>
    </tr>
    <tr>
        <td>{{ 'shortDescription'|trans }}</td>
        <td>{{ entity.shortDescription }} </td>
    </tr>
    <tr>
        <td>{{ 'description'|trans }}</td>
        <td>{{ entity.description }} </td>
    </tr>
    <tr>
        <td>{{ 'showInHome'|trans }}</td>
        <td>{% if entity.showInHome %}<span class="label label-success">true</span>{% else %}<span class="label label-danger">false</span>{% endif %}</td>
    </tr>
    <tr>
        <td>{{ 'dimensions'|trans }}</td>
        <td>{{ entity.dimensions }}</td>
    </tr>
    <tr>
        <td>{{ 'stock'|trans }}</td>
        <td>{{ entity.stock }}</td>
    </tr>
    <tr>
        <td>{{ 'price'|trans }}</td>
        <td>{{ entity.price|print_money }}</td>
    </tr>
    <tr>
        <td>{{ 'reducedPrice'|trans }}</td>
        <td>{{ entity.reducedPrice|print_money }}</td>
    </tr>
    <tr>
        <td>{{ 'createdAt'|trans }}</td>
        <td>{{ entity.createdAt|date('Y.m.d - H:i:s') }}</td>
    </tr>
    <tr>
        <td>{{ 'updatedAt'|trans }}</td>
        <td>{{ entity.updatedAt|date('Y.m.d - H:i:s') }}</td>
    </tr>
    <tr>
        <td>{{ 'enabled'|trans }}</td>
        <td>{% if entity.enabled %}<span class="label label-success">true</span>{% else %}<span class="label label-danger">false</span>{% endif %}</td>
    </tr>
    <tr>
        <td>{{ 'metaTitle'|trans }}</td>
        <td>{{ entity.metaTitle }}</td>
    </tr>
    <tr>
        <td>{{ 'metaDescription'|trans }}</td>
        <td>{{ entity.metaDescription }}</td>
    </tr>
    <tr>
        <td>{{ 'metaKeywords'|trans }}</td>
        <td>{{ entity.metaKeywords }}</td>
    </tr>
    <tr>
        <td>{{ 'manufacturer'|trans }}</td>
        <td>
            {% if entity.manufacturer %}
                <a href="{{ url("admin_manufacturer_view", {id: entity.manufacturer.id}) }}">
                    {{ entity.manufacturer.name }}
                </a>
            {% endif %}
        </td>
    </tr>
    </tr>
    <tr>
        <td>{{ 'principalCategory'|trans }}</td>
        <td>
            {% if entity.principalCategory %}
                <a href="{{ url("admin_category_view", {id: entity.principalCategory.id}) }}">
                    {{ entity.principalCategory.name }}
                </a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>{{ 'categories'|trans }}</td>
        <td>
            <ul>
                {% for category in entity.categories %}
                    <li>
                        <a href="{{ url("admin_category_view", {id: category.id}) }}">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
{% endblock content %}
