{% extends 'AdminCoreBundle::Common/viewComponent.html.twig' %}


{% block title %}
    {{ 'Product'|trans }} - {{ entity }}
{% endblock title %}


{% block view_buttons %}
    <div class="header-actions buttons-group">
        {% if entity.enabled %}
            <a href="{{ url("admin_product_disable", {"id": entity.id}) }}" title="{{ 'Disable'|trans }}"
               class="button-ok icon-power-off pr-m"></a>
        {% else %}
            <a href="{{ url("admin_product_enable", {"id": entity.id}) }}" title="{{ 'Enable'|trans }}"
               class="button-alt icon-power-off pr-m"></a>
        {% endif %}
        <a href="{{ url("admin_product_delete", {"id": entity.id}) }}" title="{{ 'Delete'|trans }}"
           class="button-ko icon-trash-o pr-m"></a>
        <a href="{{ url("admin_product_edit", {"id": entity.id}) }}" title="{{ 'Edit'|trans }}"
           class="button icon-pencil"> {{ 'Edit'|trans }}</a>
        {% if not entity.hasVariants() %}<a href="{{ url("admin_variant_new", {id: entity.id}) }}"type="button"
                                            class="button-main icon-sitemap"
                                            title="{{ "Create variants"|trans }}" > {{ "Create variants"|trans }}</a>{% endif %}
    </div>
{% endblock view_buttons %}


{% block content %}
<div class="grid">
	<div class="col-2-3">
	    <div class="box-none pt-n pl-n">
            {% if entity.enabled %}<span class="label-ok"><i class="icon-power-off"></i> {{ 'Enabled'|trans }}</span>{% else %}<span class="label-ko"><i class="icon-power-off"></i> {{ 'Disabled'|trans }}</span>{% endif %} {% if entity.showInHome %}<span class="label-info"><i class="icon-home"></i> {{ 'At Home'|trans }}</span>{% endif %} {% if entity.hasVariants %}<span class="label-warning"><i class="icon-sitemap"></i> {{ 'Has Variants'|trans }}</span>{% endif %}
            <h1 class="mb-n">{{ entity.name }}</h1>
            <p class="fz-s">/{{ entity.slug }}</p>
            <div class="grid">
                {% if entity.principalCategory %}
                <div class="col-1-2">
                    <div class="box pa-s mr-m">
                            <span class="fz-s c-secondary">{{ 'Category'|trans }}</span> <br/>
                            <a href="{{ url("admin_category_view", {id: entity.principalCategory.id}) }}" class="fz-h4 mb-n">
                                {{ entity.principalCategory.name }}
                            </a>
                    </div>
                </div>
                {% endif %}
                {% if entity.manufacturer %}
                <div class="col-1-2">
                    <div class="box pa-s">
                        <span class="fz-s c-secondary">{{ 'Manufacturer'|trans }}</span> <br/>
                        <a href="{{ url("admin_manufacturer_view", {id: entity.manufacturer.id}) }}"  class="fz-h4 mb-n">
                            {{ entity.manufacturer.name }}
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
            {% if entity.shortDescription is not empty %}
                <p>{{ entity.shortDescription }}</p>
            {% endif %}
            {% if entity.description is not empty %}
                <p>{{ entity.description }}</p>
            {% endif %}
        </div>
    </div>
	<div class="col-1-3">
        <div class="box">
            <dl class="list">
                {% if not entity.hasVariants %}
                    <dt class="fz-s c-secondary">{{ 'Price'|trans }}</dt>
                    <dd class="fz-h3">{{ entity.price|print_money }}</dd>
                    {% if entity.reducedPrice %}
                        <dt class="fz-s c-secondary">{{ 'Reduced Price'|trans }}</dt>
                        <dd class="fz-h3">{{ entity.reducedPrice|print_money }}</dd>
                    {% endif %}
                    <dt class="fz-s c-secondary">{{ 'Stock'|trans }}</dt>
                    <dd class="fz-h3">{{ entity.stock }}</dd>
                {% endif %}
                {% if entity.dimensions is not empty %}
                    <dt class="fz-s c-secondary">{{ 'Dimensions'|trans }}</dt>
                    <dd>{{ entity.dimensions }}</dd>
                {% endif %}
                <dt class="fz-s c-secondary">{{ 'Created at'|trans }}</dt>
                <dd>{{ entity.createdAt|date('Y/m/d - H:i:s') }}</dd>
                <dt class="fz-s c-secondary">{{ 'updatedAt'|trans }}</dt>
                <dd>{{ entity.updatedAt|date('Y/m/d - H:i:s') }}</dd>
                {% if entity.metaTitle is not empty %}
                    <dt class="fz-s c-secondary">{{ 'MetaTitle'|trans }}</dt>
                    <dd>{{ entity.metaTitle }}</dd>
                {% endif %}
                {% if entity.metaDescription is not empty %}
                    <dt class="fz-s c-secondary">{{ 'MetaDescription'|trans }}</dt>
                    <dd>{{ entity.metaDescription }}</dd>
                {% endif %}
                {% if entity.metaDescription is not empty %}
                    <dt class="fz-s c-secondary">{{ 'MetaDescription'|trans }}</dt>
                    <dd>{{ entity.metaDescription }}</dd>
                {% endif %}
                {% if entity.metaKeywords is not empty %}
                    <dt class="fz-s c-secondary">{{ 'MetaKeywords'|trans }}</dt>
                    <dd>{{ entity.metaKeywords }}</dd>
                {% endif %}
            </dl>
        </div>
    </div>
</div>
{% endblock content %}
