{% extends 'AdminCoreBundle::Common/listComponent.html.twig' %}


{% block title %}
    {{ 'Configuration list'|trans }}
{% endblock title %}


{% block table_head %}
    {% include "@AdminCore/Tables/head.html.twig" with {
        rows: {
            "id": {width:"25"},
            "namespace": {},
            "parameter": {},
            "value": {},
            "enabled": {width:"25"}
        },
        class: "configuration",
    } %}
{% endblock table_head %}


{% block table_body_row %}
    <td>
        <a href="{{ url("admin_configuration_view", {"id": entity.id}) }}">
            {{ entity.id }}
        </a>
    </td>
    <td>
        {{ entity.namespace }}
    </td>
    <td>
        {{ entity.parameter }}
    </td>
    <td>
        {{ entity.value }}
    </td>
    <td>
        {% if entity.enabled %}<span class="label label-success">true</span>{% else %}<span class="label label-danger">false</span>{% endif %}
    </td>

    {% include "@AdminCore/Tables/actions.html.twig" with {
        entity: entity,
        class: "configuration",
    } %}
{% endblock table_body_row %}


{% block table_paginator_links %}
    {% set url = 'admin_configuration_list' %}
    {{ parent() }}
{% endblock table_paginator_links %}


{% block table_buttons %}
    <a href="{{ url("admin_configuration_new") }}"type="button" class="btn btn-success">{{ "New configuration"|trans }}</a>
{% endblock table_buttons %}
