<li class="parent">
    <a href="{{ url("admin_banner_list") }}">
        <i class="fa fa-folder"></i>
        <span>{{ 'Banners'|trans }}</span>
    </a>

    <ul class="sub-menu">
        <li><a href="{{ url("admin_banner_zone_list") }}">{{ 'Banner Zones'|trans }}</a></li>
        <li><a href="{{ url("admin_banner_list") }}">{{ 'Banners'|trans }}</a></li>
    </ul>
</li>
