{% extends 'AdminCoreBundle::Common/viewComponent.html.twig' %}


{% block title %}
    {{ 'Order'|trans }} - #{{ entity.id }}
{% endblock title %}


{% block view_buttons %}
    <div class="spacer spacer-bottom">
        <a href="{{ url("admin_order_list") }}" class="btn">{{ 'View all'|trans }}</a>
        <a href="{{ url("admin_order_edit", {"id": entity.id}) }}" class="btn btn-primary">{{ 'Edit'|trans }}</a>
        <a href="{{ url("admin_order_delete", {"id": entity.id}) }}" class="btn btn-danger">{{ 'Delete'|trans }}</a>
    </div>
{% endblock view_buttons %}


{% block content %}
    <tr>
        <div class="alert alert-success alert-white rounded">
            <div class="icon"><i class="fa fa-check"></i></div>
            Last order history: <strong>{{ entity.orderHistories.last.state }}</strong>
        </div>
    </tr>

    <tr>
        <td>{{ 'customer'|trans }}</td>
        <td>
            <a href="{{ url("admin_customer_view", {id: entity.customer.id}) }}">
                {{ entity.customer.username }}
            </a>
        </td>
    </tr>
    <tr>
        <td>{{ 'orderLines'|trans }}</td>
        <td>
            <ul>
                {% for orderLine in entity.orderLines %}
                    <li>
                        <a href="{{ url("admin_product_view", {id: orderLine.product.id}) }}">
                            {{ orderLine.product.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <td>{{ 'coupons'|trans }}</td>
        <td>
            <ul>
                {% for coupon in coupons %}
                    <li>
                        <a href="{{ url("admin_coupon_view", {id: coupon.id}) }}">
                            {{ coupon.code }} - {{ coupon.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <td>{{ 'productAmount'|trans }}</td>
        <td>{{ entity.productAmount|print_money }}</td>
    </tr>
    <tr>
        <td>{{ 'couponAmount'|trans }}</td>
        <td>{{ entity.productAmount|print_money }}</td>
    </tr>
    <tr>
        <td>{{ 'amount'|trans }}</td>
        <td>{{ entity.amount|print_money }}</td>
    </tr>
    <tr>
        <td>{{ 'createdAt'|trans }}</td>
        <td>{{ entity.createdAt|date('Y.m.d - H:i:s') }}</td>
    </tr>
    <tr>
        <td>{{ 'updatedAt'|trans }}</td>
        <td>{{ entity.updatedAt|date('Y.m.d - H:i:s') }}</td>
    </tr>
{% endblock content %}
