{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block breadcrumb %}
    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
        breadcrumb: {
            "Template": {
                "active" : true
            }
        }
    } %}
{% endblock breadcrumb %}


{% block content %}

    <form class="form-templates" data-tc-modules="form-configuration">
        {% for template in templates %}
            {% set templateBundle = template.bundle %}
            {% set assetPath = template.assetPath %}
            <article class="box-background">
                <h4 class="fw-n">{{ templateBundle }}</h4>

                <a href="{{ asset('bundles/' ~ assetPath ~ '/preview.jpg') }}" data-tc-modules="modal" class="thumbnail mt-s mb-l">
                    <img width="100%" src="{{ asset('bundles/' ~ assetPath ~ '/preview.jpg') }}" />
                </a>
                <input type="hidden" id="url-{{ templateBundle }}-store.template" value="{{ url("admin_configuration_update", {"name": "store.template"}) }}" />
                <a href="{{ asset('bundles/' ~ assetPath ~ '/preview/index.html') }}" data-tc-modules="modal" data-tc-width="95%" data-tc-height="95%" class="button">Preview</a>
                <div class="fl-r pt-s">
                    Enable:
                    <div class="switch">
                        <input type="radio" name="store.template" id="{{ templateBundle }}-store.template" value="{{ templateBundle }}"{% if getConfiguration('store.template') == templateBundle %} checked="checked"{% endif %} />
                        <label for="{{ templateBundle }}-store.template" class="mr-n"></label>
                    </div>
                </div>

            </article>
        {% endfor %}
    </form>

{% endblock content %}
