{% extends 'AdminCoreBundle::layout.html.twig' %}


{% block breadcrumb %}

    {% include '@AdminCore/Common/breadcrumb.html.twig' with {
        breadcrumb: [
            { name: 'admin.menu.design'|trans, active: false },
            { name: 'admin.template.plural'|trans, active: true },
        ],
    } %}

{% endblock breadcrumb %}


{% block content %}

    <form class="form-grid form-save-on-edit" data-fc-modules="form-save-on-edit">
        {% for template in templates %}
            {% set templateBundle = template.getBundleName %}
            {% set templateAssetPath = assetPaths[template.hash] %}
            {% set assetPath = "bundles/#{templateAssetPath}" %}
            <article class="box-background">
                <h4 class="fw-n">{{ templateBundle }}</h4>
                {% set imageUrl = asset("#{assetPath}/preview.jpg") %}
                <a href="{{ imageUrl }}" data-fc-modules="modal" class="thumbnail mt-s mb-l">
                    <img width="100%" src="{{ imageUrl }}" />
                </a>
                <input type="hidden" id="url-{{ templateBundle }}-store.template" value="{{ url('admin_template_assign', { hash: template.hash}) }}" />
                <a href="{{ asset("#{assetPath}/preview/index.html") }}" data-fc-modules="modal" data-fc-width="95%" data-fc-height="95%" class="button">
                    {{ 'admin.template.action.preview'|trans }}
                </a>
                <div class="fl-r pt-s">
                    {{ 'admin.template.label.status'|trans }}
                    <div class="switch">
                        <input type="radio" name="store.template" id="{{ templateBundle }}-store.template" value="{{ templateBundle }}"{% if template.hash == store.template %} checked="checked"{% endif %} />
                        <label for="{{ templateBundle }}-store.template" class="mr-n"></label>
                    </div>
                </div>

            </article>
        {% endfor %}
    </form>

{% endblock content %}
