{% extends 'AdminCoreBundle::layout.html.twig' %}


{% block content_title %}
    {{ 'Template Zone'|trans }}
{% endblock content_title %}


{% block breadcrumb %}
    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
        breadcrumb: {
            "Template": {
                "active" : true
            }
        }
    } %}
{% endblock breadcrumb %}


{% block content %}

    <form class="form-configuration" data-tc-modules="form-configuration">
        {% for template in templates %}

            {% set templateBundle = template.bundle %}
            {% set assetPath = template.assetPath %}

            <fieldset class="mb-n">
                <div class="grid">
                    <div class="col-1-3">
                        <div class="box-none">
                            <h3 class="fw-n">{{ templateBundle }}</h3>
                            <li>
                                <input type="hidden" id="url-{{ templateBundle }}-store.template" value="{{ url("admin_configuration_update", {"name": "store.template"}) }}" />
                                <label for="{{ templateBundle }}-store.template" class="d-n">{{ templateBundle }}</label>
                                <input type="radio" name="store.template" id="{{ templateBundle }}-store.template" value="{{ templateBundle }}"{% if getConfiguration('store.template') == templateBundle %} checked="checked"{% endif %} /> Click for enabling this template
                            </li>
                        </div>
                    </div>
                    <div class="col-2-3">
                        <img width="100%" src="{{ asset('bundles/' ~ assetPath ~ '/preview.jpg') }}" />
                    </div>
                </div>
            </fieldset>

        {% endfor %}
    </form>

{% endblock content %}
