{% extends '@StoreTemplate/Layout/_layout.html.twig' %}

{% block breadcrumb_container %}{% endblock breadcrumb_container %}

{% block content %}
    <h2>{{ 'template.store_template_bundle.address.list.addresses'|trans }}</h2>
    {% if addresses|length > 0 %}
    <div class="{% if addresses|length > 1 %}address-list{% endif %} address-list-profile">
        <a href="{{ url('store_address_new') }}" class="button button-secondary address-list-add" data-test="add-address">{{ 'template.store_template_bundle.address.list.add_new_address'|trans }}</a>
        {% for address in addresses %}
            {% include "@StoreTemplate/Modules/_address-item.html.twig" with {"address": address} %}
        {% endfor %}
    </div>
    {% else %}
        <div class="empty-page" data-test="empty-addresses-page">
            <i class="fa fa-map-marker fa-3x"></i>
            <h2 class="product-title">{{ "template.store_template_bundle.address.list.no_addresses"|trans}}</h2>
            <a href="{{ url('store_address_new') }}" class="button button-secondary" data-test="add-address">{{ "template.store_template_bundle.address.list.add_new_address"|trans }}</a>
        </div>

    {% endif %}
{% endblock content %}
