{#
 # Base view for a Product detail page with no variants.
 #}
{% extends '@StoreTemplate/Layout/_layout.html.twig' %}


{% block title %}Bamboo - {{ 'template.store_template_bundle.product.view_item.product'|trans }} {{ product.name }}{% endblock title %}


{% block content %}
    <div class="product-view">
       <h1 class="product-title">{{ product.name }}</h1>
       <div class="grid">
           <div class="col-1-2">
            {% block product_image %}
               <a href="{{ product.images|length > 0 ? product.images.first|resize({
                   'width': 1024,
                   'height': 1024,
                   'type': 5
               }) : 'http://placehold.it/772x604' }}" alt="{{ product.name }}" class="product-thumbnail">
                {% if product.reducedPrice.amount > 0 %}<span class="product-badge">{{ 'template.store_template_bundle.product.view_item.offer'|trans }}</span> {% endif %}
                   <img src="{{ product.images|length > 0 ? product.images.first|resize({
                       'width': 772,
                       'height': 604,
                       'type': 5
                   }) : 'http://placehold.it/772x604' }}" alt="{{ product.name }}"/>
               </a>
            {% endblock %}
           </div>
           <div class="col-1-2">
               {% block product_info %}
                   {% block product_info_add_basket %}
                       <div class= "product-to-basket">
                           <h5 class="product-title desktop">{{ product.name }}</h5>
                           <p class="product-actions">
                               {% if product.reducedPrice.amount > 0 %}
                                   <span class="product-pricing product-pricing-before">{{ product.price|print_convert_money() }}</span>
                                   <span class="product-pricing product-pricing-now">{{ product.reducedPrice|print_convert_money() }}</span>
                               {% else %}
                                   <span class="product-pricing">{{ product.price|print_convert_money() }}</span>
                               {% endif %}
                               <a title="Add {{ product|purchasable_name }} to cart"
                                  class="fa fa-shopping-cart button button-secondary"
                                  href="{{ url('store_cart_add_product', { id: product.id }) }}"> {{ 'template.store_template_bundle.product.view_item.add_to_cart'|trans }}</a>
                           </p>
                       </div>
                   {% endblock %}

                   {% block product_info_details %}
                       <h3 class="product-title">{{ 'template.store_template_bundle.product.view_item.description'|trans }}</h3>
                       <p>{{ product.description }}</p>

                       <h3 class="product-title">{{ 'template.store_template_bundle.product.view_item.stock'|trans }}</h3>

                       {% if product.stock %}
                           <p><i class="fa fa-check"></i> {{ 'template.store_template_bundle.product.view_item.in_stock'|trans }}</p>
                       {% else %}
                           <p><i class="fa fa-times"></i>{{ 'template.store_template_bundle.product.view_item.not_available'|trans }}</p>
                       {% endif %}

                       <h3 class="product-title">{{ 'template.store_template_bundle.product.view_item.delivery'|trans }}</h3>

                       <p><i class="fa fa-truck"></i> {{ 'template.store_template_bundle.product.view_item.usually_dispatched_24_hours'|trans }}</p>
                   {% endblock %}
               {% endblock %}
           </div>
       </div>
    </div>
    <div class="grid">
        <div class="col-1-1">
            {{ elcodi_hook("store.product_view_bottom", {
                'product': product,
            }) }}
        </div>
    </div>
{% endblock content %}

{% block prefooter %}
    {% include "@StoreTemplate/Modules/_product-related.html.twig" with {'products' : related_products} %}
{% endblock prefooter %}
