{% extends '@StoreTemplate/Layout/_layout.html.twig' %}


{% form_theme form '@StoreTemplate/fields.html.twig' %}


{% block content_title %}{{ app.user.name }}{% endblock content_title %}


{% block content %}
    <div class="container">
        <div class="row">

            {{ form_start(form) }}

            <div class="span6">
                <div class="member-box">

                    <h2>{{ "Profile"|trans }}</h2>

                    <p>
                        {{ form_row(form.firstname) }}
                    </p>
                    <p>
                        {{ form_row(form.lastname) }}
                    </p>
                    <p>
                        {{ form_row(form.email) }}
                    </p>
                    <p>
                        {{ form_row(form.password.first) }}
                    </p>
                    <p>
                        {{ form_row(form.password.second) }}
                    </p>
                    <p class="buttons">
                        {{ form_row(form.send, { 'attr': {'class': 'button button-primary' } }) }}
                    </p>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock content %}
