{% extends '@StoreTemplate/Layout/_layout.html.twig' %}

{% form_theme form '@StoreTemplate/fields.html.twig' %}

{% block breadcrumb_container %}{% endblock breadcrumb_container %}

{% block content %}{% endblock content %}

{% block prefooter %}
    <div class="form">
        <div class="grid">
            <div class="col-1-2">
                <legend><i class="fa fa-sign-in"></i> {{ "template.store_template_bundle.user.password.recover_password"|trans }}</legend>
                {{ form_start(form) }}
                    {{ form_row(form.password) }}
                <p class="buttons">
                    {{ form_row(form.send, { 'attr': {'class': 'button button-secondary' } } ) }}
                </p>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock prefooter %}
