{% extends 'StoreCoreBundle::base.html.twig' %}

{% block head_style %}
    {% stylesheets filter='cssrewrite' output="css/*.css"
       'bundles/storecore/css/bootstrap.css'
       'bundles/storecore/css/entypo.css'
       'bundles/storecore/css/686tees.css'
     %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!-- External Font assets -->
    <link href="http://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" type="text/css" />
{% endblock head_style %}

{% block body %}
    {% block container %}
    <div class="container">
        {% block header %}

            <!-- Site Top -->

            {% render url('store_user_top') %}

            <!-- Header -->

            <div class="row">

                <div class="span4">

                    <p class="logo">
                        <span class="entypo heart"></span> Vamboo
                    </p>

                </div>

                <div class="span4">

                    <p class="strapline">
                        When excellence meets bauty<br />
                        <span>Becomes something unstoppable</span>
                    </p>

                </div>

                <div class="span4">

                    <div class="row">

                        <div class="span2 offset2 mini-basket">

                            <p class="mini-basket-title"><a href="basket.html"><span class="entypo cart"></span> Basket</a></p>

                            <div class="row">

                                <div class="span1">
                                    <p class="mini-basket-summary">
                                        Price<br />
                                        <span>&pound;0.00</span>
                                    </p>
                                </div>

                                <div class="span1">
                                    <p class="mini-basket-summary">
                                        Items<br />
                                        <span>0</span>
                                    </p>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <!-- Menu -->

            <div class="row">
                <div class="span12">
                    <ul class="main-nav clearfix">

                        <li class="active"><a href="{{ url('store_homepage') }}">New</a></li>
                        {% render url('store_categories_nav') %}

                    </ul>
                </div>
            </div>

        {% endblock header %}
        {% block content %}{% endblock content %}
        {%  block footer %}
            <div class="row footer">
                <div class="span6">

                    <ul class="footer-nav">
                        <li><a href=""><img src="{{ asset('bundles/storecore/flags/gb.png') }}" alt="GBP" /></a> &nbsp; <a href=""><img src="{{ asset('bundles/storecore/flags/us.png') }}" alt="USD" /></a> &nbsp; <a href=""><img src="{{ asset('bundles/storecore/flags/europeanunion.png') }}" alt="Euro" /></a></li>
                        <li><a href="content.html">Terms &amp; Conditions</a></li>
                        <li><a href="content.html">Delivery Information</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>

                </div>

                <div class="span6 footer-right">

                    <p>
                        &copy; 686 Tees
                    </p>

                </div>
            </div>
        {% endblock footer %}
    </div>
    {% endblock container %}
{% endblock body %}