{% extends 'AdminCoreBundle::layouts/center_box.html.twig' %}


{% block content %}

    {{ form_start(form, {
        "attr": {
            "class": "form-horizontal",
            "style": "margin-bottom: 0px !important;"
        }
    }) }}
        <fieldset>
            <legend>{{ 'Forgot your password?'|trans }}</legend>
            <p>{{ "Don't worry, we'll send you an email to reset your password."|trans }}</p>
            <ol>
                <li>
                    {{ form_row(form.email, {
                        "attr": {
                            "class": "form-control",
                            "placeholder": "Email"|trans
                        }
                    }) }}
                </li>
            </ol>
            <button type="submit" class="button-main">{{ "Remember"|trans }}</button>
        </fieldset>
    {{ form_end(form) }}
{% endblock content %}
