{% set lineObject = line.vars.data %}

<tr>
    <td class="image">
        <a href="{{ url('store_product_view', {
            slug: lineObject.product.slug,
            productId: lineObject.product.id
        }) }}">
            <img src="{{ lineObject.product.principalImage|resize({
                width: 80,
                height: 80,
                type: 5 })
            }}" alt="{{ lineObject.product.name }}" />
        </a>
    </td>
    <td class="title">
        <a href="{{ url('store_product_view', {
            slug: lineObject.product.slug,
            productId: lineObject.product.id
        }) }}">{{ lineObject.product.name }}</a>
    </td>
    <td class="qty">
        {{ form_row(line.quantity) }}
    </td>
    <td class="price">{{ lineObject.amount|print_money('USD') }}</td>
    <td class="total">{{ lineObject.amount|print_money('USD') }}</td>
    <td class="remove">
        <a href="{{ url('store_cartline_remove', { cartLineId: lineObject.id }) }}">
            <span class="entypo trash"></span>
        </a>
    </td>
</tr>
