<div id="js-location-selectors" data-url="{{ url('location_selectors') }}" class="grid">
    <div class="col-1-1">
        {% for select in selects %}
            <div class="form-inline">
                <label for="{{ select.type }}">{{ select.type|capitalize|trans }}</label>
                <select{% if select.type == maxLocationType %} data-max-type{% endif %}>
                    <option>Select one</option>
                    {% for key, value in select.options %}
                        <option value="{{ key }}"{% if key == select.selected %} selected{% endif %}>
                            {{ value }}
                        </option>
                    {% endfor%}
                </select>
            </div>
        {% endfor %}
    </div>
</div>
