<dl class="coupon-item">
    <dt class="coupon-item-code">{{ 'Coupon'|trans }}</dt>
    <dd class="coupon-item-code"><strong>{{ coupon.code }}</strong></dd>
    <dt class="coupon-item-name">{{ 'Description'|trans }}</dt>
    <dd class="coupon-item-name">{{ coupon.name }}</dd>
    <dt class="coupon-item-units">{{ 'Units'|trans }}</dt>
    <dd class="coupon-item-units">1</dd>
    {% if coupon.type == '2'%}
        {% set couponValue =  coupon.discount ~ '%' %}
    {% else %}
        {% set couponValue =  '-' ~ coupon.absolutePrice|print_convert_money() %}
    {% endif %}
    <dt class="coupon-item-value">{{ 'Value'|trans }}</dt>
    <dd class="coupon-item-value">{{ couponValue }}</dd>
    <dt class="coupon-item-total">{{ 'Total'|trans }}</dt>
    <dd class="coupon-item-total">-{{ coupon.absolutePrice|print_convert_money() }}</dd>
    <dt class="coupon-item-remove">{{ 'Remove'|trans }}</dt>
    <dd class="coupon-item-remove"><a href="{{ url('store_coupon_remove', { code: coupon.code }) }}" class="fa fa-trash-o button"></a></dd>
</dl>