<div id="mobile-menu" class="grid mobile">
    {% render url('store_categories_nav') %}
</div>
<footer class="footer">
    <div class="grid">
        <div class="col-1-1">
            <p><strong>{{ elcodi_config('store.leitmotiv') }}</strong></p>
        </div>
    </div>
    <div class="grid">
        <div class="col-1-4">
            <ul>
                <li><strong>{{ 'Shopping with us'|trans }}</strong></li>
                <li><a href="#">{{ "Terms &amp; Conditions"|trans }}</a></li>
                <li><a href="#">{{ "Delivery Information"|trans }}</a></li>
                <li><a href="#">{{ "Secure payment"|trans }}</a></li>
                <li><a href="#">{{ "Contact"|trans }}</a></li>
            </ul>
        </div>
        <div class="col-1-4">
            <ul>
                <li><strong>{{ 'Selling with us'|trans }}</strong></li>
                <li><a href="#">{{ "Why join"|trans }} {{ elcodi_config('store.name') }}</a></li>
            </ul>
        </div>
        <div class="col-1-4">
            <ul>
                <li><strong>{{ 'About us'|trans }}</strong></li>
                <li><a href="#">{{ "Who we are"|trans }}</a></li>
                <li><a href="#">{{ elcodi_config('store.name') }} {{ "in the press"|trans }}</a></li>
                <li><a href="#">{{ "Blog"|trans }}</a></li>
            </ul>
        </div>
        <div class="col-1-4">
            <ul>
                <li><strong>{{ 'Service'|trans }}</strong></li>
                <li><a href="#">{{ "Contact us"|trans }}</a></li>
                <li><a href="#">{{ elcodi_config('store.phone') }}</a></li>
                <li><a href="#">{{ elcodi_config('store.email') }}</a></li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="grid">
        <div class="col-1-4">
            <ul>
                <li>{{ 'NEED HELP?'|trans }}</li>
                <li>Call {{ elcodi_config('store.phone') }}</li>
            </ul>
        </div>
        <div class="col-1-4">
            <ul>
                <li>{{ 'QUICK DELIVERY'|trans }}</li>
                <li>{{ "Why join"|trans }} {{ elcodi_config('store.name') }}</li>
            </ul>
        </div>
        <div class="col-1-4">
            <ul>
                <li>{{ 'FREE RETURNS'|trans }}</li>
                <li>{{ 'Within 15 days'|trans }}</li>
            </ul>
        </div>
        <div class="col-1-4">
            <ul>
                <li>{{ 'SECURE'|trans }}</li>
                <li>{{ 'PAYMENT'|trans }}</li>
            </ul>
        </div>
    </div>
</footer>
