<div id="mobile-menu" class="grid mobile">
    {% render url('store_categories_nav') %}
</div>
<footer class="footer">
    <div class="grid">
        <div class="col-1-1">
            <p><strong>{{ elcodi_config('store.leitmotiv') }}</strong></p>
        </div>
    </div>
    <div class="grid">
        {% set last_post = elcodi_blog_pages()[0] %}
        {% if last_post %}
            <div class="col-1-3">
                <h5>{{ 'template.store_template_bundle.footer.latest_news'|trans }}</h5>
                <ul>
                    <li>
                        <a href="{{ url("store_blog_post_view", {
                            "id": last_post.id,
                            "slug": last_post.path
                        }) }}">
                            <strong>{{ last_post.title }}</strong>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('store_blog_view') }}">{{ 'template.store_template_bundle.footer.more'|trans }}</a>
                    </li>
                </ul>
            </div>
        {% endif %}
        <div class="col-1-3">
            <h5>{{ 'template.store_template_bundle.footer.quick_links'|trans }}</h5>
            <ul>
                {% set pages = elcodi_footer_pages() %}

                {% for page in pages %}
                    <li><a href="{{ url("elcodi_page_render_view", {"path": page.path}) }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% set social_twitter = elcodi_config('store.social_twitter') %}
        {% set social_facebook = elcodi_config('store.social_facebook') %}
        {% if social_twitter != '' or social_facebook != '' %}
        <div class="col-1-3">
            <h5>{{ 'template.store_template_bundle.footer.follow_us'|trans }}</h5>
            <ul>
                {% if social_twitter != '' %}
                    <li>
                        <a href="http://twitter.com/{{ social_twitter }}">Twitter</a>
                    </li>
                {% endif %}

                {% if social_facebook != '' %}
                    <li>
                        <a href="http://facebook.com/{{ social_facebook }}">Facebook</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
</footer>
