{% if shippingRange is null %}
    {% if app.user is null %}
        <p class="message message-info">{{ "After you login or add your shipping address the shipping costs will be calculated."|trans }}</p>
    {% else %}
        {% if cart.cheapestShippingRange is not null %}
            {% set shippingRange = cart.cheapestShippingRange %}
            <p class="cart-shipping"><span>{{ 'Carrier'|trans }} ({{ shippingRange.carrier.name }}) {{ "from"|trans }} </span> {{ shippingAmount|print_convert_money() }}</p>
        {% elseif cart.deliveryAddress is null  %}
            <p class="message message-info">{{ "After you set your address, shipping costs will be calculated."|trans }}</p>
        {% else %}
            <p class="message message-ko">{{ "No shipping matching. Please contact us before finish your shipping."|trans }}</p>
        {% endif %}
    {% endif %}
{% else %}
    <p class="cart-shipping"><span>{{ 'Carrier'|trans }} ({{ shippingRange.carrier.name }}) </span>{{ shippingAmount|print_convert_money() }}</p>

{% endif %}
