{% if shippingRange is null %}

    <span>{{ "You need to specify a delivery Address"|trans }}</span>

{% else %}

    <dl class="coupon-item">
        <dt class="coupon-item-carrier">{{ 'Carrier'|trans }}</dt>
        <dd class="coupon-item-carrier"><strong>{{ shippingRange.carrier.name }}</strong></dd>
        <dt class="coupon-item-total">{{ 'Total'|trans }}</dt>
        <dd class="coupon-item-total">{{ shippingAmount|print_convert_money() }}</dd>
    </dl>

{% endif %}
