<div class="span4 product-listing">

    {% set productRoute = url('store_product_view', {
        'slug': product.slug,
        'id': product.id
    }) %}

    <p class="title">
        <a href="{{ productRoute }}">{{ product.name }}</a>
    </p>

    <a href="{{ productRoute }}">
        <img class="image" src="{{ product.principalImage|resize({
            'width': 372,
            'height': 291,
            'type': 5
        }) }}" alt="{{ product.name }}" />
    </a>

    <p class="price">

        {{ product.price|print_convert_money() }}

        {% if product.price.currency != currency_wrapper.loadCurrency %}

            - <span class="original-price">({{ product.price|print_money() }})</span>

        {% endif %}

        <a class="btn btn-addcart btn-primary" href="{{ url('store_cart_add_product', { id: product.id }) }}">
            <span class="entypo cart"></span>
        </a>
        <a class="btn btn-view btn-grey" href="{{ productRoute }}">
            <span class="entypo search"></span>
        </a>
    </p>
</div>
