<div class="span4 product-listing">
    <p class="title">
        <a href="{{ url('store_product_view', {
            'slug': product.slug,
            'productId': product.id
        }) }}">{{ product.name }}</a>
    </p>

    <a href="{{ url('store_product_view', {'slug': product.slug, 'productId': product.id}) }}">
        <img class="image" src="{{ product.principalImage|resize({
            'width': 372,
            'height': 291,
            'type': 5
        }) }}" alt="{{ product.name }}" />
    </a>

    <p class="price">
        {{ product.price|print_price('USD', 'USD') }}
        <a class="btn btn-addcart btn-primary" href="{{ url('cart_add_product', { productId: product.id }) }}">
            <span class="entypo cart"></span>
        </a>
        <a class="btn btn-view btn-grey" href="{{ url('store_product_view', {
            'slug': product.slug,
            'productId': product.id
        }) }}">
            <span class="entypo search"></span>
        </a>
    </p>
</div>
