{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}

{% form_theme form 'AdminCoreBundle::Forms/fields.html.twig' %}

{% block title %}
    {{ 'Edit NewsletterSubscription'|trans }} - {{ entity.id }}
{% endblock title %}

{% block content %}

    {{ form_start(form, {'action': url('admin_newsletter_subscription_update', {
        'id': entity.id
    })}) }}

        {{ form_row(form.email) }}
        {{ form_row(form.hash) }}
        {{ form_row(form.reason) }}
        {{ form_row(form.createdAt) }}
        {{ form_row(form.updatedAt) }}
        {{ form_row(form.enabled) }}
        {{ form_row(form.language) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="button-primary button-fat pv-s mr-l">{{ 'Update'|trans }}</button>
                <a href="{{ path('admin_newsletter_subscription_list') }}">{{ 'Cancel'|trans }}</a>
            </div>
        </div>

    {{ form_end(form) }}

{% endblock content %}
