<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{ currentCurrency.iso }} {{ currentCurrency.symbol }}&nbsp;<b class="caret"></b>
    </a>
    <ul class="dropdown-menu col-menu-1">
        {% for currency in currencies %}
            <li>
                <a href="{{ url("admin_currency_switch", {iso: currency.iso}) }}">
                    {{ currency.iso }} {{ currency.symbol }}
                </a>
            </li>
        {% endfor %}
    </ul>
</li>
