{% extends 'AdminCoreBundle::Common/viewComponent.html.twig' %}

{% block title %}
    {{ 'Order'|trans }} - {{ entity }}
{% endblock title %}

{% block content %}


    <tr>
        <td>{{ 'quantity'|trans }}</td>
        <td>
            {% include 'AdminCoreBundle::Common/viewField.html.twig' with {
            'entity': entity,
            'field': 'quantity',
            } %}
        </td>
    </tr>
    <tr>
        <td>{{ 'productAmount'|trans }}</td>
        <td>
            {% include 'AdminCoreBundle::Common/viewField.html.twig' with {
            'entity': entity,
            'field': 'productAmount',
            } %}
        </td>
    </tr>
    <tr>
        <td>{{ 'couponAmount'|trans }}</td>
        <td>
            {% include 'AdminCoreBundle::Common/viewField.html.twig' with {
            'entity': entity,
            'field': 'couponAmount',
            } %}
        </td>
    </tr>
    <tr>
        <td>{{ 'amount'|trans }}</td>
        <td>
            {% include 'AdminCoreBundle::Common/viewField.html.twig' with {
            'entity': entity,
            'field': 'amount',
            } %}
        </td>
    </tr>
    <tr>
        <td>{{ 'createdAt'|trans }}</td>
        <td>
            {% include 'AdminCoreBundle::Common/viewField.html.twig' with {
            'entity': entity,
            'field': 'createdAt',
            } %}
        </td>
    </tr>
    <tr>
        <td>{{ 'updatedAt'|trans }}</td>
        <td>
            {% include 'AdminCoreBundle::Common/viewField.html.twig' with {
            'entity': entity,
            'field': 'updatedAt',
            } %}
        </td>
    </tr>
    <tr>
        <td>{{ 'customer'|trans }}</td>
        <td>
            {% include 'AdminCoreBundle::Common/viewField.html.twig' with {
            'entity': entity,
            'field': 'customer',
            } %}
        </td>
    </tr>
    <tr>
        <td>{{ 'cart'|trans }}</td>
        <td>
            {% include 'AdminCoreBundle::Common/viewField.html.twig' with {
            'entity': entity,
            'field': 'cart',
            } %}
        </td>
    </tr>
    <tr>
        <td>{{ 'lastOrderHistory'|trans }}</td>
        <td>
            {% include 'AdminCoreBundle::Common/viewField.html.twig' with {
            'entity': entity,
            'field': 'lastOrderHistory',
            } %}
        </td>
    </tr>
    <tr>
        <td>{{ 'orderLines'|trans }}</td>
        <td>
            {% include 'AdminCoreBundle::Common/viewField.html.twig' with {
            'entity': entity,
            'field': 'orderLines',
            } %}
        </td>
    </tr>
    <tr>
        <td>{{ 'orderHistories'|trans }}</td>
        <td>
            {% include 'AdminCoreBundle::Common/viewField.html.twig' with {
            'entity': entity,
            'field': 'orderHistories',
            } %}
        </td>
    </tr>
    <tr>
        <td>{{ 'currency'|trans }}</td>
        <td>
            {% include 'AdminCoreBundle::Common/viewField.html.twig' with {
            'entity': entity,
            'field': 'currency',
            } %}
        </td>
    </tr>

    <tr>
        <td>
            <a href="{{ url("admin_order_edit", {"id": entity.id}) }}" type="button" class="btn btn-primary btn-flat">Edit</a>
            <a href="{{ url("admin_order_delete", {"id": entity.id}) }}" type="button" class="btn btn-danger btn-flat">Delete</a>
        </td>
    </tr>

{% endblock content %}
