<div class="brick brick-default">
    <a class="wrap-media wrap-media-overlap" href="{{ url("store_product_view", { 'product_id': product.id, 'slug': product.slug }) }}">
        {% if product.reducedPrice > 0 %}
            <i class="icon icon-offer-{{ app.request.locale }}"></i>
        {% endif %}
        <span class="btn btn-info btn-sm">
            {% trans %}_Details{% endtrans %}
            <i class="icon icon-arrow-right-white-sm"></i>
        </span>
        <img src="{{ product.principalImage|resize({'width':234, 'height':165, 'type':5}) }}"
             class="img-responsive"
             alt="{{ product.name }}">
    </a>
    <div class="brick-info">
        <span class="brick-name">{{ product.name }}</span>
        <span class="brick-desc">{{ product.shortDescription|truncate() }}</span>
        <span class="brick-buy">
            <span class="brick-price price">
                {% if product.reducedPrice > 0 %}
                    <del>{{ product.reducedPrice }}€</del>
                {% endif %}
                <ins>{{ product.price }}€</ins>
            </span>
            {% if product_id is not null %}
            <a class="btn btn-primary btn-sm" href="{{ url('cart_add_product_checkout', {'product_id' : product.items.first.id}) }}">
                <i class="icon icon-shopping-cart-white-sm"></i>
                {% trans %}_Add{% endtrans %}
            </a>
            {% endif %}
        </span>
    </div>
</div>
