{#
 # View for a Product detail page with variants.
 #}
{% extends 'StoreProductBundle:Product:view.html.twig' %}

{% block product_info_add_basket %}{% endblock %}

{#
 # The product_info_details should now display a form
 # to select the product variant
 #}
{% block product_info_details %}
    {{ parent() }}

<h4>Choose a model</h4>

<p>This product has variants.</p>

<form enctype="multipart/form-data" id="variant-add-to-cart" class="variant-add-to-cart"
      data-action="add-to-cart" method="post" action="{{ url('store_cart_add_product', { id: product.id }) }}">

    <input name="add-cart-is-variant" value="1" type="hidden">

    {% for attribute in product.attributes %}

    <label for="variant-option-for-attribute[{{ attribute.id }}]">{{ attribute.name }}</label>

    <select name="variant-option-for-attribute[{{ attribute.id }}]" class="variant-option-select">
        {% for attributeValue in available_options(product, attribute) %}

            <option value="{{ attributeValue.id }}">
                {{ attributeValue.name }}
            </option>

        {% endfor %}
    </select>

    {% endfor %}

    <div id="add-basket-box-variant" class="add-basket-box clearfix">

        <p>
            <span class="box-product-name">{{ product.name }}</span> <br />
            <span class="box-product-price"></span>
        </p>
        <p>
            <label for="add-cart-quantity">Qty.</label>
            <input name="add-cart-quantity" class="w60" value="1" type="number">
        </p>
        <p>
            <input type="submit" class="btn btn-primary" value="Add to Cart">
        </p>

    </div>

</form>

{% endblock %}

{% block foot_script %}
    {{ parent() }}
    <script src="{{ asset('bundles/storeproduct/js/variantproduct.js') }}"></script>
{% endblock %}
