{#
 # Base view for a Product detail page with no variants.
 #}
{% extends 'StoreCoreBundle::layout.html.twig' %}


{% block title %}Bamboo - {{ 'Product'|trans }} {{ product.name }}{% endblock title %}


{% block content_title %}{{ product.name }}{% endblock content_title %}


{% block content %}
    <!-- Product Detail -->
    <div class="row">

        {% block product_image %}
        <div class="span8">
            <img class="product-image" src="{{ product.principalImage|resize({
                'width': 772,
                'height': 604,
                'type': 5
            }) }}" alt="{{ product.name }}"/>
        </div>
        {% endblock %}

        {% block product_info %}
        <div id="product-info"
             data-variant-info-url="{{ url('store_product_variant_info', {id: product.id}) }}"
             class="span4">

            {% block product_info_add_basket %}
            <div class="add-basket-box clearfix">

                <img src="{{ product.principalImage|resize({
                    'width': 60,
                    'height': 47,
                    'type': 5
                }) }}" alt="{{ product.name }}"/>

                <p>{{ product.name }}<br/>
                    <span>{{ product.price|print_convert_money() }}</span>
                </p>
                <a title="Add {{ product|purchasable_name }} to cart"
                   class="btn btn-addcart btn-primary"
                   href="{{ url('store_cart_add_product', { id: product.id }) }}">
                    <span class="entypo cart"></span>
                </a>

            </div>
            {% endblock %}

            {% block product_info_details %}
            <h3>{{ 'Description'|trans }}</h3>
            <p>{{ product.description }}</p>

            <h3>{{ 'Stock'|trans }}</h3>

            {% if product.stock %}
                <p>{{ 'This item is in stock and ready to ship!'|trans }}</p>
            {% else %}
                <p>{{ 'This item is currently not available'|trans }}</p>
            {% endif %}

            <h3>{{ 'Delivery'|trans }}</h3>

            <p>{{ 'Free Delivery is available on this item'|trans }}</p>
            <p>{{ 'Usually dispatched within 24 hours'|trans }}</p>
            {% endblock %}

        </div>
        {% endblock %}

    </div>
    <!-- Related products -->

    {% include "StoreProductBundle:Product:blocks/related.html.twig" with {
        'products' : related_products
    } %}
{% endblock content %}
