{% extends 'StoreCoreBundle::layout.html.twig' %}

{% block title %}Vamboo - Product {{ product.name }}{% endblock title %}

{% block content_title %}{{ product.name }}{% endblock content_title %}

{% block content %}

    <!-- Product Detail -->

    <div class="row">

        <div class="span8">
            <img class="product-image" src="{{ product.principalImage|resize({
                'width': 772,
                'height': 604,
                'type': 5
            }) }}" alt="{{ product.name }}"/>
        </div>

        <div class="span4">
            <div class="add-basket-box clearfix">

                <img src="{{ product.principalImage|resize({
                    'width': 60,
                    'height': 47,
                    'type': 5
                }) }}" alt="{{ product.name }}"/>

                <p>{{ product.name }}<br/>
                    <span>{{ product.price|print_price('USD', 'USD') }}</span>
                </p>
                <a class="btn btn-addcart btn-primary" href="{{ url('store_cart_add_product', { productId: product.id }) }}">
                    <span class="entypo cart"></span>
                </a>

            </div>

            <p>{{ product.description }}</p>

            <h3>Stock</h3>

            {% if product.stock %}
                <p>This item is in stock and ready to ship!</p>
            {% else %}
                <p>This item is currently not available</p>
            {% endif %}

            <h3>Delivery</h3>

            <p>Free Delivery is available on this item.</p>
            <p>Usually dispatched within 24 hours.</p>

        </div>

    </div>

    <!-- Related products -->

    {% include "StoreProductBundle:Product:blocks/related.html.twig" with {
        'products' : related_products
    } %}

{% endblock content %}
