{% extends 'StoreTemplateBundle::layout.html.twig' %}


{% block content_title %}{{ "Profile Managements"|trans }}{% endblock content_title %}


{% block content %}
    <div class="row">
        <div class="span6 offset3">
            <table class="basket-table">
                <tr>
                    <td class="title">
                        <a href="{{ path("store_user_profile") }}">{{ "Profile"|trans }}</a>
                    </td>
                </tr>
                <tr>
                    <td class="title">
                        <a href="{{ path("store_order_list") }}">{{ "My orders"|trans }}</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock content %}
