<ul class="user-nav">
    {% if customer.id %}
        <li>
            <a href="{{ url("store_user") }}">
                <strong>{{ customer.firstname }}</strong>
            </a>
        </li>
        <li>
            <a href="{{ url("store_logout") }}"><i class="fa fa-sign-out"></i> Logout</a>
        </li>
    {% else %}
        <li>
            <a href="{{ url("store_login") }}"><i class="fa fa-sign-in"></i> Login</a>
        </li>
        <li>
            <a href="{{ url("store_register") }}"><strong><i class="fa fa-user"></i> Create new account</strong></a>
        </li>
    {% endif %}
</ul>
