{% block component %}

    {%  if paginator|length > 0 %}

        {{ block("table_pagination") }}

        {{ block("table_content") }}

        {{ block("table_pagination") }}
    {% else %}

        {% macro no_items(item, items, no_item_url) %}
            <div class="no-items">
                <i class="icon-table no-items-icon"></i>
                <h2>{% trans with {'%items%': items|default('items') } %}There are not %items%{% endtrans %}</h2>
                <p><a href="{{ no_item_url|default('#') }}" class="button-primary"><i class="icon-plus"></i> {% trans with {'%item%': item|default('item') } %}Create my first %item%{% endtrans %}</a></p>
            </div>
        {% endmacro %}

        {% import _self as lists %}

        {{ block("no_items") }}

    {% endif %}

{% endblock component %}
