{% extends 'AdminCoreBundle::Common/viewComponent.html.twig' %}

{% block title %}
    {{ 'Page'|trans }} - {{ entity }}
{% endblock title %}


{% block view_buttons %}
    <div class="spacer spacer-bottom">
        <a href="{{ url("admin_page_list") }}" class="btn">{{ 'View all'|trans }}</a>
        <a href="{{ url("admin_page_edit", {"id": entity.id}) }}" class="btn btn-primary">{{ 'Edit'|trans }}</a>
        {% if entity.enabled %}
            <a href="{{ url("admin_page_disable", {"id": entity.id}) }}" class="btn btn-warning">{{ 'Disable'|trans }}</a>
        {% else %}
            <a href="{{ url("admin_page_enable", {"id": entity.id}) }}" class="btn btn-success">{{ 'Enable'|trans }}</a>
        {% endif %}
    </div>
{% endblock view_buttons %}


{% block content %}
    <tr>
        <td>{{ 'title'|trans }}</td>
        <td>{{ entity.title }}</td>
    </tr>
    <tr>
        <td>{{ 'content'|trans }}</td>
        <td>{{ entity.content }}</td>
    </tr>
    <tr>
        <td>{{ 'path'|trans }}</td>
        <td>{{ entity.path }}</td>
    </tr>
    <tr>
        <td>{{ 'createdAt'|trans }}</td>
        <td>{{ entity.createdAt|date('Y.m.d - H:i:s') }}</td>
    </tr>
    <tr>
        <td>{{ 'updatedAt'|trans }}</td>
        <td>{{ entity.updatedAt|date('Y.m.d - H:i:s') }}</td>
    </tr>
    <tr>
        <td>{{ 'enabled'|trans }}</td>
        <td>{% if entity.enabled %}<span class="label label-success">true</span>{% else %}<span class="label label-danger">false</span>{% endif %}</td>
    </tr>
{% endblock content %}
