{% extends 'AdminCoreBundle::layout.html.twig' %}


{% form_theme form 'AdminCoreBundle::Forms/fields.html.twig' %}


{% block breadcrumb %}

    {% include '@AdminCore/Common/breadcrumb.html.twig' with {
        breadcrumb: [
            { name: 'admin.address.edit.billing_address'|trans, active: true },
        ]
    } %}

{% endblock breadcrumb %}


{% block content %}

    {{ form_start(form) }}
    {{ form_row(form.name, { value: 'Store address' }) }}
    <fieldset>
        <div class="box">
            <ol class="grid">
                <li class="col-1-2 pr-l">
                    {{
                        form_row(form.recipientName, {
                            label: 'admin.address.field.recipient_name.title',
                            attr: {
                                placeholder: 'admin.address.field.recipient_name.placeholder',
                            }
                        })
                    }}
                </li>
                <li class="col-1-2">
                    {{
                        form_row(form.recipientSurname, {
                            label: 'admin.address.field.recipient_surname.title',
                            attr: {
                                placeholder: 'admin.address.field.recipient_surname.placeholder',
                            }
                        })
                    }}
                </li>
                <li>
                    {{
                        form_row(form.address, {
                            label: 'admin.address.field.address.title',
                            attr: {
                                placeholder: 'admin.address.field.address.placeholder',
                            }
                        })
                    }}
                </li>
            </ol>
            <ol class="grid">
                <li class="col-2-3 pr-l">
                    {{
                        form_row(form.addressMore, {
                            label: 'admin.address.field.address_more.title',
                            attr: {
                                placeholder: 'admin.address.field.address_more.placeholder',
                            }
                        })
                    }}
                </li>
                <li class="col-1-3">
                    {{
                        form_row(form.postalcode, {
                            label: 'admin.address.field.postalcode.title',
                            attr: {
                                placeholder: 'admin.address.field.postalcode.placeholder',
                            }
                        })
                    }}
                </li>
            </ol>
            <ol>
                <li class="pb-n">
                    {% render url('admin_location_selectors', { locationId: address.city }) %}
                    {{ form_row(form.city) }}
                </li>
            </ol>
            <ol class="grid">
                <li class="col-1-2 pr-l">
                    {{
                        form_row(form.phone, {
                            label: 'admin.address.field.phone.title',
                            attr: {
                                placeholder: 'admin.address.field.phone.placeholder',
                            }
                        })
                    }}
                </li>
                <li class="col-1-2">
                    {{
                        form_row(form.mobile, {
                            label: 'admin.address.field.mobile.title',
                            attr: {
                                placeholder: 'admin.address.field.mobile.placeholder',
                            }
                        })
                    }}
                </li>
            </ol>
            <ol>
                <li>
                    {{
                        form_row(form.comments, {
                            label: 'admin.address.field.comments.title',
                            attr: {
                                placeholder: 'admin.address.field.comments.placeholder',
                            }
                        })
                    }}
                </li>
            </ol>
        </div>
        {{
            form_widget(form.send, {
                label: 'admin.address.field.save',
                attr: {
                    class: 'button button-primary',
                }
            })
        }}
        <a href="{{ url('store_address_list') }}" class="button">{{ 'ui.forms.cancel'|trans }}</a>
    </fieldset>
    {{ form_end(form) }}

    {% javascripts '@AdminGeoBundle/Resources/public/js/LocationSelectors.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock content %}
