{% extends 'AdminCoreBundle::Common/listComponent.html.twig' %}


{% block title %}
    {{ 'Language list'|trans }}
{% endblock title %}

{% block table_attributes 'data-fc-modules="table,on-off-table"' %}

{% block table_head %}

    {% include '@AdminCore/Tables/head.html.twig' with {
        rows: [
            { name: 'admin.language.field.iso'|trans, width: 10 },
            { name: 'admin.language.single'|trans },
            { name: 'admin.language.field.master'|trans, width: 15 },
            { name: 'admin.language.field.status'|trans, width: 15 },
        ],
        class: 'language',
        actions: false
    } %}

{% endblock table_head %}


{% block table_body_row %}

    <td>
        {{ entity.iso }}
    </td>
    <td>
        {{ entity.name }}
    </td>
    <td>
        <div class="switch">
            <input id="enable-{{ entity.iso }}-master" type="hidden" value="{{ url('admin_language_master', { iso: entity.iso }) }}" />
            <input id="{{ entity.iso }}-master" name="language-master" type="radio" {% if entity.iso ==  store.defaultLanguage %}checked="checked"{% endif %} />
            <label for="{{ entity.iso }}-master"></label>
        </div>
    </td>
    <td>
        <div class="switch">
            <input id="enable-{{ entity.iso }}" type="hidden" value="{{ url('admin_language_enable', { iso: entity.iso }) }}" />
            <input id="disable-{{ entity.iso }}" type="hidden" value="{{ url('admin_language_disable', { iso: entity.iso }) }}" />
            <input id="{{ entity.iso }}" type="checkbox" {% if entity.enabled %}checked="checked"{% endif %} />
            <label for="{{ entity.iso }}"></label>
        </div>
    </td>

{% endblock table_body_row %}


{% block table_paginator_links '' %}
