{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}


{% form_theme form 'AdminCoreBundle::Forms/fields.html.twig' %}


{% block title %}
    {{ 'Edit Coupon'|trans }} - {{ entity.id }}
{% endblock title %}


{% block content %}

    {% set formAction = coupon.id
        ? url('admin_coupon_update', {
            'id': coupon.id
        })
        : url('admin_coupon_save')
    %}

    {{ form_start(form, {'action': formAction}) }}
        {{ form_row(form.code) }}
        {{ form_row(form.name) }}
        {{ form_row(form.type) }}
        {{ form_row(form.enforcement) }}
        {{ form_row(form.price) }}
        {{ form_row(form.discount) }}
        {{ form_row(form.count) }}
        {{ form_row(form.used) }}
        {{ form_row(form.priority) }}
        {{ form_row(form.minimumPurchase) }}
        {{ form_row(form.validFrom) }}
        {{ form_row(form.validTo) }}
        {{ form_row(form.enabled) }}
        {{ form_row(form.createdAt) }}
        {{ form_row(form.updatedAt) }}

        <button type="submit" class="button-primary">{{ 'Save'|trans }}</button>
        <a href="{{ path('admin_coupon_list') }}" class="button">{{ 'Cancel'|trans }}</a>
    {{ form_end(form) }}
{% endblock content %}
