{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}


{% set elcodi_context = {
    entity_type: 'coupon',
} %}


{% form_theme form 'AdminCoreBundle::Forms/fields.html.twig' %}


{% block content %}

    {% set formAction =
        coupon.id
            ? url('admin_coupon_update', { id: coupon.id })
            : url('admin_coupon_save')
     %}

    {{ form_start(form, { action: formAction }) }}
    <fieldset data-fc-modules="form-coupons">
        <div class="grid">
            <div class="col-1-3">
                <div class="box-none">
                    <h3 class="fw-n">{{ 'admin.coupon.section.basic.title'|trans }}</h3>
                    <p>{{ 'admin.coupon.section.basic.description.0'|trans }}</p>
                    <p>{{ 'admin.coupon.section.basic.description.1'|trans }}</p>
                </div>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            {{
                                form_row(form.code, {
                                    label: 'admin.coupon.field.code.title',
                                    attr: { placeholder: 'admin.coupon.field.code.placeholder' }
                                })
                            }}
                        </li>
                        <li>
                            {{
                                form_row(form.name, {
                                    label: 'admin.coupon.field.description.title',
                                    attr: { placeholder: 'admin.coupon.field.description.placeholder' }
                                })
                            }}
                        </li>
                    </ol>
                    <ol class="grid">
                        <li class="col-1-2">
                            {{ form_row(form.type, { label: 'admin.coupon.field.type.title' }) }}
                        </li>
                        <li class="col-1-2">
                            {{ form_row(form.enforcement, { label: 'admin.coupon.field.enforcement.title' } ) }}
                        </li>
                    </ol>
                    <ol>
                        <li>
                            {{
                            form_row(form.stackable, {
                                label: 'admin.coupon.field.stackable.title',
                            })
                            }}
                        </li>
                    </ol>

                </div>
            </div>
        </div>
        <div id="fixed-amount" class="grid">
            <div class="col-1-3">
                <div class="box-none">
                    <h3 class="fw-n">{{ 'admin.coupon.section.fixed_amount.title'|trans }}</h3>
                    <p>{{ 'admin.coupon.section.fixed_amount.description'|trans }}</p>
                </div>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            {{ form_row(form.price, { label: 'admin.coupon.field.price.title' }) }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div id="percent-amount" class="grid">
            <div class="col-1-3">
                <div class="box-none">
                    <h3 class="fw-n">{{ 'admin.coupon.section.percent_amount.title'|trans }}</h3>
                    <p>{{ 'admin.coupon.section.percent_amount.description'|trans }}</p>
                </div>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            {{ form_row(form.discount, { label: 'admin.coupon.field.discount.title' }) }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-1-3">
                <div class="box-none">
                    <h3 class="fw-n">{{ 'admin.coupon.field.rule.title'|trans }}</h3>
                    <p>{{ 'admin.coupon.section.rules.description'|trans }}</p>
                </div>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            {{
                                form_row(form.rule, {
                                    label: 'admin.coupon.field.rule.title',
                                    placeholder: 'admin.coupon.field.rule.placeholder',
                                })
                            }}
                        </li>
                        <li class="d-n">
                            {{ form_row(form.priority, { label: 'admin.coupon.field.priority.title' }) }}
                        </li>
                    </ol>
                    <ol>
                        <li class="col-1-2">
                            {{ form_row(form.minimumPurchase, { label: 'admin.coupon.field.minimum_purchase.title' }) }}
                        </li>
                        <li class="col-1-2">
                            {{ form_row(form.count, { label: 'admin.coupon.field.count.title' }) }}
                            <div class="d-n">
                                {{
                                    form_row(form.used, {
                                        label: 'admin.coupon.field.used.title',
                                        attr: { readonly: true },
                                    })
                                }}
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="grid o-v">
            <div class="col-1-3">
                <div class="box-none">
                    <h3 class="fw-n">{{ 'admin.coupon.section.validity.title'|trans }}</h3>
                    <p>{{ 'admin.coupon.section.validity.description'|trans }}</p>
                </div>
            </div>
            <div class="col-2-3 o-v">
                <div class="box o-v">
                    <h5>{{ 'admin.coupon.field.datetime.title'|trans }}</h5>
                    <ol class="grid">
                        <li class="col-1-2 date-hour o-v">
                            {{ form_row(form.validFrom, { label: 'admin.coupon.field.valid_from.title' }) }}
                        </li>
                        <li  class="col-1-2 date-hour">
                            {{ form_row(form.validTo, { label: 'admin.coupon.field.valid_to.title' }) }}
                        </li>
                    </ol>
                    <hr />
                    <ol>
                        <li>
                            {{
                                form_row(form.enabled, {
                                    label: 'admin.coupon.field.enabled.title',
                                })
                            }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="grid fixed-bottom animated fade-in-up">
            <div class="col-1-3">
                &nbsp;
            </div>
            <div class="col-2-3">
                <button type="submit" class="button-primary button-fat pv-s mr-l">{{ 'ui.forms.save'|trans }}</button>
                <a href="{{ path('admin_coupon_list') }}" id="cancel-button">{{ 'ui.forms.cancel'|trans }}</a>
            </div>
        </div>
    </fieldset>
    {{ form_end(form) }}

{% endblock content %}
