{% extends 'AdminCoreBundle::Common/listComponent.html.twig' %}


{% block title %}
    {{ 'Coupon list'|trans }}
{% endblock title %}


{% block no_items %}
    {{ lists.no_items('coupon','coupons', url("admin_coupon_new")  ) }}
{% endblock no_items %}


{% block table_head %}
    {% include "@AdminCore/Tables/head.html.twig" with {
        rows: {
            "Code": {},
            "Description": {width:"40"},
            "rule": {width:"20"},
            "Status": {width:"10"},
        },
        class: "coupon",
    } %}
{% endblock table_head %}


{% block table_body_row %}
    <td>
        <a href="{{ url("admin_coupon_edit", {"id": entity.id}) }}">
            <strong>{{ entity.code }}</strong>
        </a>
    </td>
    <td>
        {{ entity.name }}
    </td>
    <td>
        {% if entity.rule %}
            {{ entity.rule.name }}
        {% else %}
            -
        {% endif %}
    </td>
    <td>
        {% if entity.enabled %}<span class="label-ok">Enabled</span>{% else %}<span class="label">Disabled</span>{% endif %}
    </td>

    {% include "@AdminCore/Tables/actions.html.twig" with {
        entity: entity,
        class: "coupon",
    } %}
{% endblock table_body_row %}


{% block table_paginator_links %}
    {% set url = 'admin_coupon_list' %}
    {{ parent() }}
{% endblock table_paginator_links %}
