{% extends 'AdminCoreBundle::layout.html.twig' %}


{% block content_title %}
    {{ 'Customer Zone'|trans }}
{% endblock content_title %}


{% block breadcrumb %}

    {% set entityHeader = customer.id
        ? 'Edit ' ~ customer.name
        : 'Create new Customer'
    %}

    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
        breadcrumb: {
            "Customers": {
                "url": url('admin_customer_list')
            },
            (entityHeader): {
                "active" : true
            }
        }
    } %}

{% endblock breadcrumb %}


{% block content %}

    {% if customer.id %}
        {{ render(url("admin_customer_edit_component", {
            'id': customer.id
        })) }}
    {% else %}
        {{ render(url("admin_customer_new_component")) }}
    {% endif %}

    {% if customer.id %}

        {% set author_token = app.user.token %}
        {% set context = "admin" %}
        {% set source = "customer-" ~ customer.id %}

        <div
            class="boxpopuli-box"
            data-tc-modules="boxpopuli"
            data-token="{{ author_token }}"
            data-author-name="{{ app.user.fullname }}"
            data-author-email="{{ app.user.email }}"
            data-context="{{ context }}"
            data-source="{{ source }}"
            data-route-list="{{ url("elcodi_comments_list", {"source": source, "context": context}) }}"
            data-route-add="{{ url("elcodi_comments_add", {"source": source, "context": context, "authorToken": author_token}) }}"

        ></div>

    {% endif %}

{% endblock content %}
