{% extends 'AdminCoreBundle::layout.html.twig' %}


{% block content_title %}
    {{ 'Customer Zone'|trans }}
{% endblock content_title %}


{% block breadcrumb %}

    {% set entityHeader = customer.id
        ? 'Edit ' ~ customer.name
        : 'Create new Customer'
    %}

    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
        breadcrumb: {
            "Customers": {
                "url": url('admin_customer_list')
            },
            (entityHeader): {
                "active" : true
            }
        }
    } %}

{% endblock breadcrumb %}


{% block content %}
    <a href="{{ url('admin_customer_order_list', {customerId: customer.id}) }}" type="button" class="button-primary">Customer orders</a>

    {% if customer.id %}
        {{ render(url("admin_customer_edit_component", {
            'id': customer.id
        })) }}
    {% else %}
        {{ render(url("admin_customer_new_component")) }}
    {% endif %}

    {% if customer.id %}

        {% set author_token = app.user.token %}
        {% set context = "admin" %}
        {% set source = "customer-" ~ customer.id %}
        <div id="box-populi" class="boxpopuli-container">
            <a data-tc-modules="side-panel" data-tc-position="right" data-tc-width="600" data-tc-tab-top="22%" href="#box-populi"><i class="icon-comment"></i> </a>
            <div class="boxpopuli-overflow" data-tc-modules="boxpopuli"
                    data-token="{{ author_token }}"
                    data-author-name="{{ app.user.fullname }}"
                    data-author-email="{{ app.user.email }}"
                    data-context="{{ context }}"
                    data-source="{{ source }}"
                    data-route-list="{{ url("elcodi_comments_list", {"source": source, "context": context}) }}"
                    data-route-add="{{ url("elcodi_comments_add", {"source": source, "context": context, "authorToken": author_token}) }}"

                ></div>
        </div>
    {% endif %}

{% endblock content %}
