{% extends 'AdminCoreBundle::Common/listComponent.html.twig' %}


{% set elcodi_context = {
    entity_type: 'customer',
} %}


{% block title 'admin.customer.list'|trans %}


{% block no_items
    lists.no_items(
        'admin.customer.single'|trans,
        'admin.customer.plural'|trans
    )
%}


{% block table_head %}

    {% include '@AdminCore/Tables/head.html.twig' with {
        class: 'customer',
        rows: [
            { name: 'admin.user.field.username.title'|trans, },
            { name: 'admin.user.field.fullname.title'|trans, },
            { name: 'admin.user.field.email.title'|trans, },
            { name: 'admin.customer.field.order_count.title'|trans, width: 10 },
            { name: 'admin.user.field.enabled.title'|trans, width: 10 },
        ],
    } %}

{% endblock table_head %}


{% block table_body_row %}

    <td>
        <a href="{{ url('admin_customer_edit', { id: entity.id }) }}">
            <strong>{{ entity.username }}</strong>
        </a>
    </td>
    <td>
        {{ entity.fullname }}
    </td>
    <td>
        {{ entity.email }}
    </td>
    <td>
        {{ entity.orders|length }}
    </td>
    <td>
        {% if entity.enabled %}
            <span class="label-ok">{{ 'admin.user.field.enabled.options.active'|trans }}</span>
        {% else %}
            <span class="label-ko">{{ 'admin.user.field.enabled.options.inactive'|trans }}</span>
        {% endif %}
    </td>

    {% include '@AdminCore/Tables/actions.html.twig' with {
        entity: entity,
        class: 'customer',
    } %}

{% endblock table_body_row %}


{% block table_paginator_links %}

    {% set url = 'admin_customer_list' %}
    {{ parent() }}

{% endblock table_paginator_links %}
