{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}

{% form_theme form 'AdminCoreBundle::Forms/fields.html.twig' %}

{% block title %}
    {{ 'New Value'|trans }}
{% endblock title %}

{% block content %}

    {{ form_start(form, {'action': url('admin_value_save', {
        'id': id,
    })}) }}

    {{ form_row(form.name) }}
    {{ form_row(form.displayName) }}
    {{ form_row(form.createdAt) }}
    {{ form_row(form.updatedAt) }}
    {{ form_row(form.enabled) }}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
            <button class="btn btn-default">{{ 'Cancel'|trans }}</button>
        </div>
    </div>

    {{ form_end(form, {render_rest: false}) }}

{% endblock content %}
