<nav class="sidebar-currency">
    <ul>
        <li>
            <a href="#currency-dropdown" data-fc-modules="toggle" title="{{ currentCurrency.iso }} ">
                {{ currentCurrency.symbol }}
            </a>
            <ul id="currency-dropdown" class="hidden">
                {% for currency in currencies %}
                    {% if currentCurrency.iso != currency.iso %}
                    <li>
                        <a href="{{ url('admin_currency_switch', { iso: currency.iso }) }}" title="{{ currency.iso }}">
                             {{ currency.symbol }}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    </ul>
</nav>
