<li class="parent">
    <a href="{{ url("admin_rule_list") }}">
        <i class="fa fa-folder"></i>
        <span>{{ 'Rules'|trans }}</span>
    </a>

    <ul class="sub-menu">
        <li><a href="{{ url("admin_rule_group_list") }}">{{ 'Rule Groups'|trans }}</a></li>
        <li><a href="{{ url("admin_rule_list") }}">{{ 'Rules'|trans }}</a></li>
    </ul>
</li>
