{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}


{% set elcodi_context = {
    entity_type: 'manufacturer',
} %}


{% form_theme form 'AdminCoreBundle::Forms/fields.html.twig' %}


{% block content %}

    {% if manufacturer.id %}
        <script type="text/javascript">
            if ( window != window.top ) {
                var Mediator =  Mediator ? Mediator : window.parent.FrontendMediator;
                Mediator.publish( 'new:manufacturer', { id : "{{ manufacturer.id }}", name : "{{ manufacturer.name }}"} );
            }
        </script>
    {% endif %}

    {% set formAction =
        manufacturer.id
            ? url('admin_manufacturer_update', { id: manufacturer.id })
            : url('admin_manufacturer_save')
     %}

    {{ form_start(form, { action: formAction }) }}
        <fieldset>
            <div class="grid">
                <div class="col-1-3">
                    <div class="box-none">
                        <h3 class="fw-n">{{ 'admin.manufacturer.section.basic.title'|trans }}</h3>
                        <p>{{ 'admin.manufacturer.section.basic.description'|trans }}</p>
                        {% if elcodi_languages|length > 1 %}
                            <p><i class="icon-star"></i> = {{ 'ui.language.master_language'|trans }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-2-3">
                    <div {% if elcodi_languages|length > 1 %}data-fc-modules="tabs" class="tabs-box loading" {% endif %}>
                        {% for language in elcodi_languages %}
                            <section id="tab-{{ language }}" data-fc-name="{% if loop.first %}{{ '<i class="icon-star"></i>'|e }} {% endif %}{{ language|capitalize }}">
                                <div class="box">
                                    <ol>
                                        <li>
                                            {{
                                                form_row(form.name["#{language}_name"], {
                                                    label: 'admin.manufacturer.field.name.title',
                                                    attr: {
                                                        placeholder: 'admin.manufacturer.field.name.placeholder',
                                                    }
                                                })
                                            }}
                                            <div class="mt-m">
                                                <a data-fc-modules="toggle" href="#slug-{{ language }}" class="fz-default"><i class="icon-plus"></i> {{ 'admin.manufacturer.field.slug.customize'|trans }}</a>
                                            </div>
                                            <div id="slug-{{ language }}" class="ph-n pt-m mb-n hidden">
                                                {{
                                                    form_row(form.slug["#{language}_slug"], {
                                                        label: false,
                                                        attr: {
                                                            placeholder: 'admin.manufacturer.field.slug.placeholder',
                                                            'data-fc-modules': 'slug',
                                                            'data-fc-parent': form.name["#{language}_name"].vars.id,
                                                            'pattern' : '^[a-z0-9-]+$'
                                                        }
                                                    })
                                                }}
                                            </div>
                                        </li>
                                        <li>
                                            {{
                                                form_row(form.description["#{language}_description"], {
                                                    label: 'admin.manufacturer.field.description.title',
                                                    attr: {
                                                        placeholder: 'admin.manufacturer.field.description.placeholder',
                                                        'data-fc-modules': 'wysiwyg',
                                                        'data-fc-fullscreen': 'false',
                                                        'data-fc-text-html': 'admin.UI.show_code'|trans,
                                                        'data-fc-text-visual': 'admin.UI.show_visual'|trans,
                                                        'data-fc-text-help': 'ui.editor.help'|trans,
                                                    }
                                                })
                                            }}
                                        </li>
                                    </ol>
                                </div>
                            </section>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% include "@AdminMedia/Module/_image-single-form-field.html.twig" with {
                sectionTitle: 'admin.manufacturer.section.logo.title',
                sectionDescription: 'admin.manufacturer.section.logo.description',
                image: manufacturer.images.0,
                imageForm: form.images,
                imageName : 'logo'
            } %}
            <div class="ph-n">
                <div class="box-background pv-s mb-l">
                    <a data-fc-modules="toggle" href="#metadata-edit"><i class="icon-plus-circle"></i> {{ 'admin.metadata.customize'|trans }}</a>
                </div>
                <div id="metadata-edit" class="grid pt-s hidden">
                    <div class="col-1-3">
                        <div class="box-none">
                            <h3 class="fw-n">{{ 'admin.metadata.section.metadata.title'|trans }}</h3>
                            <p>{{ 'admin.metadata.section.metadata.description'|trans }}</p>
                            {% if elcodi_languages|length > 1 %}
                                <p><i class="icon-star"></i> = {{ 'ui.language.master_language'|trans }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-2-3">
                        <div {% if elcodi_languages|length > 1 %}data-fc-modules="tabs" class="tabs-box loading"{% endif %}>
                            {% for language in elcodi_languages %}
                                <section id="metadata-{{ language }}" data-fc-name="{% if loop.first %}{{ '<i class="icon-star"></i>'|e }} {% endif %}{{ language|capitalize }}">
                                    <div class="box">
                                        <ol>
                                            <li>
                                                {{
                                                    form_row(form.metaTitle["#{language}_metaTitle"], {
                                                        label: 'admin.metadata.field.metatitle.title',
                                                        attr: {
                                                            placeholder: 'admin.manufacturer.field.metatitle.placeholder',
                                                        },
                                                    })
                                                }}
                                            </li>
                                            <li>
                                                {{
                                                    form_row(form.metaDescription["#{language}_metaDescription"], {
                                                        label: 'admin.metadata.field.metadescription.title',
                                                        attr: {
                                                            placeholder: 'admin.manufacturer.field.metadescription.placeholder',
                                                        },
                                                    })
                                                }}
                                            </li>
                                            <li>
                                                {{
                                                    form_row(form.metaKeywords["#{language}_metaKeywords"], {
                                                        label: 'admin.metadata.field.metakeywords.title',
                                                        attr: {
                                                            placeholder: 'admin.manufacturer.field.metakeywords.placeholder',
                                                        },
                                                    })
                                                }}
                                            </li>
                                        </ol>
                                    </div>
                                </section>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-1-3">
                    <div class="box-none mb-n pb-m">
                        <h3 class="fw-n">{{ 'admin.manufacturer.section.visibility.title'|trans }}</h3>
                        <p>{{ 'admin.manufacturer.section.visibility.description'|trans }}</p>
                    </div>
                </div>
                <div class="col-2-3">
                    <div class="box mb-n pb-n">
                        <ol>
                            <li>
                                {{
                                    form_row(form.enabled, {
                                        label: 'admin.manufacturer.field.enabled.title',
                                    })
                                }}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="grid fixed-bottom animated fade-in-up">
                <div class="col-1-3">
                    &nbsp;
                </div>
                <div class="col-2-3">
                    <button type="submit" class="button-primary button-fat pv-s mr-l">{{ 'ui.forms.save'|trans }}</button>
                    <script type="text/javascript">
                        if ( window!=window.top ) {
                            var oParent = window.parent,
                                    oModal = oParent.TinyCore.Module.instantiate('modal');
                        }
                    </script>
                    <a href="{{ path('admin_manufacturer_list') }}" onclick="if(oModal !== undefined);oModal.close();">{{ 'ui.forms.cancel'|trans }}</a>
                </div>
            </div>
        </fieldset>
    {{ form_end(form) }}

{% endblock content %}
