<div class="box-none mb-n">
    <h4>{{ title }}</h4>
    <dl class="list">
        <dt>{{ 'ui.address.full_name'|trans }}</dt>
        <dd>{{ addressInfo.recipientName }} {{addressInfo.recipientSurname }}</dd>
        <dt>{{ 'ui.address.phone'|trans }}</dt>
        <dd> {{ addressInfo.phone }} / {{ addressInfo.mobile }}</dd>
        <dt>{{ 'ui.address.address'|trans }}</dt>
        <dd>{{ addressInfo.address }} {{addressInfo.addressMore }}</dd>
        <dt>{{ 'ui.address.city'|trans }}</dt>
        <dd>
        {% for cityLocation in addressInfo.city %}
            {{ cityLocation }}
        {% endfor %}
        </dd>
        <dt>{{ 'ui.address.zipcode'|trans }}</dt>
        <dd>{{ addressInfo.postalCode }}</dd>
        <dt>{{ 'ui.address.comment'|trans }}</dt>
        <dd>{{ addressInfo.comment }}</dd>
    </dl>
</div>
