{% extends 'AdminCoreBundle::layout.html.twig' %}


{% set elcodi_context = {
    entity_type: 'order',
} %}

{% block body_down %}
    {% if order.id %}
        {% set author_token = app.user.token %}
        {% set context = 'admin' %}
        {% set source = "order-#{order.id}" %}
        <div id="box-populi" class="boxpopuli-container">
            <div class="boxpopuli-overflow" data-fc-modules="boxpopuli"
                 data-token="{{ author_token }}"
                 data-author-name="{{ app.user.fullname }}"
                 data-author-email="{{ app.user.email }}"
                 data-context="{{ context }}"
                 data-source="{{ source }}"
                 data-route-list="{{ url('elcodi_comments_list', { source: source, context: context }) }}"
                 data-route-add="{{ url('elcodi_comments_add', { source: source, context: context, authorToken: author_token }) }}"
                    ></div>
        </div>
    {% endif %}
{% endblock body_down %}

{% block header_actions %}

    <a href="{{ url('admin_customer_order_list', {customerId: order.customer.id}) }}" type="button" class="button">
        <i class="icon-shopping-cart"></i>
        <span>{{ 'admin.order.from_user'|trans({ '%name%': order.customer.firstname }) }}</span>
    </a>
    <a data-fc-modules="side-panel" data-fc-position="right" data-fc-width="60%" href="#box-populi" class="button ph-m">
        <i class="icon-pencil"></i>
        <span>{{ 'admin.order.notes'|trans }}</span>
    </a>

{% endblock header_actions %}


{% block breadcrumb %}

    {% set title = 'admin.order.plural'|trans %}

    {% if order.id %}
        {% set header = 'admin.order.edit'|trans({ '%id%': order.id }) %}
    {% else %}
        {% set header = 'admin.order.new'|trans %}
    {% endif %}

    {% include '@AdminCore/Common/breadcrumb.html.twig' with {
        breadcrumb: [
            { name: title, url: url('admin_order_list'), },
            { name: header, active: true, },
        ]
    } %}

{% endblock breadcrumb %}


{% block content %}

    <div class="grid">
        <div class="col-8-12">
            <div class="pr-l">
                {{ render(url('admin_order_edit_component', { id: order.id })) }}
                <div class="box-background">
                    <h3 class="fw-n"><i class="icon-clock-o"></i>{{ 'admin.order.states.title'|trans }}</h3>
                    <table class="table order-history">
                        <tbody>
                        <tr>
                            <td class="w-70">
                                <i class="icon-shopping-cart bg-ok mr-s"></i>
                                <em></em>
                                {{ 'common.order.states.initial'|trans }}
                            </td>
                            <td class="ta-r">
                                {% include 'AdminCartBundle:Order:date.html.twig' with {
                                date: allStates.0.createdAt,
                                } %}
                            </td>
                        </tr>
                        {% for stateLine in allStates %}
                            {% if 'un' in stateLine.name or 'no' in stateLine.name %}
                                {% set colorClass = 'bg-warning' %}
                            {% else  %}
                                {% set colorClass = 'bg-ok' %}
                            {% endif %}

                            {% if 'paid' in stateLine.name  %}
                                {% set iconClass = 'icon-credit-card' %}
                            {% elseif 'ship' in stateLine.name  %}
                                {% set iconClass = 'icon-truck' %}
                            {% endif %}
                            <tr>
                                <td>
                                    <i class="{{ iconClass }} {{ colorClass }} mr-s"></i>
                                    <em></em>
                                    {{ "common.order.states.#{stateLine.name}"|trans }}
                                </td>
                                <td class="ta-r">
                                    {% include 'AdminCartBundle:Order:date.html.twig' with {
                                    date: stateLine.createdAt,
                                    } %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4-12">
            <div class="box-background ta-c mb-n">
                {% for paymentTransition in nextPaymentTransitions %}
                    <a href="{{ url('admin_order_change_payment_state', {
                        id: order.id,
                        transition: paymentTransition.name,
                    }) }}" class="button-primary">
                        <i class="icon-credit-card"></i>
                        {{ "admin.order.transition.#{paymentTransition.name}"|trans }}
                    </a>
                {% endfor %}

                {% for shippingTransition in nextShippingTransitions %}
                    <a href="{{ url('admin_order_change_shipping_state', {
                        id: order.id,
                        transition: shippingTransition.name
                    }) }}" class="button-secondary">
                        <i class="icon-truck"></i>
                        {{ "admin.order.transition.#{shippingTransition.name}"|trans }}
                    </a>
                {% endfor %}
            </div>
            <div class="box ph-n">
                <div class="box-none pv-n">
                    <h3 class="fw-n"><a href="{{ url('admin_customer_edit', { id: order.customer.id }) }}">{{ order.customer.fullName }}</a></h3>
                    <a href="mailto:{{ order.customer.email }}" class="c-foreground"><i class="icon-envelope"></i> {{ order.customer.username }}</a>
                </div>
                <a href="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=es&amp;q={{ deliveryInfo.fullAddress|url_encode }}" target="_blank">
                    <img id="CM_Map_map" src="http://maps.google.com/maps/api/staticmap?size=500x150&amp;zoom=15.5&amp;sensor=false&amp;center={{ deliveryInfo.fullAddress|url_encode }}&amp;markers=color:blue|{{ deliveryInfo.fullAddress|url_encode }}">
                </a>
                {% if deliveryInfo.id == billingInfo.id %}
                    {% include 'AdminCartBundle:Order:address.html.twig' with {
                        title: 'admin.order.field.both_addresses'|trans,
                        addressInfo: deliveryInfo,
                    } %}
                {% else %}
                    {% include 'AdminCartBundle:Order:address.html.twig' with {
                        title: 'admin.order.field.delivery_address'|trans,
                        addressInfo: deliveryInfo,
                    } %}

                    {% include 'AdminCartBundle:Order:address.html.twig' with {
                        title: 'admin.order.field.billing_address'|trans,
                        addressInfo: deliveryInfo,
                    } %}
                {% endif %}
                <hr class="mb-n"/>
                <div class="box-none pb-n">
                    <h3 class="fw-n">{{ 'admin.order.field.carrier'|trans }}</h3>
                    <i class="icon-truck"></i>
                    {# TODO: Extract carrier_name from the shown order #}
                    {{ order.shippingMethod.carrierName }} ( {{ order.shippingAmount|print_money }} )
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
