{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}


{% set elcodi_context = {
    entity_type: 'order',
} %}


{% block content %}

<div class="box-background">
    <p class="fl-r fz-s"><i class="icon-calendar-o"></i> {% include '@AdminCart/Order/date.html.twig' with { date: order.createdAt } %}</p>
    <h3 class="fw-n"><i class="icon-shopping-cart"></i> {{ 'admin.order.details.title'|trans }}</h3>
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'admin.order.details.item'|trans }}</th>
                <th class="w-10 ta-r">{{ 'admin.order.details.units'|trans }}</th>
                <th class="w-15 ta-r">{{ 'admin.order.details.price'|trans }}</th>
                <th class="w-15 ta-r">{{ 'admin.order.field.total'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for line in order.orderLines %}
                {% set purchasable = line.purchasable %}
                {% set purchasableName = purchasable|purchasable_name %}
                <tr>
                    <td>
                        {% if purchasable.purchasableType == 'product' %}
                            <a href="{{ url('admin_product_edit', { id: purchasable.id}) }}" class="fw-b">{{ purchasableName }}</a>
                        {% elseif purchasable.purchasableType == 'purchasable_pack' %}
                            <a href="{{ url('admin_purchasable_pack_edit', { id: purchasable.id}) }}" class="fw-b">{{ purchasableName }}</a>
                        {% else %}
                            <a href="#" class="fw-b">{{ purchasableName }}</a>
                        {% endif %}
                        <p class="fz-s">ID: {{ purchasable.id }}</p>
                    </td>
                    <td class="ta-r">{{ line.quantity }}</td>
                    <td class="ta-r">{{ purchasable.resolvedPrice|print_convert_money }}</td>
                    <td class="ta-r">{{ line.amount|print_convert_money }}</td>
                </tr>
            {% endfor %}

            <tr>
                <td colspan="3" class="ta-r">{{ 'admin.order.details.subtotal'|trans }}</td>
                <td class="ta-r">{{ order.purchasableAmount|print_convert_money }}</td>
            </tr>

            {% if order.couponAmount.greatterThan(0) %}
                <tr>
                    <td colspan="3" class="ta-r">{{ 'admin.order.details.discount'|trans }}</td>
                    <td class="ta-r">-{{ order.couponAmount|print_convert_money }}</td>
                </tr>
            {% endif %}

            <tr>
                <td colspan="3" class="ta-r">{{ 'admin.order.details.shipping'|trans }}</td>
                <td class="ta-r">{{ order.shippingAmount|print_convert_money }}</td>
            </tr>
            <tr>
                <td colspan="3" class="ta-r fw-b">{{ 'admin.order.field.total'|trans }}</td>
                <td class="ta-r fw-b">{{ order.amount|print_convert_money }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock content %}
