{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block content_title %}
    {{ 'Order Zone'|trans }}
{% endblock content_title %}


{% block header_actions %}

    {% for paymentTransition in nextPaymentTransitions %}
        <a href="{{ url("admin_order_change_payment_state", {
            "id": order.id,
            "transition": paymentTransition.name
        }) }}" class="button-primary">{{ paymentTransition.name|trans }}</a>
    {% endfor %}

    {% for shippingTransition in nextShippingTransitions %}
        <a href="{{ url("admin_order_change_shipping_state", {
            "id": order.id,
            "transition": shippingTransition.name
        }) }}" class="button-primary">{{ shippingTransition.name|trans }}</a>
    {% endfor %}

{% endblock header_actions %}


{% block breadcrumb %}

    {% set entityHeader = order.id
        ? 'Edit ' ~ order.name
        : 'Create new Order'
    %}

    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
        breadcrumb: {
            "Orders": {
                "url": url('admin_order_list')
            },
            ("#" ~ order.id): {
                "active" : true
            }
        }
    } %}
{% endblock breadcrumb %}


{% block content %}

    <div class="grid pr-l">
        <div class="col-8-12 pr-l">
            {{ render(url("admin_order_edit_component", {
                'id': order.id
            })) }}

            <div class="box-background">
                <h3 class="fw-n">History</h3>
                <table class="table">
                    <tbody>
                        {% for stateLine in allStates %}
                             <tr>
                                 <td><i class="icon-money mr-s"></i> {{ stateLine.name|trans }} </td>
                                 <td class="ta-r">{% include "AdminCartBundle:Order:date.html.twig" with {
                                        'date': stateLine.createdAt
                                    } %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4-12">
            <div class="box pt-s ph-n">
                <h3 class="fw-n ph-m"><a href="{{ url("admin_customer_edit", {"id": order.customer.id}) }}">{{ order.customer.username }}</a></h3>
                <hr class="mb-n"/>
                <a href="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=es&amp;q=Instituto+de+Cardiologia+y+Medicina+Interna+Barcelona" target="_blank">
                    <img id="CM_Map_map" src="http://maps.google.com/maps/api/staticmap?size=350x150&amp;zoom=15.5&amp;sensor=false&amp;center=Instituto+de+Cardiologia+y+Medicina+Interna+Barcelona&amp;markers=color:blue|Instituto+de+Cardiologia+y+Medicina+Interna+Barcelona">
                </a>
                <div class="box-none pb-n">

                    <a href="#" class="fl-r">Edit</a>
                    <p><i class="icon-home"></i> <strong>{{ order.customer.fullName }}</strong></p>
                    <p>{{ order.customer.deliveryAddress }}</p>

                    {% if order.customer.phone is not null %}
                        <p><i class="icon-phone"></i> {{ order.customer.phone }} </p>
                    {% endif %}
                </div>
                <hr class="mb-n"/>
                <div class="box-none pb-n">
                    <a href="#" class="fl-r">Edit</a>
                    <i class="icon-envelope"></i> <a href="mailto:{{ order.customer.email }}"> {{ order.customer.email }}</a>
                </div>
                <hr class="mb-n"/>
                <div class="box-none pb-n">
                    <i class="icon-truck"></i> Carrier
                </div>
            </div>
        </div>
    </div>
    {% if order.id %}

        {% set author_token = app.user.token %}
        {% set context = "admin" %}
        {% set source = "order-" ~ order.id %}
        <div id="side-panel-tab-1" class="box">
            <a data-tc-modules="side-panel" data-tc-position="right" data-tc-width="500" data-tc-tab-top="22%" href="#side-panel-tab-1"><i class="icon-comment"></i> </a>

            <div
                    class="boxpopuli-box"
                    data-tc-modules="boxpopuli"
                    data-token="{{ author_token }}"
                    data-author-name="{{ app.user.fullname }}"
                    data-author-email="{{ app.user.email }}"
                    data-context="{{ context }}"
                    data-source="{{ source }}"
                    data-route-list="{{ url("elcodi_comments_list", {"source": source, "context": context}) }}"
                    data-route-add="{{ url("elcodi_comments_add", {"source": source, "context": context, "authorToken": author_token}) }}"

                    ></div>
        </div>
    {% endif %}
{% endblock content %}
