{% extends 'AdminCoreBundle::Common/listComponent.html.twig' %}


{% block no_items %}
    <p class="msg-info">{{ 'There are no orders.'|trans }}</p>
{% endblock no_items %}


{% block title %}
    {{ 'Order list'|trans }}
{% endblock title %}


{% block table_head %}
    {% include "@AdminCore/Tables/head.html.twig" with {
        rows: {
            "Order": {sorting_disabled: true},
            "Date": {sorting_disabled: true},
            "Customer": {sorting_disabled: true},
            "Status": {sorting_disabled: true},
            "Total": {sorting_disabled: true},
        },
        class: "order",
    } %}
{% endblock table_head %}


{% block table_body_row %}
    <td>
        <a href="{{ url("admin_order_edit",{"id": entity.id}) }}">Order #{{ entity.id }}</a>
    </td>
    <td>
        {% include "@AdminCart/Order/date.html.twig" %}
    </td>
    <td>
        <a href="{{ url("admin_customer_edit", {"id": entity.customer.id}) }}">
            {{ entity.customer }}
        </a>
    </td>
    <td>
        <span class="label label-warning">{{ "Pending"|trans }}</span>
    </td>
    <td>
        {{ entity.amount|print_money }}
    </td>
{% endblock table_body_row %}


{% block table_paginator_links %}
    {% set url = 'admin_order_list' %}
    {{ parent() }}
{% endblock table_paginator_links %}
