{% extends 'AdminCoreBundle::Common/listComponent.html.twig' %}


{% set elcodi_context = {
    entity_type: 'order',
} %}


{% block title 'admin.order.list'|trans %}


{% block no_items
    lists.no_items(
        'admin.order.single'|trans,
        'admin.order.plural'|trans
    )
%}


{% block table_head %}

    {% include '@AdminCore/Tables/head.html.twig' with {
        rows: [
            { name: 'admin.order.single'|trans },
            { name: 'admin.order.field.date'|trans },
            { name: 'admin.order.field.customer'|trans },
            { name: 'admin.order.field.status'|trans },
            { name: 'admin.order.field.total'|trans },
        ],
        class: 'order',
    } %}

{% endblock table_head %}


{% block table_body_row %}

    <td>
        <a href="{{ url('admin_order_edit', { id: entity.id }) }}" data-test="order-{{ entity.id }}">
            {{ 'admin.order.field.id'|trans({ '%id%': entity.id }) }}
        </a>
    </td>
    <td>
        {% include 'AdminCartBundle:Order:date.html.twig' with { date: entity.createdAt } %}
    </td>
    <td>
        <a href="{{ url('admin_customer_edit', { id: entity.customer.id }) }}">
            {{ entity.customer }}
        </a>
    </td>
    <td>
        <span class="label label-warning">
            {{ "common.order.states.#{entity.paymentStateLineStack.lastStateLine.name}"|trans }}
        </span>
        <span class="label label-info">
            {{ "common.order.states.#{entity.shippingStateLineStack.lastStateLine.name}"|trans }}
        </span>
    </td>
    <td>
        {{ entity.amount|print_money }}
    </td>

{% endblock table_body_row %}


{% block table_paginator_links %}

    {% set url = 'admin_order_list' %}
    {{ parent() }}

{% endblock table_paginator_links %}
