{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block body_class %}texture{% endblock body_class %}

{% block body %}

    <div id="cl-wrapper" class="forgotpassword-container">

        <div class="middle">
            <div class="block-flat">
                <div class="header">
                    <h3 class="text-center">Bamboo Admin</h3>
                </div>
                <div>
                    {{ form_start(form, {
                        "attr": {
                            "class": "form-horizontal",
                            "style": "margin-bottom: 0px !important;"
                        }
                    }) }}

                        <div class="content">

                            <h5 class="title text-center">
                                <strong>Recover your password</strong>
                            </h5>
                            <p class="text-center">
                                Please, define your new password. After that you will
                                be logged in the admin site.
                            </p>
                            <hr>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                        {{ form_row(form.password.first, {
                                            "attr": {
                                                "class": "form-control",
                                                "placeholder": "Password"|trans
                                            }
                                        }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                        {{ form_row(form.password.second, {
                                            "attr": {
                                                "class": "form-control",
                                                "placeholder": "Password again"|trans
                                            }
                                        }) }}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="foot">
                            <button type="submit" class="btn btn-block btn-primary btn-rad btn-lg">{{ "Recover"|trans }}</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>

{% endblock body %}
