{% set lineObject = line.vars.data %}
{% set productRoute = url('store_product_view', {
    slug: lineObject.product.slug,
    id: lineObject.product.id
}) %}

<tr>
    <td class="image">
        <a href="{{ productRoute }}">
            <img src="{{ lineObject.product.principalImage|resize({
                width: 80,
                height: 80,
                type: 5 })
            }}" alt="{{ lineObject.product.name }}" />
        </a>
    </td>
    <td class="title">
        <a href="{{ productRoute }}">{{ lineObject.purchasable|purchasable_name }}</a>
    </td>
    <td class="qty">
        {{ form_row(line.quantity) }}
    </td>
    <td class="price">{{ lineObject.purchasable.price|print_convert_money() }}</td>
    <td class="total">{{ lineObject.amount|print_convert_money() }}</td>
    <td class="remove">
        <a href="{{ url('store_cartline_remove', { id: lineObject.id }) }}">
            <span class="entypo trash"></span>
        </a>
    </td>
</tr>
