<div class="gallery-cont">

    {% for image in images %}
        {% set imagePath = image|viewImage %}
        <div class="item">
            <div class="photo">
                <div class="head">
                    <span class="pull-right"><i class="fa fa-heart"></i> </span>
                    <h4>{{ image.name }}</h4>
                    <span class="desc">{{ entity.name }}</span>
                </div>
                <div class="img">
                    <img src="{{ imagePath }}"/>

                    <div class="over">
                        <div class="func">
                            <a href="{{ imagePath }}">
                                <i class="fa fa-link"></i>
                            </a>
                            <a class="image-zoom" href="{{ imagePath }}">
                                <i class="fa fa-search"></i>
                            </a>
                            <a href="{{ url("admin_product_image_delete", {id: entity.id, imageId: image.id}) }}">
                                <i class="fa fa-times-circle fa-"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
