{#
    Global variables environment
#}
{% set current_user_session_id = app.session.id %}
{% set current_user_session_sha1 = current_user_session_sha1|sha1 %}
{% set current_route_name = app.request.get('_route') %}

{% block doctype_and_html %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="{{ app.request.locale }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ app.request.locale }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ app.request.locale }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ app.request.locale }}" class="no-js"> <!--<![endif]-->
{% endblock %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title store.name %}</title>
        {% block meta_tags "" %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript">document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');</script>

        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">

        {% block head_style %}{% endblock head_style %}
        {% block head_script %}{% endblock head_script %}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        {# WARNING: Respond.js doesn't work if you view the page via file:// #}
        <!--[if lt IE 9]>
          <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script>
            /**
             * Tracker generator for elcodi bamboo store
             */
            var _etc = _etc || [];

            (function() {
                var _etracker = document.createElement('script');
                _etracker.type = 'text/javascript';
                _etracker.async = true;
                _etracker.src = '/bundles/elcodimetric/js/tracker.js';
                var _etracker_s = document.getElementsByTagName('script')[0];
                _etracker_s.parentNode.insertBefore(_etracker, _etracker_s);
            }());
        </script>

        {{ elcodi_hook("store.head_bottom") }}
    </head>

    <body {% block body_id "" %} {% block body_class "" %}>
        {{ elcodi_hook("store.body_top") }}

        <!--[if lt IE 8]>
            <!-- should warn for outdated browser -->
        <![endif]-->
        {% block body "" %}
        {% block pixels "" %}

        <script>

            var isMobile = {
                Android: function() {
                    return navigator.userAgent.match(/Android/i);
                },
                BlackBerry: function() {
                    return navigator.userAgent.match(/BlackBerry/i);
                },
                iOS: function() {
                    return navigator.userAgent.match(/iPhone|iPad|iPod/i);
                },
                Opera: function() {
                    return navigator.userAgent.match(/Opera Mini/i);
                },
                Windows: function() {
                    return navigator.userAgent.match(/IEMobile/i);
                },
                any: function() {
                    return ( isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
                }
            };

            /**
             * Page view beacons
             */
            _etc.push(["{{ store_tracker }}", 'pv', '{{ current_user_session_sha1 }}', '3']);
            _etc.push(["{{ store_tracker }}", 'pv_{{ current_route_name }}', '{{ current_user_session_sha1 }}', '3']);

            /**
             * Specific product view beacon
             */
            {% if current_route_name == 'store_product_view' %}
                _etc.push(["{{ store_tracker }}", 'pv_store_product_view_{{ product.id }}', '{{ current_user_session_sha1 }}', '3']);
            {% endif %}

            /**
             * Specific blog view beacon
             */
            {% if current_route_name == 'store_blog_post_view' %}
                _etc.push(["{{ store_tracker }}", 'pv_store_blog_post_view_{{ blog_post.id }}', '{{ current_user_session_sha1 }}', '3']);
            {% endif %}

            /**
             * Add mobile beacon
             */
            if (isMobile.any()) {
                _etc.push(["{{ store_tracker }}", 'mob', '', '1']);
            } else {
                _etc.push(["{{ store_tracker }}", 'no_mob', '', '1']);
            }

            /**
             * Add search engine beacon
             */
            var referrer = "{{ referrer_domain() }}";
            var referrerIsSearchEngine = {{ referrer_is_search_engine() }};
            if (referrerIsSearchEngine) {
                _etc.push(["{{ store_tracker }}", 'source_se', '', '1']);
                _etc.push(["{{ store_tracker }}", 'rf', referrer, '8']);
            } else if (referrer != false) {
                _etc.push(["{{ store_tracker }}", 'source_ref', '', '1']);
                _etc.push(["{{ store_tracker }}", 'rf', referrer, '8']);
            } else {
                _etc.push(["{{ store_tracker }}", 'source_dir', '', '1']);
            }
        </script>

        {% block foot_script "" %}

        {{ elcodi_hook("store.body_bottom") }}
    </body>
</html>
