<dl class="address-item" data-test="address-{{ address.id }}">
    <dt class="address-item-selection"></dt>
    <dd class="address-item-selection">
        <div class="address-item-selection-item">
            <div class="switch">
                <input id="billing-{{ address.id }}"
                       type="radio"
                       name="billing"
                       value="{{ address.id }}"
                        {% if address.id == cart.billingAddress.id or ( cart.billingAddress.id is null and loop.index0 == 0 ) %} checked="checked"{% endif %}
                        >
                <label for="billing-{{ address.id }}"></label>
            </div>
            {{ 'template.store_template_bundle.address.item.billing'|trans }}
        </div>
        <div class="address-item-selection-item">
            <div class="switch">
                <input id="delivery-{{ address.id }}"
                       type="radio"
                       name="delivery"
                       value="{{ address.id }}"
                        {% if address.id == cart.deliveryAddress.id or ( cart.deliveryAddress.id is null and loop.index0 == 0) %} checked="checked"{% endif %}
                        >
                <label for="delivery-{{ address.id }}"></label>
            </div>
            {{ 'template.store_template_bundle.address.item.delivery'|trans }}
        </div>
    </dd>
    <dt>{{ 'template.store_template_bundle.address.item.address_name'|trans }}</dt>
    <dd><strong>{{ address.name }}</strong></dd>
    <dt>{{ 'template.store_template_bundle.address.item.fullname'|trans }}</dt>
    <dd>{{ address.recipientName }} {{ address.recipientSurname }}</dd>
    <dt>{{ 'template.store_template_bundle.address.item.address'|trans }}</dt>
    <dd>{{ address.address }}<br/>{{ address.address_more }}</dd>
    <dt>{{ 'template.store_template_bundle.address.item.phone_and_mobile'|trans }}</dt>
    <dd>{{ address.phone }} / {{ address.mobile }}</dd>
    <dt>{{ 'template.store_template_bundle.address.item.address'|trans }}</dt>
    <dd>{{ address.fullAddress }}</dd>
    <dt>{{ 'template.store_template_bundle.address.item.postal_code'|trans }}</dt>
    <dd>{{ address.postalCode }}</dd>
    <dt>{{ 'template.store_template_bundle.address.item.comment'|trans }}</dt>
    <dd>{{ address.comments|default('-') }}</dd>
    <dt class="address-item-actions">{{ 'template.store_template_bundle.address.item.actions'|trans }}</dt>
    <dd class="address-item-actions">
        <a href="{{ url('store_address_edit',{id:address.id,source:source}) }}" class="button button-primary" data-test="address-{{ address.id }}-edit"><i
                    class="fa fa-pencil"></i> {{ 'template.store_template_bundle.address.item.edit'|trans }}
        </a>
        <a href="{{ url('store_address_delete',{id:address.id,source:source}) }}" class="button button-ko" data-test="address-{{ address.id }}-remove"><i
                    class="fa fa-trash-o"></i> {{ 'template.store_template_bundle.address.item.remove'|trans }}
        </a>
    </dd>
</dl>
