{% set shippingMethod = elcodi_shipping_method(cart, cart.shippingMethod) %}
{% if shippingMethod is null %}
    {% if app.user is null %}
        <p class="message message-info">{{ "template.store_template_bundle.shipping.costs_will_be_calculated_after_login"|trans }}</p>
    {% else %}
        {% set shippingMethod = elcodi_shipping_method(cart, cart.cheapestShippingMethod) %}
        {% if shippingMethod is not null %}
            <p class="cart-shipping"><span>{{ 'template.store_template_bundle.shipping.carrier'|trans }} ({{ shippingMethod.carrierName }}) {{ "template.store_template_bundle.shipping.from"|trans }} </span> {{ shippingMethod.price|print_convert_money() }}</p>
        {% elseif cart.deliveryAddress is null  %}
            <p class="message message-info">{{ "template.store_template_bundle.shipping.costs_will_be_calculated_after_address"|trans }}</p>
        {% else %}
            <p class="message message-ko">{{ "template.store_template_bundle.shipping.no_shipping_matching"|trans }}</p>
        {% endif %}
    {% endif %}
{% else %}
    <p class="cart-shipping"><span>{{ 'template.store_template_bundle.shipping.carrier'|trans }} ({{ shippingMethod.carrierName }})</span> {{ shippingMethod.price|print_convert_money() }}</p>
{% endif %}
