{% extends 'AdminCoreBundle::Common/listComponent.html.twig' %}


{% block title %}
    {{ 'Order list'|trans }}
{% endblock title %}


{% block table_head %}
    {% include "@AdminCore/Tables/head.html.twig" with {
        rows: {
            "id": { width:"25" },
            "customer": {},
            "Nb. OrderLines": { width:"25", sorting_disabled: true },
            "Nb. OrderHistories": { width:"25", sorting_disabled: true },
            "productAmount": {sorting_disabled: true },
            "couponAmount": {sorting_disabled: true },
            "amount": {sorting_disabled: true },
            "last Mod.": {sorting_disabled: true },
            "createdAt": {},
            "updatedAt": {},
        },
        class: "order",
    } %}
{% endblock table_head %}


{% block table_body_row %}
    <td>
        <a href="{{ url("admin_order_view", {"id": entity.id}) }}">
            {{ entity.id }}
        </a>
    </td>
    <td>
        <a href="{{ url("admin_customer_view", { id: entity.customer.id }) }}">
            {{ entity.customer.username }}
        </a>
    </td>
    <td>
        {{ entity.orderLines|length }}
    </td>
    <td>
        {{ entity.quantity }}
    </td>
    <td>
        {{ entity.productAmount|print_money }}
    </td>
    <td>
        {{ entity.couponAmount|print_money }}
    </td>
    <td>
        {{ entity.amount|print_money }}
    </td>
    <td>
        {{ entity.orderHistories.last.createdAt|date("Y.m.d H:i:s") }}
    </td>
    <td>
        {{ entity.createdAt|date("Y.m.d H:i:s") }}
    </td>
    <td>
        {{ entity.updatedAt|date("Y.m.d H:i:s") }}
    </td>

    {% include "@AdminCore/Tables/actions.html.twig" with {
        entity: entity,
        class: "order",
    } %}
{% endblock table_body_row %}


{% block table_paginator_links %}
    {% set url = 'admin_order_list' %}
    {{ parent() }}
{% endblock table_paginator_links %}
