{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block content_title %}
    {{ 'Category Zone'|trans }}
{% endblock content_title %}


{% block breadcrumb %}
    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
        breadcrumb: {
            "Categories": {
                "active" : true
            }
        }
    } %}
{% endblock breadcrumb %}


{% block content %}
    <div class="row">
        <div class="col-md-4">
            {{ render(url("admin_category_stats_total")) }}
        </div>
        <div class="col-md-4">
            {{ render(url("admin_category_stats_monthly")) }}
        </div>
        <div class="col-md-4">
            {{ render(url("admin_category_stats_daily")) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ render(url("admin_category_list_component", {
                'page': page,
                'limit': limit,
                'orderByField': orderByField,
                'orderByDirection': orderByDirection
            })) }}
        </div>
    </div>
{% endblock content %}
