{% macro showNodes(menu, tag, route) %}
    {% import _self as side_elements %}
    {% set nodes = menu.getSubnodesByTag(tag) %}
    {% for node in nodes %}
        {{ side_elements.showNode(node, route) }}
    {% endfor %}
{% endmacro %}


{% macro showNode(node, route) %}
    <li class="{% if node.isActive(route) %}active{% endif %}{% if node.subnodes|length %}parent{% endif %}" data-test="{{ node.name }}">
    {% if node.subnodes|length == 0 %}
        {% set node_url = node.url is iterable
            ? url(node.url[0], node.url[1])
            : url(node.url)
        %}
        <a href="{{ node_url }}">
    {% else %}
        <a href="#{{ node.name|md5 }}" data-fc-modules="toggle">
            <i class="icon-caret-down fl-r"></i>
    {% endif %}
    {% if node.warnings is not null %}<span class="badge{% if node.warnings > 0 %} badge-alert{% endif %}">{{ node.warnings }}</span>{% endif %}
            <span class="mobile tablet">
                <i class="icon-{{ node.code|default("folder") }} fz-xl va-m mr-s"></i>
                <span>{{ node.name|trans }}</span>
            </span>
            <span class="desktop">
                <i class="icon-{{ node.code|default("folder") }} mr-m"></i>
                {{ node.name|trans }}
            </span>
        </a>
        {% for subnode in node.subnodes %}
            {% if loop.first %}
                <ul id="{{ node.name|md5 }}" {% if not node.isExpanded(route) %}class="hidden"{% endif %}>
            {% endif %}
            <li {% if subnode.isActive(route) %}class="active"{% endif %} data-test="{{ subnode.name }}">
                {% set subnode_url = subnode.url is iterable
                    ? url(subnode.url[0], subnode.url[1])
                    : url(subnode.url)
                %}
                <a href="{{ subnode_url }}" class="pl-l"><i class="icon-angle-right"></i> {{ subnode.name|trans }}</a>
            </li>
            {% if loop.last %}
                </ul>
            {% endif %}
        {% endfor %}
    </li>
{% endmacro %}


{% macro separator() %}
    <li class="pt-s">
        <hr class="rule" />
    </li>
{% endmacro %}
