<div class="sidebar-user desktop">
    <div class="ta-c">
        <a href="#sidebar-user-dropdown" data-fc-modules="toggle" class="c-foreground-light">
             <span class=" tablet va-m">
                <img src="{{ gravatar(app.user.email, 40) }}" alt="Avatar" class="image-circle">
            </span>
            <span class="sidebar-user-info desktop">
                <img src="{{ gravatar(app.user.email, 20) }}" alt="Avatar" class="image-circle va-m">
                {{ app.user.username }} <i class="icon-caret-down"></i>
            </span>
        </a>
    </div>
    <nav id="sidebar-user-dropdown" class="navigation navigation-vertical sidebar-user-dropdown hidden">
        <ul>
            <li data-test="menu-profile">
                <a href="{{ url('admin_admin_user_edit', {id: app.user.id }) }}">
                    <span class="mobile tablet">
                        <i class="icon-user fz-xl"></i> {{ 'admin.profile.single'|trans }}
                    </span>
                    <span class="desktop">
                        <i class="icon-user"></i> {{ 'admin.profile.single'|trans }}
                    </span>
                </a>
            </li>
            <li data-test="menu-logout">
                <a href="{{ url('admin_logout') }}">
                    <span class="mobile tablet">
                        <i class="icon-sign-out fz-xl"></i> {{ 'admin.login.action.logout'|trans }}
                    </span>
                    <span class="desktop">
                        <i class="icon-sign-out"></i> {{ 'admin.login.action.logout'|trans }}
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<nav id="menu" class="navigation navigation-vertical desktop">
    <ul>
        {% for menu_item in menu_items %}
        {% if menu_item.code != 'separator' %}
            <li class="{% if menu_item.active %}active{% endif %}{% if menu_item.subnodes|length %}parent{% endif %}" data-test="{{ menu_item.name }}">
                {% if generate_url(menu_item.url) != '' %}
                    <a href="{{ generate_url(menu_item.url) }}">
                {% else %}
                    <a href="#{{ menu_item.id }}" data-fc-modules="toggle">
                        <i class="icon-caret-down fl-r"></i>
                {% endif %}
                {% if menu_item.badge is defined %}<span class="badge {% if menu_item.badge > 0 %}badge-alert{% endif %}">{{ menu_item.badge }}</span>{% endif %}
                    <span class="mobile tablet">
                        <i class="icon-{{ menu_item.code|default("folder") }} fz-xl va-m mr-s"></i>
                            <span class="c-foreground-light">{{ menu_item.name|trans }}</span>
                        </span>
                        <span class="desktop">
                            <i class="icon-{{ menu_item.code|default("folder") }} mr-m"></i>
                            {{ menu_item.name|trans }}
                        </span>
                    </a>
                    {% for submenu_item in menu_item.subnodes %}
                        {% if loop.first %}
                            <ul id="{{ menu_item.id }}" {% if not menu_item.expanded %}class="hidden"{% endif %}>
                        {% endif %}
                        <li {% if submenu_item.active %}class="active"{% endif %} data-test="{{ submenu_item.name }}">
                            <a href="{{ generate_url(submenu_item.url) }}" class="pl-l"><i class="icon-angle-right"></i> {{ submenu_item.name|trans }}</a>
                        </li>
                        {% if loop.last %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </li>
            {% else %}
                <li class="pt-s">
                    <hr class="rule" />
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
<div class="d-n">
    <nav id="menu-mobile" class="navigation navigation-vertical">
        <ul>
            {% for menu_item in menu_items %}
                {% if menu_item.code != 'separator' %}
                    <li class="{% if menu_item.active %}active{% endif %}{% if menu_item.subnodes|length %}parent{% endif %}" data-test="{{ menu_item.name }}">
                        {% if generate_url(menu_item.url) != '' %}
                        <a href="{{ generate_url(menu_item.url) }}">
                            {% else %}
                            <a href="#{{ menu_item.id }}" data-fc-modules="toggle">
                                <i class="icon-caret-down fl-r"></i>
                                {% endif %}
                                {% if menu_item.badge is defined %}<span class="badge {% if menu_item.badge > 0 %}badge-alert{% endif %}">{{ menu_item.badge }}</span>{% endif %}
                                <span class="mobile tablet">
                            <i class="icon-{{ menu_item.code|default("folder") }} fz-xl va-m mr-s"></i>
                                <span class="c-foreground-light">{{ menu_item.name|trans }}</span>
                            </span>
                            <span class="desktop">
                                <i class="icon-{{ menu_item.code|default("folder") }} mr-m"></i>
                                {{ menu_item.name|trans }}
                            </span>
                            </a>
                            {% for submenu_item in menu_item.subnodes %}
                                {% if loop.first %}
                                    <ul id="{{ menu_item.id }}" {% if not menu_item.expanded %}class="hidden"{% endif %}>
                                {% endif %}
                                <li {% if submenu_item.active %}class="active"{% endif %} data-test="{{ submenu_item.name }}">
                                    <a href="{{ generate_url(submenu_item.url) }}" class="pl-l"><i class="icon-angle-right"></i> {{ submenu_item.name|trans }}</a>
                                </li>
                                {% if loop.last %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                    </li>
                {% else %}
                    <li class="pt-s">
                        <hr class="rule" />
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    <nav id="sidebar-user-mobile" class="navigation navigation-vertical">
        <ul>
            <li data-test="menu-profile">
                <a href="{{ url('admin_admin_user_edit', {id: app.user.id }) }}">
                    <span class="mobile tablet">
                        <i class="icon-user fz-xl"></i> {{ 'admin.profile.single'|trans }}
                    </span>
                    <span class="desktop">
                        <i class="icon-user"></i> {{ 'admin.profile.single'|trans }}
                    </span>
                </a>
            </li>
            <li data-test="menu-logout">
                <a href="{{ url('admin_logout') }}">
                    <span class="mobile tablet">
                        <i class="icon-sign-out fz-xl"></i> {{ 'admin.login.action.logout'|trans }}
                    </span>
                    <span class="desktop">
                        <i class="icon-sign-out"></i> {{ 'admin.login.action.logout'|trans }}
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</div>
