{% extends 'AdminCoreBundle::Common/component.html.twig' %}


{% block component %}

    {% block style %}
    {% endblock style %}

    <div class="block-flat">

        <div class="header">
            <h3>{% block title %}{% endblock title %}</h3>
        </div>
        <div class="content">
            <div class="table-responsive">
                <div id="datatable_wrapper" class="dataTables_wrapper form-inline" role="grid">

                    <ul class="row">
                        {{ block("table_buttons") }}
                    </ul>

                    <div class="row">
                        {{ block("table_pagination") }}
                    </div>

                    {{ block("table_content") }}

                    <div class="row">
                        {{ block("table_pagination") }}
                    </div>

                    <ul class="row">
                        {{ block("table_buttons") }}
                    </ul>

                </div>
            </div>
        </div>
    </div>

    {% block script %}
    {% endblock script %}

{% endblock component %}


{% block table_content %}
    <table class="table table-bordered dataTable" id="datatable-icons" aria-describedBy="datatable-icons_info">
        <thead>
            <tr role="row">
                {% block table_head %}
                {% endblock table_head %}
            </tr>
        </thead>
        <tbody role="alert" aria-live="polite" aria-relevant="all">
            {% block table_body %}
            {% for entity in paginator %}
                <tr class="gradeA {{ cycle(["odd", "even"], loop.index0) }}">
                    {% block table_body_row %}
                    {% endblock table_body_row %}
                </tr>
            {% endfor %}
            {% endblock table_body %}
        </tbody>
    </table>
{% endblock table_content %}


{% block table_pagination %}
    <div class="col-sm-12">
        <div class="pull-left">
            <div class="dataTables_info" id="datatable_info">
                {% set firstElement = limit * (page-1) + 1 %}
                {% set lastElement = firstElement + limit - 1 %}
                {% set lastElement = min(lastElement, totalElements) %}
                Showing {{ firstElement }} to {{ lastElement }} of {{ totalElements }} entries
            </div>
        </div>
        <div class="pull-right">
            {{ block("table_paginator_links") }}
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock table_pagination %}

{#
    Pagination block.

    To render this block you need to define the "url" parameter in the principal
    template, and then render the parent:

    {% set url = "admin_product_list" %}
    {{ parent() }}
#}
{% block table_paginator_links %}
    {% include "@AdminCore/Tables/paginator.html.twig" with {
        page: page,
        total_pages: totalPages,
        url: url,
        limit: limit,
        order_by_field: orderByField,
        order_by_direction: orderByDirection,
        middle_group_length: 1,
        side_group_space_length: 1,
    } %}
{% endblock table_paginator_links %}


{% block table_buttons %}
{% endblock table_buttons %}
