{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}

{% form_theme form 'AdminCoreBundle::Forms/fields.html.twig' %}

{% block title %}
    {{ 'Edit Product'|trans }} - {{ product.id }} - {{ product.name }}
{% endblock title %}

{% block content %}

    {% set formAction = product.id
        ? url('admin_product_update', {
            'id': product.id
        })
        : url('admin_product_save')

     %}
    <div class="pr-l">
    {{ form_start(form, {'action': formAction}) }}
        <fieldset class="mb-n">
            <div class="grid">
                <div class="col-1-3">
                    <div class="box-none">
                        <h3 class="fw-n">{% trans %}Basic Details{% endtrans %}</h3>
                        <p>{% trans %}Provide a very specific title for your product that explains and help sell your product and description that provides all the information required for your consumers.{% endtrans %}</p>
                        {% if languages()|length > 1 %}<p><i class="icon-star"></i> {% trans %}= Master Language (Mandatory){% endtrans %}</p>{% endif %}
                    </div>
                </div>
                <div class="col-2-3">
                    <div {% if languages()|length > 1 %}data-tc-modules="tabs" class="tabs-box" {% endif %}>
                        {% for language in languages() %}
                        <section id="tab-{{ language }}" data-tc-name="{% if loop.first %}<i class='icon-star'></i> {% endif %}{{ language|capitalize }}">
                            <div class="box">
                                <ol>
                                    <li>
                                        <label>{{ 'Title'|trans }}</label>
                                        {{ form_widget(form.name[language ~ '_name'],{'attr': {'placeholder':'e.g. My Awesome Product'}}) }}
                                        <details class="ph-n pt-m mb-n">
                                            <summary class="pl-l mb-n">{{ 'Personalize slug' }}</summary>
                                            {{ form_widget(form.slug[language ~ '_slug'],{'attr': {'data-tc-modules':'slug','data-tc-parent':'elcodi_admin_product_form_type_product_name_'~ language ~'_name' }}) }}
                                        </details>
                                    </li>
                                    <li>
                                        <label>{{ 'Description'|trans }}</label>
                                        {{ form_widget(form.description[language ~ '_description'],{'attr': {'placeholder':'e.g. This awesome product is exactly what you are lookin for.', 'data-tc-modules':'wysiwyg', 'data-tc-help':'Select some text to get some format options'|trans}}) }}
                                    </li>
                                </ol>
                            </div>
                        </section>
                        {% endfor %}
                        </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-1-3">
                    <div class="box-none">
                        <h3 class="fw-n">{% trans %}Categorization{% endtrans %}</h3>
                        <p>{% trans %}The product must be clasified under one category and one manufacturer. They will be visible in your store and must help your customers to navigate in your store.{% endtrans %}</p>
                    </div>
                </div>
                <div class="col-2-3">
                    <div class="box">
                        <ol class="grid">
                            <li class="col-1-2 pb-n pr-l">
                                {{ form_row(form.principalCategory, {'attr': {'label_help':'e.g. Computers, handbags...'}}) }}
                                <p class="pt-s fz-default mb-n ta-r"><a href="{{ url('admin_category_new') }}" data-tc-modules="modal-content"><i class="icon-plus"></i> {{ 'Create new Category' }}</a></p>
                            </li>
                            <li class="col-1-2 pb-n">
                                {{ form_row(form.manufacturer, {'attr': {'label_help':'e.g. Apple, Disney...'}}) }}
                                <p class="pt-s fz-default mb-n ta-r"><a href="{{ url('admin_manufacturer_new') }}" data-tc-modules="modal-content"><i class="icon-plus"></i> {{ 'Create new Manufacturer' }}</a></p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="grid{% if product.hasVariants %} d-n{% endif %}">
                <div class="col-1-3">
                    <div class="box-none">
                        <h3 class="fw-n">{% trans %}Pricing{% endtrans %}</h3>
                        <p>{% trans %}Set the price for your product, it doesn't include taxes or shipping. Also you can set a offer price.{% endtrans %}</p>
                    </div>
                </div>
                <div class="col-2-3">
                    <div class="box pb-n">
                        <ol class="grid">
                            <li class="col-1-2">
                                {{ form_row(form.price) }}
                                {{ form_row(form.stock) }}
                            </li>
                            <li class="col-1-2">
                                {{ form_row(form.reducedPrice) }}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            {% if product.id %}
                <div class="grid">
                    <div class="col-1-3">
                        <div class="box-none">
                            <h3 class="fw-n">{% trans %}Variants{% endtrans %}</h3>
                            <p>{% trans %}Variants are diferent versions of this product (color, size... ). Variants can have different prices or other attributes.{% endtrans %}</p>
                            <a href="{{ url("admin_product_variant_new", {'productId': product.id}) }}" data-tc-modules="modal-content" data-tc-width="95%" data-tc-height="95%" class="button">
                                Create Variant
                            </a>
                            <p><a href="{{ url("admin_attribute_new") }}" id="modal-attribute" class="button" data-tc-modules="modal-content">{{ "New atrribute"|trans }}</a> </p>
                        </div>
                    </div>
                    <div class="col-2-3" data-tc-modules="variants">
                        <input id="variants-url" type="hidden" value="{{ url("admin_product_variant_list_component", { 'productId': product.id }) }}" />
                        <input id="variants-message-ok" type="hidden" value="{{ 'Changes Saved.'|trans }}" />
                        <div class="box" id="variants-list">
                            {{ render(url("admin_product_variant_list_component", {
                                'productId': product.id
                            })) }}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% include '@AdminMedia/Module/_images-form-field.html.twig' with {
                'images' : product.getSortedImages
            } %}

            <details class="ph-n">
                <summary class="mb-n pl-xl">{{ 'Personalize Metadata'|trans }}</summary>
                <div class="grid">
                    <div class="col-1-3">
                        <div class="box-none">
                            <h3 class="fw-n">{% trans %}Metadata{% endtrans %}</h3>
                            <p>{% trans %}Description and keywords in meta tags are commonly used to describe the Web page's content. Most search engines use these data when adding pages to their search index.{% endtrans %}</p>
                            {% if languages()|length > 1 %}<p><i class="icon-star"></i> {% trans %}= Master Language (Mandatory){% endtrans %}</p>{% endif %}
                        </div>
                    </div>
                    <div class="col-2-3">
                        <p class="msg-warning">{% trans %}<strong>This area for advanced users.</strong> Leave this fields in blank to obtain automatically the metadata of your product.{% endtrans %}</p>
                        <div {% if languages()|length > 1 %}data-tc-modules="tabs" class="tabs-box" {% endif %}>
                            {% for language in languages() %}
                                <section id="metadata-{{ language }}" data-tc-name="{% if loop.first %}<i class='icon-star'></i> {% endif %}{{ language|capitalize }}">
                                    <div class="box">
                                        <ol>
                                            <li>
                                                <label>{{ 'metaTitle'|trans }}</label>
                                                {{ form_widget(form.metaTitle[language ~ '_metaTitle'],{'attr': {'placeholder':'e.g. My Awesome Product'}}) }}
                                            </li>
                                            <li>
                                                <label>{{ 'metaDescription'|trans }}</label>
                                                {{ form_widget(form.metaDescription[language ~ '_metaDescription'],{'attr': {'placeholder':'e.g. This awesome product is exactly what you are lookin for.'}}) }}
                                            </li>
                                            <li>
                                                <label>{{ 'metaKeywords'|trans }}</label>
                                                {{ form_widget(form.metaKeywords[language ~ '_metaKeywords'],{'attr': {'placeholder':'e.g. product,awesome'}}) }}
                                            </li>
                                        </ol>
                                    </div>
                                </section>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </details>
            <div class="grid">
                <div class="col-1-3">
                    <div class="box-none mb-n pb-m">
                        <h3 class="fw-n">{% trans %}Visibility{% endtrans %}</h3>
                        <p>{% trans %}Set this product as visible or hidden, and make it visible in your home.{% endtrans %}</p>
                    </div>
                </div>
                <div class="col-2-3">
                    <div class="box mb-n pb-n">
                        <ol class="grid pt-m">
                            <li class="col-1-2">
                                {{ form_row(form.showInHome, {'attr': {'type':'checkbox'}}) }}
                            </li>
                            <li class="col-1-2">
                                {{ form_row(form.enabled, {'attr': {'type':'checkbox'}}) }}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="grid">
            <div class="col-1-3">
                &nbsp;
            </div>
            <div class="col-2-3">
                <button type="submit" class="button-primary">{{ 'Save'|trans }}</button>
                <a href="{{ path('admin_product_list') }}" class="button">{{ 'Cancel'|trans }}</a>

            </div>
        </div>
    {{ form_end(form) }}
    </div>
{% endblock content %}
