{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block content_title %}
    {{ 'Product Zone'|trans }}
{% endblock content_title %}

{% block header_actions %}
    {% if product.id > 0 %}
        <a target="_blank" href="{{ url("store_product_view",{id: product.id, slug: product.slug}) }}" class="button-primary"><i class="icon-eye"></i> {{ 'View on your store'|trans }}</a>
    {% endif %}
{% endblock header_actions %}

{% block breadcrumb %}

    {% set entityHeader = product.id
        ? 'Edit ' ~ product.name
        : 'Create new Product'
    %}

    {% include '@AdminCore/Common/breadcrumb.html.twig' with {
        breadcrumb: {
            'Products': {
                'url': url('admin_product_list')
            },
            (entityHeader): {
                'active' : true
            }
        }
    } %}
{% endblock breadcrumb %}

{% block content %}

    {% if product.id %}
        {{ render(url("admin_product_edit_component", {
            'id': product.id
        })) }}
    {% else %}
        {{ render(url("admin_product_new_component")) }}
    {% endif %}

    {% if product.id %}
        <br /><br />
        {{ render(url('admin_metric_last_24_hours', {
            'tracker': store_tracker,
            'event': 'product_view_' ~ product.id
        })) }}

        {% set author_token = app.user.token %}
        {% set context = "admin" %}
        {% set source = "product-" ~ product.id %}

        <div
            class="boxpopuli-box"
            data-tc-modules="boxpopuli"
            data-token="{{ author_token }}"
            data-author-name="{{ app.user.fullname }}"
            data-author-email="{{ app.user.email }}"
            data-context="{{ context }}"
            data-source="{{ source }}"
            data-route-list="{{ url("elcodi_comments_list", {"source": source, "context": context}) }}"
            data-route-add="{{ url("elcodi_comments_add", {"source": source, "context": context, "authorToken": author_token}) }}"

        ></div>

    {% endif %}

{% endblock content %}
