{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block content_title %}
    {{ 'Product Zone'|trans }}
{% endblock content_title %}

{% block header_actions %}
    <a target="_blank" href="{{ url("store_product_view",{id: product.id, slug: product.slug}) }}" class="button-primary"><i class="icon-eye"></i> {{ 'View on your store'|trans }}</a>
{% endblock header_actions %}

{% block breadcrumb %}

    {% set entityHeader = product.id
        ? 'Edit ' ~ product.name
        : 'Create new Product'
    %}

    {% include '@AdminCore/Common/breadcrumb.html.twig' with {
        breadcrumb: {
            'Products': {
                'url': url('admin_product_list')
            },
            (entityHeader): {
                'active' : true
            }
        }
    } %}
{% endblock breadcrumb %}

{% block content %}

    {% if product.id %}
        {{ render(url("admin_product_edit_component", {
            'id': product.id
        })) }}
    {% else %}
        {{ render(url("admin_product_new_component")) }}
    {% endif %}

    {% if product.id %}
        <br /><br />
        {{ render(url('admin_metric_last_24_hours', {
            'tracker': store_tracker,
            'event': 'product_view_' ~ product.id
        })) }}
    {% endif %}

{% endblock content %}
