{% extends 'AdminCoreBundle::Common/listComponent.html.twig' %}


{% set elcodi_context = {
    entity_type: 'attribute',
} %}


{% block title 'admin.attribute.list'|trans %}


{% block no_items
    lists.no_items(
        'admin.attribute.single'|trans,
        'admin.attribute.plural'|trans,
        url('admin_attribute_new')
    )
%}


{% block table_head %}
    {% include '@AdminCore/Tables/head.html.twig' with {
        rows: [
            { name: 'admin.attribute.field.name.title'|trans, width: 20 },
            { name: 'admin.attribute.field.name.values'|trans },
            { name: 'admin.attribute.field.enabled.title'|trans, width: 15 },
        ],
        class: 'attribute',
    } %}
{% endblock table_head %}


{% block table_body_row %}

    <td>
        <a href="{{ url('admin_attribute_edit', { id: entity.id }) }}">
            <strong>{{ entity.name }}</strong>
        </a>
    </td>
    <td>
        {% for value in entity.values %}
            {{ value }}{% if not loop.last %},{% endif %}
        {% endfor %}
    </td>
    <td>
        {% if entity.enabled == 1%}
            <span class="label label-ok">{{ 'ui.label.enabled'|trans }}</span>
        {% else %}
            <span class="label">{{ 'ui.label.disabled'|trans }}</span>
        {% endif %}
    </td>
    {% include '@AdminCore/Tables/actions.html.twig' with {
        entity: entity,
        class: 'attribute',
    } %}

{% endblock table_body_row %}


{% block table_paginator_links %}

    {% set url = 'admin_attribute_list' %}
    {{ parent() }}

{% endblock table_paginator_links %}
