{% extends 'AdminCoreBundle::layout.html.twig' %}


{% set elcodi_context = {
    entity_type: 'configuration',
} %}


{% import _self as macro %}


{% macro config_input(name, label) %}

    <label for="{{ name }}">{{ label|trans }}</label>
    <i class="icon-pencil"></i>
    <input id="{{ name }}" type="text" name="{{ name }}" value="{{ elcodi_config(name) }}"/>
    <input id="url-{{ name }}" type="hidden" value="{{ url('admin_configuration_update', { name: name }) }}">

{% endmacro %}


{% macro config_switch(name, label) %}

    <input id="url-{{ name }}" type="hidden" value="{{ url('admin_configuration_update', { name: name }) }}">
    <div class="switch">
        <input id="{{ name }}" name="{{ name }}" type="checkbox" {%- if elcodi_config(name) %} checked="checked" {% endif -%}/>
        <label for="{{ name }}"></label>
    </div>
    {{ label|trans }}

{% endmacro %}


{% macro config_select(name, label, options, value_field, label_field ) %}

    <label for="{{ name }}">{{ label|trans }}</label>
    <i class="icon-pencil"></i>
    {% set default = elcodi_config(name) %}
    <select id="{{ name }}" name="{{ name }}">
        {% for option in options %}
            {% set value = attribute(option, value_field) %}
            <option value="{{ value }}"{% if value == default %} selected="selected"{% endif %}>{{ attribute(option, label_field) }}</option>
        {% endfor %}
    </select>
    <input id="url-{{ name }}" type="hidden" value="{{ url('admin_configuration_update', { name: name }) }}">

{% endmacro %}


{% block breadcrumb %}

    {% include '@AdminCore/Common/breadcrumb.html.twig' with {
        breadcrumb: [
            { name: 'admin.settings.plural'|trans },
            { name: 'admin.settings.section.store.title'|trans, active: true },
        ]
    } %}

{% endblock breadcrumb %}


{% block content %}

    <form class="form-configuration" data-fc-modules="form-save-on-edit">
        <fieldset class="grid">
            <div class="col-1-3">
                <h2 class="fw-n">Store setup</h2>
                <p>Set the Store data.</p>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            {{
                                macro.config_switch(
                                    'store.enabled',
                                    'admin.settings.field.store_enabled'
                                )
                            }}
                        </li>
                        <li>
                            {{
                                macro.config_switch(
                                    'store.under_construction',
                                    'admin.settings.field.store_under_construction'
                                )
                            }}
                        </li>
                        <li>
                            {{
                                macro.config_input(
                                    'store.name',
                                    'admin.settings.field.store_name'
                                )
                            }}
                        </li>
                        <li>
                            {{
                                macro.config_input(
                                    'store.leitmotiv',
                                    'admin.settings.field.store_leitmotiv'
                                )
                            }}
                        </li>
                        <li>
                            {{
                                macro.config_input(
                                    'store.phone',
                                    'admin.settings.field.store_phone'
                                )
                            }}
                        </li>
                        <li>
                            {{
                                macro.config_input(
                                    'store.email',
                                    'admin.settings.field.store_email'
                                )
                            }}
                        </li>
                        <li>
                            {{
                                macro.config_select(
                                    'currency.default_currency',
                                    'admin.settings.field.currency',
                                    currencies,
                                    'iso',
                                    'name'
                                )
                            }}
                        </li>
                    </ol>
                </div>
            </div>
        </fieldset>
        <fieldset class="grid">
            <div class="col-1-3">
                <h2 class="fw-n">{{ 'admin.settings.section.products.title'|trans }}</h2>
                <p>{{ 'admin.settings.section.products.description'|trans }}</p>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            {{
                                macro.config_switch(
                                    'product.use_stock',
                                    'admin.settings.field.product_stock.description'
                                )
                            }}
                            <em class="fz-s">({{ 'admin.settings.field.product_stock.description'|trans }})</em>
                        </li>
                    </ol>
                </div>
            </div>
        </fieldset>
    </form>

{% endblock content %}
