{% extends 'AdminCoreBundle::layout.html.twig' %}


{% set elcodi_context = {
    entity_type: 'configuration',
} %}


{% block breadcrumb %}

    {% include '@AdminCore/Common/breadcrumb.html.twig' with {
        breadcrumb: [
            { name: 'admin.settings.plural'|trans, active: true },
        ]
    } %}

{% endblock breadcrumb %}


{% block content %}

    <form class="form-configuration" data-tc-modules="form-save-on-edit">
        <fieldset class="grid">
            <div class="col-1-3">
                <h2 class="fw-n">Store setup</h2>
                <p>Set the Store data.</p>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            <input id="url-store.enabled" type="hidden" value="{{ url('admin_configuration_update', { name: 'store.enabled' }) }}">
                            <div class="switch">
                                <input id="store.enabled" name="store.enabled" type="checkbox"{% if elcodi_config('store.enabled') %} checked="checked"{% endif %} />
                                <label for="store.enabled"></label>
                            </div>
                            {{ 'admin.settings.field.store_enabled'|trans }}
                        </li>
                        <li>
                            <input id="url-store.under_construction" type="hidden" value="{{ url('admin_configuration_update', { name: 'store.under_construction' }) }}">
                            <div class="switch">
                                <input id="store.under_construction" name="store.under_construction" type="checkbox"{% if elcodi_config('store.under_construction') %} checked="checked"{% endif %} />
                                <label for="store.under_construction"></label>
                            </div>
                            {{ 'admin.settings.field.store_under_construction'|trans }}
                        </li>
                        <li>
                            <label for="store.name">{{ 'admin.settings.field.store_name'|trans }}</label>
                            <i class="icon-pencil"></i>
                            <input id="store.name" type="text" name="store.name" value="{{ elcodi_config('store.name') }}"/>
                            <input id="url-store.name" type="hidden" value="{{ url('admin_configuration_update', { name: 'store.name' }) }}">
                        </li>
                        <li>
                            <label for="store.leitmotiv">{{ 'admin.settings.field.store_leitmotiv'|trans }}</label>
                            <i class="icon-pencil"></i>
                            <input id="store.leitmotiv" type="text" name="store.leitmotiv" value="{{ elcodi_config('store.leitmotiv') }}"/>
                            <input id="url-store.leitmotiv" type="hidden" value="{{ url('admin_configuration_update', { name: 'store.leitmotiv' }) }}">
                        </li>
                        <li>
                            <label for="store.phone">{{ 'admin.settings.field.store_phone'|trans }}</label>
                            <i class="icon-pencil"></i>
                            <input id="store.phone" type="text" name="store.phone" value="{{ elcodi_config('store.phone') }}"/>
                            <input id="url-store.phone" type="hidden" value="{{ url('admin_configuration_update', { name: 'store.phone' }) }}">
                        </li>
                        <li>
                            <label for="store.email">{{ 'admin.settings.field.store_email'|trans }}</label>
                            <i class="icon-pencil"></i>
                            <input id="store.email" type="text" name="store.email" value="{{ elcodi_config('store.email') }}"/>
                            <input id="url-store.email" type="hidden" value="{{ url('admin_configuration_update', { name: 'store.email' }) }}">
                        </li>
                        <li>
                            <label for="currency.default_currency">{{ 'admin.settings.field.currency'|trans }}</label>
                            <i class="icon-pencil"></i>
                            {% set defaultCurrency = elcodi_config('currency.default_currency') %}
                            <select id="currency.default_currency" name="currency.default_currency">
                                {% for currency in currencies %}
                                    <option value="{{ currency.iso }}"{% if currency.iso == defaultCurrency %} selected="selected"{% endif %}>{{ currency.name }}</option>
                                {% endfor %}
                            </select>
                            <input id="url-currency.default_currency" type="hidden" value="{{ url('admin_configuration_update', { name: 'currency.default_currency' }) }}">
                        </li>
                    </ol>
                </div>
            </div>
        </fieldset>
        <fieldset class="grid">
            <div class="col-1-3">
                <h2 class="fw-n">{{ 'admin.settings.section.products.title'|trans }}</h2>
                <p>{{ 'admin.settings.section.products.description'|trans }}</p>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            <input id="url-product.use_stock" type="hidden" value="{{ url('admin_configuration_update', { name: 'product.use_stock' }) }}">
                            <div class="switch">
                                <input id="product.use_stock" name="product.use_stock" type="checkbox"{% if elcodi_config('product.use_stock') %} checked="checked"{% endif %} />
                                <label for="product.use_stock"></label>
                            </div>
                            {{ 'admin.settings.field.product_stock.title'|trans }}
                            <em class="fz-s">({{ 'admin.settings.field.product_stock.description'|trans }})</em>
                        </li>
                    </ol>
                </div>
            </div>
        </fieldset>
        <fieldset class="grid">
            <div class="col-1-3">
                <h2 class="fw-n">{{ 'Social'|trans }}</h2>
                <p>{{ 'Your shop in the networks'|trans }}</p>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            <label for="store.social_facebook">{{ 'Facebook Account'|trans }}</label>
                            <i class="icon-pencil"></i>
                            <input id="store.social_facebook" type="text" name="store.social_facebook" value="{{ elcodi_config('store.social_facebook') }}"/>
                            <input id="url-store.social_facebook" type="hidden" value="{{ url("admin_configuration_update", {"name": "store.social_facebook"}) }}">
                        </li>
                    </ol>
                </div>
            </div>
        </fieldset>
    </form>

{% endblock content %}
