{% extends 'AdminCoreBundle::layout.html.twig' %}


{% block content_title %}
    {{ 'Configuration Zone'|trans }}
{% endblock content_title %}


{% block breadcrumb %}
    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
        breadcrumb: {
            "Configuration": {
                "active" : true
            }
        }
    } %}
{% endblock breadcrumb %}


{% block content %}
    <form class="form-configuration" data-tc-modules="form-save-on-edit">
        <fieldset class="grid">
            <div class="col-1-3">
                <h2 class="fw-n">Store setup</h2>
                <p>Set the Store data.</p>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            <input id="url-store.enabled" type="hidden" value="{{ url("admin_configuration_update", {"name": "store.enabled"}) }}">
                            <div class="switch">
                                <input id="store.enabled" name="store.enabled" type="checkbox"{% if getConfiguration('store.enabled') %} checked="checked"{% endif %} />
                                <label for="store.enabled"></label>
                            </div>
                            {% trans %}Store enabled{% endtrans %}
                        </li>
                        <li>
                            <input id="url-store.under_construction" type="hidden" value="{{ url("admin_configuration_update", {"name": "store.under_construction"}) }}">
                            <div class="switch">
                                <input id="store.under_construction" name="store.under_construction" type="checkbox"{% if getConfiguration('store.under_construction') %} checked="checked"{% endif %} />
                                <label for="store.under_construction"></label>
                            </div>
                            {% trans %}Store under construction{% endtrans %}
                        </li>
                        <li>
                            <label for="store.name">{{ 'Store Name'|trans }}</label>
                            <i class="icon-pencil"></i>
                            <input id="store.name" type="text" name="store.name" value="{{ getConfiguration('store.name') }}"/>
                            <input id="url-store.name" type="hidden" value="{{ url("admin_configuration_update", {"name": "store.name"}) }}">
                        </li>
                        <li>
                            <label for="store.leitmotiv">{{ 'Store Leitmotiv'|trans }}</label>
                            <i class="icon-pencil"></i>
                            <input id="store.leitmotiv" type="text" name="store.leitmotiv" value="{{ getConfiguration('store.leitmotiv') }}"/>
                            <input id="url-store.leitmotiv" type="hidden" value="{{ url("admin_configuration_update", {"name": "store.leitmotiv"}) }}">
                        </li>
                        <li>
                            <label for="store.phone">{{ 'Store Phone'|trans }}</label>
                            <i class="icon-pencil"></i>
                            <input id="store.phone" type="text" name="store.phone" value="{{ getConfiguration('store.phone') }}"/>
                            <input id="url-store.phone" type="hidden" value="{{ url("admin_configuration_update", {"name": "store.phone"}) }}">
                        </li>
                        <li>
                            <label for="store.email">{{ 'Store Email'|trans }}</label>
                            <i class="icon-pencil"></i>
                            <input id="store.email" type="text" name="store.email" value="{{ getConfiguration('store.email') }}"/>
                            <input id="url-store.email" type="hidden" value="{{ url("admin_configuration_update", {"name": "store.email"}) }}">
                        </li>
                        <li>
                            <label for="currency.default_currency">{{ 'Currency configuration'|trans }}</label>
                            <i class="icon-pencil"></i>
                            {% set defaultCurrency = getConfiguration('currency.default_currency') %}
                            <select id="currency.default_currency" name="currency.default_currency">
                                {% for currency in currencies %}
                                    <option value="{{ currency.iso }}"{% if currency.iso == defaultCurrency %} selected="selected"{% endif %}>{{ currency.name }}</option>
                                {% endfor %}
                            </select>
                            <input id="url-currency.default_currency" type="hidden" value="{{ url("admin_configuration_update", {"name": "currency.default_currency"}) }}">
                        </li>
                    </ol>
                </div>
            </div>
        </fieldset>
        <fieldset class="grid">
            <div class="col-1-3">
                <h2 class="fw-n">Products setup</h2>
                <p>Set the Store data.</p>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            <input id="url-product.use_stock" type="hidden" value="{{ url("admin_configuration_update", {"name": "product.use_stock"}) }}">
                            <div class="switch">
                                <input id="product.use_stock" name="product.use_stock" type="checkbox"{% if getConfiguration('product.use_stock') %} checked="checked"{% endif %} />
                                <label for="product.use_stock"></label>
                            </div>
                            {% trans %}Stock <em class="fz-s">(Enable this option to activate stock control)</em> {% endtrans %}
                        </li>
                    </ol>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock content %}
