{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}


{% set elcodi_context = {
    entity_type: 'variant'
} %}


{% form_theme form 'AdminCoreBundle::Forms/fields.html.twig' %}


{% block content %}

    <header class="section-header">
        {% set title = 'admin.product.plural'|trans %}

        {% if variant.id %}
            {% set name %}
                {% for option in variant.options %}
                    {{ option.value }}
                {% endfor %}
            {% endset %}
            {% set header = 'admin.variant.edit'|trans({ '%name%': name|trim }) %}
        {% else %}
            {% set header = 'admin.variant.new'|trans %}
        {% endif %}

        {% include '@AdminCore/Common/breadcrumb.html.twig' with {
            breadcrumb: [
                { name: title, url: url('admin_product_list') },
                { name: product.name, url: url('admin_product_edit', { id: product.id }) },
                { name: header, active: true },
            ],
        } %}
    </header>

    <div class="papa-air">
    {% include 'AdminCoreBundle::Common/flashMessages.html.twig' %}

    {% set formAction = variant.id
        ? url('admin_product_variant_update', {
            productId: product.id,
            id: variant.id,
        })
        : url('admin_product_variant_save', {
            productId: product.id,
        })
    %}

    {{ form_start(form, { action: formAction }) }}
        <fieldset>
            <div class="grid">
                <div class="col-1-3">
                    <div class="box-none">
                        <h3 class="fw-n">{{ 'admin.variant.section.attributes.title'|trans }}</h3>
                        <p>{{ 'admin.variant.section.attributes.description'|trans }}</p>
                        <p>
                            <a href="{{ url('admin_attribute_new') }}" id="new-attribute" data-fc-modules="window-content" class="button">
                                <i class="icon-plus"></i>
                                {{ 'admin.attribute.new'|trans }}
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-2-3">
                    <div class="box">
                        <ol>
                            <li data-fc-modules="multiple-select">
                                <i class="icon-circle-o-notch icon-spin fz-xl"></i>
                                <div class="d-n">
                                    {{
                                        form_row(form.options, {
                                            label: 'admin.variant.field.options.title',
                                        })
                                    }}
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-1-3">
                    <div class="box-none">
                        <h3 class="fw-n">{{ 'admin.variant.section.pricing.title'|trans }}</h3>
                        <p>{{ 'admin.variant.section.pricing.description'|trans }}</p>
                    </div>
                </div>
                <div class="col-2-3">
                    <div class="box pb-n">
                        <ol class="grid">
                            <li class="col-1-2">
                                {{ form_row(form.price, { label: 'admin.variant.field.price.title' }) }}
                            </li>
                            <li class="col-1-2">
                                {{ form_row(form.reducedPrice, { label: 'admin.variant.field.reduced_price.title' }) }}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="grid{% if not useStock %} d-n{% endif %}">
                <div class="col-1-3">
                    <div class="box-none">
                        <h3 class="fw-n">{{ 'admin.product.section.stock.title'|trans }}</h3>
                        <p>{{ 'admin.product.section.stock.description'|trans }}</p>
                    </div>
                </div>
                <div class="col-2-3">
                    <div class="box pb-n">
                        <ol>
                            <li>
                                {{
                                    form_row(form.stock, {
                                        label: 'admin.product.field.stock.title',
                                    })
                                }}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-1-3">
                    <div class="box-none">
                        <h3 class="fw-n">{{ 'admin.product.section.sku.title'|trans }}</h3>
                        <p>{{ 'admin.product.section.sku.description'|trans }}</p>
                    </div>
                </div>
                <div class="col-2-3">
                    <div class="box">
                        {{
                        form_row(form.sku, {
                            label: 'admin.product.field.sku.title',
                        })
                        }}
                    </div>
                </div>
            </div>
            {% include '@AdminMedia/Module/_images-form-field.html.twig' with {
                images: variant.images,
            } %}

            <div class="grid">
                <div class="col-1-3">
                    <div class="box-none mb-n pb-m">
                        <h3 class="fw-n">{{ 'admin.variant.section.visibility.title'|trans }}</h3>
                        <p>{{ 'admin.variant.section.visibility.description'|trans }}</p>
                    </div>
                </div>
                <div class="col-2-3">
                    <div class="box mb-n pb-n">
                        <ol>
                            <li>
                                {{
                                    form_row(form.enabled, {
                                        label: 'admin.variant.field.enabled.title'
                                    })
                                }}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="grid fixed-bottom animated fade-in-up">
            <div class="col-1-3">
                &nbsp;
            </div>
            <div class="col-2-3">
                <button type="submit" class="button-primary button-fat pv-s mr-l" id="submit-variant">{{ 'ui.forms.save'|trans }}</button>
                <script type="text/javascript">
                    if ( window!=window.top ) {
                        var oParent = window.parent,
                            oModal = oParent.TinyCore.Module.instantiate('modal');
                    }
                </script>
                <a href="javascript:oModal.close();">{{ 'ui.forms.cancel'|trans }}</a>
            </div>
        </div>
    {{ form_end(form) }}
    </div>

{% endblock content %}
