{% extends 'AdminCoreBundle::Common/listComponent.html.twig' %}


{% set elcodi_context = {
    entity_type: 'variant'
} %}


{% block title 'admin.variant.list'|trans %}


{% block no_items
    lists.no_items(
        'admin.variant.single'|trans,
        'admin.variant.plural'|trans,
        url('admin_product_variant_new', { productId: productId })
    )
%}


{% block table_head %}

    {% include '@AdminCore/Tables/head.html.twig' with {
        rows: [
            { name: 'admin.variant.field.name.title'|trans, width: 50 },
            { name: 'admin.variant.field.price.title'|trans, width: 10 },
            { name: 'admin.variant.field.reduced_price.title'|trans, width: 20 },
            { name: 'admin.variant.field.enabled.title'|trans, width: 10 },
        ],
        class: 'variant'
    } %}

{% endblock table_head %}


{% block table_body_row %}

    <td>
        <a target="_blank" data-fc-modules="modal"
           data-fc-width="95%" data-fc-height="95%"
           href="{{
                url( 'admin_product_variant_edit', {
                    productId: entity.product.id,
                    id: entity.id,
                })
           }}">
            {% set optionName = '' %}
            {% for option in entity.options %}
                {% set optionName = optionName ~ option.value ~ ' ' %}
            {% endfor %}
            {%  if optionName|replace(' ','') == '' %}
                {{ 'admin.variant.single'|trans }}
            {% else %}
                {{ optionName }}
            {% endif %}
        </a>
    </td>
    <td>
        {{ entity.price|print_money }}
    </td>
    <td>
        {{ entity.reducedPrice|print_money }}
    </td>
    <td>
        {% if entity.enabled %}
            <span class="label-ok">{{ 'admin.variant.field.enabled.options.active'|trans }}</span>
        {% else %}
            <span class="label-ko">{{ 'admin.variant.field.enabled.options.inactive'|trans }}</span>
        {% endif %}
    </td>

    <td class="center">
        {% if delete is not defined or delete != false %}
            <a class="icon-trash-o c-ko td-n fz-l"
               data-fc-modules="confirm"
               data-fc-name="{{ entity.product.name }}{% for option in entity.options %} {{ option.value }}{% endfor %}"
               data-fc-text="{{ 'ui.confirm.delete'|trans }}"
               href="{{
                    url('admin_product_variant_delete', {
                        productId: entity.product.id,
                        id: entity.id,
                    })
                }}"
            >
                <i class="fa fa-times"></i>
            </a>
        {% endif %}
    </td>

{% endblock table_body_row %}


{% block table_pagination '' %}


{#
 # Twig variable 'productId' is passed directly
 # from VariantComponentController::listComponentAction
 # since in this block scope we cannot access entities
 # being iterated
 #}
