{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}

{% form_theme form 'AdminCoreBundle::Forms/fields.html.twig' %}

{% block title %}
    {{ 'Edit Page'|trans }} - {{ page.id }} - {{ page.name }}
{% endblock title %}

{% block content %}

    {% set formAction = page.id
        ? url('admin_page_update', {
            'id': page.id
        })
        : url('admin_page_save')

     %}

    {{ form_start(form, {'action': formAction}) }}
        <fieldset class="mb-n">
            <div class="grid">
                <div class="col-1-3">
                    <div class="box-none">
                        <h3 class="fw-n">{% trans %}Basic Details{% endtrans %}</h3>
                        <p>{% trans %}Provide a very specific title for your page that explains and help sell your page and description that provides all the information required for your consumers.{% endtrans %}</p>
                        {% if languages()|length > 1 %}<p><i class="icon-star"></i> {% trans %}= Master Language (Mandatory){% endtrans %}</p>{% endif %}
                    </div>
                </div>
                <div class="col-2-3">
                    <div {% if languages()|length > 1 %}data-tc-modules="tabs" class="tabs-box" {% endif %}>
                        {% for language in languages() %}
                        <section id="tab-{{ language }}" data-tc-name="{% if loop.first %}<i class='icon-star'></i> {% endif %}{{ language|capitalize }}">
                            <div class="box">
                                <ol>
                                    <li>
                                        <label>{{ 'Title'|trans }}</label>
                                        {{ form_widget(form.title[language ~ '_title'],{'attr': {'placeholder':'e.g. My Awesome Page'}}) }}
                                    </li>
                                    <li>
                                        <label>{{ 'Path'|trans }}</label>
                                        {{ form_widget(form.path[language ~ '_path'],{'attr': {'placeholder':'e.g. my/awesome/page'}}) }}
                                    </li>
                                    <li>
                                        <label>{{ 'Content'|trans }}</label>
                                        {{ form_widget(form.content[language ~ '_content'],{'attr': {'placeholder':'e.g. This awesome page is exactly what you are lookin for.', 'data-tc-modules':'wysiwyg', 'data-tc-help':'Select some text to get some format options'|trans}}) }}
                                    </li>
                                </ol>
                            </div>
                        </section>
                        {% endfor %}
                        </div>
                </div>
            </div>

            <details class="ph-n">
                <summary class="mb-n pl-xl">{{ 'Personalize Metadata'|trans }}</summary>
                <div class="grid">
                    <div class="col-1-3">
                        <div class="box-none">
                            <h3 class="fw-n">{% trans %}Metadata{% endtrans %}</h3>
                            <p>{% trans %}Description and keywords in meta tags are commonly used to describe the Web page's content. Most search engines use these data when adding pages to their search index.{% endtrans %}</p>
                            {% if languages()|length > 1 %}<p><i class="icon-star"></i> {% trans %}= Master Language (Mandatory){% endtrans %}</p>{% endif %}
                        </div>
                    </div>
                    <div class="col-2-3">
                        <p class="msg-warning">{% trans %}<strong>This area for advanced users.</strong> Leave this fields in blank to obtain automatically the metadata of your page.{% endtrans %}</p>
                        <div {% if languages()|length > 1 %}data-tc-modules="tabs" class="tabs-box" {% endif %}>
                            {% for language in languages() %}
                                <section id="metadata-{{ language }}" data-tc-name="{% if loop.first %}<i class='icon-star'></i> {% endif %}{{ language|capitalize }}">
                                    <div class="box">
                                        <ol>
                                            <li>
                                                <label>{{ 'metaTitle'|trans }}</label>
                                                {{ form_widget(form.metaTitle[language ~ '_metaTitle'],{'attr': {'placeholder':'e.g. My Awesome Page'}}) }}
                                            </li>
                                            <li>
                                                <label>{{ 'metaDescription'|trans }}</label>
                                                {{ form_widget(form.metaDescription[language ~ '_metaDescription'],{'attr': {'placeholder':'e.g. This awesome page is exactly what you are lookin for.'}}) }}
                                            </li>
                                            <li>
                                                <label>{{ 'metaKeywords'|trans }}</label>
                                                {{ form_widget(form.metaKeywords[language ~ '_metaKeywords'],{'attr': {'placeholder':'e.g. page,awesome'}}) }}
                                            </li>
                                        </ol>
                                    </div>
                                </section>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </details>
            <div class="grid">
                <div class="col-1-3">
                    <div class="box-none mb-n pb-m">
                        <h3 class="fw-n">{% trans %}Visibility{% endtrans %}</h3>
                        <p>{% trans %}Set this page as visible or hidden, and make it visible in your home.{% endtrans %}</p>
                    </div>
                </div>
                <div class="col-2-3">
                    <div class="box mb-n pb-n">
                        <ol class="grid pt-m">
                            <li class="col-1-2">
                                {{ form_row(form.enabled, {'attr': {'type':'checkbox'}}) }}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="grid">
            <div class="col-1-3">
                &nbsp;
            </div>
            <div class="col-2-3">
                <button type="submit" class="button-primary">{{ 'Save'|trans }}</button>
                <a href="{{ path('admin_page_list') }}" class="button">{{ 'Cancel'|trans }}</a>

            </div>
        </div>
    {{ form_end(form) }}

{% endblock content %}
