<li class="parent">
    <a href="{{ url("admin_cart_list") }}">
        <i class="fa fa-shopping-cart"></i>
        <span>{{ 'Purchases'|trans }}</span>
    </a>

    <ul class="sub-menu">
        <li><a href="{{ url("admin_cart_list") }}">{{ 'Carts'|trans }}</a></li>
        <li><a href="{{ url("admin_order_list") }}">{{ 'Orders'|trans }}</a></li>
    </ul>
</li>
