{% extends 'AdminCoreBundle::layout.html.twig' %}


{% block content_title %}
    {{ 'Category Zone'|trans }}
{% endblock content_title %}


{% block header_actions %}
    {% if category.id > 0 %}
        <a target="_blank" href="{{ url("store_category_products_list",{id: category.id, slug: category.slug}) }}" class="button-primary"><i class="icon-eye"></i> {{ 'View on your store'|trans }}</a>
    {% endif %}
{% endblock header_actions %}


{% block breadcrumb %}
    {% set entityHeader = category.id
        ? 'Edit ' ~ category.name
        : 'Create new Category'
    %}

    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
        breadcrumb: {
            "Categories": {
                "url": url('admin_category_list')
            },
            (entityHeader): {
                "active" : true
            }
        }
    } %}
{% endblock breadcrumb %}


{% block content %}
    {% if category.id %}
        {{ render(url("admin_category_edit_component", {
            'id': category.id
        })) }}
    {% else %}
        {{ render(url("admin_category_new_component")) }}
    {% endif %}
{% endblock content %}
