{% extends 'AdminCoreBundle::Common/listComponent.html.twig' %}


{% set elcodi_context = {
    entity_type: 'category'
} %}


{% block title 'admin.category.list'|trans %}


{% block no_items
    lists.no_items(
        'admin.category.single'|trans,
        'admin.category.plural'|trans,
        url('admin_category_new')
    )
%}


{% macro category_tree(category, children) %}

    <li class="pr-n" data-fc-id="{{ category.id }}" data-fc-name="{{ category.name }}" data-test="category-{{ category.id }}">
        <p class="fl-r fz-s pr-l">
            {% if category.enabled %}
                <span class="label-ok fz-xs">
                    {{ 'admin.category.field.enabled.options.active'|trans }}
                </span>
            {% else %}
                <span class="label fz-xs">
                    {{ 'admin.category.field.enabled.options.inactive'|trans }}
                </span>
            {% endif %}

            <a class="icon-trash-o c-ko td-n fz-l ml-l"
               title="{{ 'ui.forms.delete'|trans }}"
               href="{{ url('admin_category_delete', { id: category.id }) }}"
               data-fc-modules="confirm"
               data-fc-name="{{ category.name }}"
               data-fc-text="{{ 'ui.confirm.delete'|trans }}">
            </a>
        </p>

        <a href="{{ url('admin_category_edit', { id: category.id }) }}" class="fw-n va-b">
            {{ category.name }}
        </a>

        {% if children|length > 0 %}
            <ol>
                {% for child in children %}
                    {{ _self.category_tree(child.entity, child.children) }}
                {% endfor %}
            </ol>
        {% endif %}
    </li>

{% endmacro category_tree %}


{% block table_content %}

    <div class="grid">
        <div class="col-1-3">
            <div class="box-none">
                <h3 class="fw-n">{{ 'admin.category.section.edit.title'|trans }}</h3>
                <p>{{ 'admin.category.section.edit.description.0'|trans }}</p>
                <p>{{ 'admin.category.section.edit.description.1'|trans }}</p>
                <p>{{ 'admin.category.section.edit.description.2'|trans }}</p>
            </div>
        </div>
        <div class="col-2-3">
            <div class="box-background">
            <ol id="categories-list"
                data-fc-modules="sortable"
                data-fc-url="{{ url('admin_category_sort_component') }}"
                data-fc-type="nested"
                data-fc-output="json"
                data-fc-depth="2"
            >
                {% for node in paginator %}
                    {{ _self.category_tree(node.entity, node.children) }}
                {% endfor %}
            </ol>
            </div>
        </div>
    </div>

{% endblock table_content %}


{% block table_pagination '' %}
