<div class="cl-sidebar">
    <div class="cl-toggle"><i class="fa fa-bars"></i></div>
    <div class="cl-navblock">
        <div class="menu-space">
            <div class="content">
                <div class="side-user">
                    <div class="avatar">
                        <img src="{{ gravatar(app.user.email, 50) }}" alt="Avatar">
                    </div>
                    <div class="info">
                        <a href="{{ url("admin_admin_user_view", {id: app.user.id }) }}">{{ app.user.fullname }}</a>
                        <img src="{{ asset("bundles/admincore/images/state_online.png") }}" alt="Status"> <span>Online</span>
                    </div>
                </div>
                <ul class="cl-vnavigation">

                    {% block side_menu %}

                    {% for menu_item in menu_items %}

                    <li {% if menu_item.subnodes|length %}class="parent"{% endif %}>
                        <a href="{{ menu_item.url }}">
                            <i class="fa fa-users"></i>
                            <span>{{ menu_item.name|trans }}</span>
                        </a>

                        {% for submenu_item in menu_item.subnodes %}
                            {% if loop.first %}
                            <ul class="sub-menu">
                            {% endif %}
                            <li><a href="{{ submenu_item.url }}">{{ submenu_item.name }}</a></li>
                            {% if loop.last %}
                            </ul>
                            {% endif %}
                        {% endfor %}
                    </li>

                    {% endfor %}

                    {% endblock %}

                </ul>
            </div>
        </div>

        <div class="text-right collapse-button" style="padding:7px 9px;">
            <input type="text" class="form-control search" placeholder="Search...">
            <button id="sidebar-collapse" class="btn btn-default" style="">
                <i style="color:#fff;" class="fa fa-angle-left"></i>
            </button>
        </div>
    </div>
</div>
