{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}

{% form_theme form 'AdminCoreBundle::Forms/fields.html.twig' %}

{% block title %}
    {{ 'Edit CurrencyExchangeRate'|trans }} - {{ entity.id }}
{% endblock title %}

{% block content %}

    {{ form_start(form, {'action': url('admin_currency_exchange_rate_update', {
        'id': entity.id
    })}) }}

        {{ form_row(form.exchangeRate) }}
        {{ form_row(form.targetCurrency) }}
        {{ form_row(form.sourceCurrency) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">{{ 'Update'|trans }}</button>
                <button class="btn btn-default">{{ 'Cancel'|trans }}</button>
            </div>
        </div>

    {{ form_end(form) }}

{% endblock content %}
