{% extends 'AdminCoreBundle::layout.html.twig' %}


{% set elcodi_context = {
    entity_type: 'payment',
} %}


{% block breadcrumb %}

    {% include '@AdminCore/Common/breadcrumb.html.twig' with {
        breadcrumb: [
            { name: 'admin.settings.plural'|trans, url: url('admin_configuration_list') },
            { name: 'admin.settings.section.payment.title'|trans, active: true },
        ],
    } %}

{% endblock breadcrumb %}


{% block content %}

    <form class="form-configuration" data-fc-modules="form-save-on-edit">
        <fieldset class="grid" data-fc-modules="form-refresh-on-filled">
            <div class="col-1-3">
                <h2 class="fw-n">{{ 'plugin.paymill.title'|trans }}</h2>
                <p>{{ 'plugin.paymill.register.title'|trans }}</p>
                <p>
                    <a href="https://app.paymill.com/user/register" target="_blank" class="button button-primary">
                        {{ 'plugin.paymill.register.call_to_action'|trans }}
                    </a>
                </p>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            <label for="store.paymill_private_key">{{ 'plugin.paymill.settings.private_key'|trans }}</label>
                            <i class="icon-pencil"></i>
                            <input id="store.paymill_private_key" type="text" name="store.paymill_private_key" value="{{ elcodi_config('store.paymill_private_key') }}"/>
                            <input id="url-store.paymill_private_key" type="hidden" value="{{ url('admin_configuration_update', { name: 'store.paymill_private_key' }) }}">
                        </li>
                        <li>
                            <label for="store.paymill_public_key">{{ 'plugin.paymill.settings.public_key'|trans }}</label>
                            <i class="icon-pencil"></i>
                            <input id="store.paymill_public_key" type="text" name="store.paymill_public_key" value="{{ elcodi_config('store.paymill_public_key') }}"/>
                            <input id="url-store.paymill_public_key" type="hidden" value="{{ url('admin_configuration_update', { name: 'store.paymill_public_key' }) }}">
                        </li>
                    </ol>
                </div>
            </div>
        </fieldset>
        <fieldset class="grid">
            <div class="col-1-3">
                <h2 class="fw-n">{{ 'plugin.paypal.title'|trans }}</h2>
                <p>{{ 'plugin.paypal.register.title'|trans }}</p>
                <p>
                    <a href="https://www.paypal.com" target="_blank" class="button button-primary">
                        {{ 'plugin.paypal.register.call_to_action'|trans }}
                    </a>
                </p>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            <label for="store.paypal_web_checkout_recipient">{{ 'plugin.paypal.settings.recipient_email'|trans }}</label>
                            <i class="icon-pencil"></i>
                            <input id="store.paypal_web_checkout_recipient" type="text" name="store.paypal_web_checkout_recipient" value="{{ elcodi_config('store.paypal_web_checkout_recipient') }}"/>
                            <input id="url-store.paypal_web_checkout_recipient" type="hidden" value="{{ url('admin_configuration_update', { name: 'store.paypal_web_checkout_recipient' }) }}">
                        </li>
                    </ol>
                </div>
            </div>
        </fieldset>
    </form>

{% endblock content %}
