{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}


{% form_theme form 'AdminCoreBundle::Forms/fields.html.twig' %}


{% block title %}
    {{ 'New Customer'|trans }}
{% endblock title %}


{% block content %}
    {{ form_start(form, {'action': url('admin_customer_save')}) }}
    <fieldset>
        <div class="grid">
            <div class="col-1-3">
                <div class="box-none">
                    <h2 class="fw-n">{{ 'Login details'|trans }}</h2>
                    <p>{% trans %}Each user should have a unique e-mail and unique username.{% endtrans %}</p>
                </div>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            {{ form_row(form.username,{'attr': {'placeholder':'e.g. Johndoe'}}) }}
                        </li>
                        <li>
                            {{ form_row(form.email,{'attr': {'placeholder':'e.g. john.doe@mail.com'}}) }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-1-3">
                <div class="box-none">
                    <h2 class="fw-n">{{ 'Contact details'|trans }}</h2>
                    <p>{% trans %}The contact information for this user{% endtrans %}</p>
                </div>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            {{ form_row(form.firstname,{'attr': {'placeholder':'e.g. John'}}) }}
                        </li>
                        <li>
                            {{ form_row(form.lastname,{'attr': {'placeholder':'e.g. Doe'}}) }}
                        </li>
                        <li>
                            {{ form_row(form.identityDocument,{'attr': {'placeholder':'e.g. 12345678A'}}) }}
                        </li>
                    </ol>
                    <ol class="grid">
                        <li class="col-1-2 pr-l">
                            {{ form_row(form.phone,{'attr': {'placeholder':'e.g. 555 55 55 55'}}) }}

                        </li>
                        <li class="col-1-2">
                            {{ form_row(form.birthday) }}
                        </li>
                    </ol>
                    <ol class="grid">
                        <li class="col-1-2 pr-l">
                            {{ form_row(form.gender) }}
                        </li>
                        <li class="col-1-2">
                            {{ form_row(form.language) }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-1-3">
                <div class="box-none">
                    <h2 class="fw-n">{{ 'Status & Preferences'|trans }}</h2>
                    <p>{% trans %}Set the user status and preferences.{% endtrans %}</p>
                </div>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol class="grid">
                        <li class="col-1-3">
                            {{ form_row(form.enabled, {'attr': {'type':'checkbox'}}) }}
                        </li>
                        <li class="col-1-3">
                            {{ form_row(form.guest, {'attr': {'type':'checkbox'}}) }}
                        </li>
                        <li class="col-1-3">
                            {{ form_row(form.newsletter, {'attr': {'type':'checkbox'}}) }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-1-3">
                &nbsp;
            </div>
            <div class="col-2-3">
                <button type="submit" class="button-primary">{{ 'Save'|trans }}</button>
                <a href="{{ path('admin_customer_list') }}" class="button">{{ 'Cancel'|trans }}</a>

            </div>
        </div>
    </fieldset>    {{ form_end(form) }}
{% endblock content %}
