{% extends 'AdminCoreBundle::Common/viewComponent.html.twig' %}

{% block title %}
    {{ 'Manufacturer'|trans }} - {{ entity }}
{% endblock title %}


{% block view_buttons %}
    <div class="spacer spacer-bottom">
        <a href="{{ url("admin_manufacturer_list", {"id": entity.id}) }}" class="btn">{{ 'View all'|trans }}</a>
        <a href="{{ url("admin_manufacturer_edit", {"id": entity.id}) }}" class="btn btn-primary">{{ 'Edit'|trans }}</a>
        {% if entity.enabled %}
            <a href="{{ url("admin_manufacturer_disable", {"id": entity.id}) }}" class="btn btn-warning">{{ 'Disable'|trans }}</a>
        {% else %}
            <a href="{{ url("admin_manufacturer_enable", {"id": entity.id}) }}" class="btn btn-success">{{ 'Enable'|trans }}</a>
        {% endif %}
        <a href="{{ url("admin_manufacturer_delete", {"id": entity.id}) }}" class="btn btn-danger">{{ 'Delete'|trans }}</a>
    </div>
{% endblock view_buttons %}


{% block content %}
    <tr>
        <td>{{ 'name'|trans }}</td>
        <td>{{ entity.name }}</td>
    </tr>
    <tr>
        <td>{{ 'slug'|trans }}</td>
        <td>{{ entity.slug }}</td>
    </tr>
    <tr>
        <td>{{ 'description'|trans }}</td>
        <td>{{ entity.description }}</td>
    </tr>
    <tr>
        <td>{{ 'products'|trans }}</td>
        <td>
            <ul>
                {% for product in entity.products %}
                    <li>
                        <a href="{{ url("admin_product_view", {id: product.id}) }}">
                            {{ product.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <td>{{ 'createdAt'|trans }}</td>
        <td>{{ entity.createdAt|date('Y.m.d - H:i:s') }}</td>
    </tr>
    <tr>
        <td>{{ 'updatedAt'|trans }}</td>
        <td>{{ entity.updatedAt|date('Y.m.d - H:i:s') }}</td>
    </tr>
    <tr>
        <td>{{ 'enabled'|trans }}</td>
        <td>{% if entity.enabled %}<span class="label label-success">true</span>{% else %}<span class="label label-danger">false</span>{% endif %}</td>
    </tr>
    <tr>
        <td>{{ 'metaTitle'|trans }}</td>
        <td>{{ entity.metaTitle }}</td>
    </tr>
    <tr>
        <td>{{ 'metaDescription'|trans }}</td>
        <td>{{ entity.metaDescription }}</td>
    </tr>
    <tr>
        <td>{{ 'metaKeywords'|trans }}</td>
        <td>{{ entity.metaKeywords }}</td>
    </tr>
{% endblock content %}
