<ul class="main-nav clearfix">
    <li{% if not currentCategory %} class="active"{% endif %}>
        <a href="{{ url('store_homepage') }}">New</a>
    </li>

    {% for category in categoryTree %}

        <li{% if currentCategory.id == category.entity.id or currentCategory.parent.id == category.entity.id %} class="active"{% endif %}>
            <a href="{{ url('store_category_products_list', {
                slug: category.entity.slug,
                id: category.entity.id
            }) }}">{{ category.entity.name }}</a>
        </li>

    {% endfor %}
</ul>

{% for category in categoryTree %}
    {% if currentCategory.id == category.entity.id or currentCategory.parent.id == category.entity.id  %}
        <ul class="main-nav clearfix" style="margin-top: 2px">
            {% for subCategory in category.children %}
                <li{% if currentCategory.id == subCategory.entity.id %} class="active"{% endif %}>
                    <a href="{{ url('store_category_products_list', {
                        slug: subCategory.entity.slug,
                        id: subCategory.entity.id
                    }) }}">{{ subCategory.entity.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
