<div class="box-none pa-n">
    {% if commentSide != 'right' %}
        <div class="d-ib va-m w-15 ta-r">
            <img class="thumbnail " src="{{ urlAvatar }}" width="40">
            <p class="fz-s mb-n">{{ authorName }}</p>
        </div>
    {% endif %}
    <div class="balloon balloon-{{ commentSide|default('left') }} balloon-primary d-ib va-m mb-n w-80 c-foreground ta-l">
        <textarea data-fc-modules="wysiwyg" data-fc-fullscreen="false" data-fc-html="false"></textarea>
        <p>
            <button type="submit" class="bxp-add-button button mr-l">Comentar</button>
            {% if commentSide == 'right' %}
                <a href="#" class="bxp-remove-textarea c-background">Cancelar</a>
            {% endif %}
        </p>
    </div>
    {% if commentSide == 'right' %}
        <div class="d-ib va-m w-15 ta-r">
            <img class="thumbnail " src="{{ urlAvatar }}" width="40">
            <p class="fz-s mb-n">{{ authorName }}</p>
        </div>
    {% endif %}
</div>
