<li class="parent open">
    <a href="{{ url("admin_product_list") }}">
        <i class="fa fa-tags"></i>
        <span>{{ 'Catalog'|trans }}</span>
    </a>

    <ul class="sub-menu">
        <li><a href="{{ url("admin_product_list") }}">{{ 'Products'|trans }}</a></li>
        <li><a href="{{ url("admin_category_list") }}">{{ 'Categories'|trans }}</a></li>
        <li><a href="{{ url("admin_manufacturer_list") }}">{{ 'Manufacturers'|trans }}</a></li>
    </ul>
</li>
