{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}

{% form_theme form 'AdminCoreBundle::Forms/fields.html.twig' %}

{% block title %}
    {{ 'New menu'|trans }}
{% endblock title %}

{% block content %}

    {{ form_start(form, {'action': url('admin_admin_user_save')}) }}

        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.gender) }}
        {{ form_row(form.birthday) }}
        {{ form_row(form.enabled) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
                <button class="btn btn-default">{{ 'Cancel'|trans }}</button>
            </div>
        </div>

    {{ form_end(form) }}

{% endblock content %}
