{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}

{% form_theme form 'AdminCoreBundle::Forms/fields.html.twig' %}

{% block title %}
    {{ 'New Banner'|trans }}
{% endblock title %}

{% block content %}

    {{ form_start(form, {'action': url('admin_banner_save')}) }}

        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.url) }}
        {{ form_row(form.position) }}
        {{ form_row(form.enabled) }}
        {{ form_row(form.image) }}
        {{ form_row(form.principalImage) }}
        {{ form_row(form.bannerZones) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
                <a href="{{ path('admin_banner_list') }}" class="btn btn-default">{{ 'Cancel'|trans }}</a>
            </div>
        </div>

    {{ form_end(form) }}

{% endblock content %}
