{% extends 'AdminCoreBundle::Common/viewComponent.html.twig' %}


{% block title %}
    {{ 'Attribute'|trans }} - {{ entity }}
{% endblock title %}


{% block view_buttons %}
    <div class="spacer spacer-bottom">
        <a href="{{ url("admin_attribute_list", {"id": entity.id}) }}" class="btn">{{ 'View all'|trans }}</a>
        <a href="{{ url("admin_attribute_edit", {"id": entity.id}) }}" class="btn btn-primary">{{ 'Edit'|trans }}</a>
        {% if entity.enabled %}
            <a href="{{ url("admin_attribute_disable", {"id": entity.id}) }}" class="btn btn-warning">{{ 'Disable'|trans }}</a>
        {% else %}
            <a href="{{ url("admin_attribute_enable", {"id": entity.id}) }}" class="btn btn-success">{{ 'Enable'|trans }}</a>
        {% endif %}
        <a href="{{ url("admin_attribute_delete", {"id": entity.id}) }}" class="btn btn-danger">{{ 'Delete'|trans }}</a>
    </div>
{% endblock view_buttons %}


{% block content %}
    <tr>
        <td>{{ 'name'|trans }}</td>
        <td>{{ entity.name }} </td>
    </tr>
    <tr>
        <td>{{ 'displayName'|trans }}</td>
        <td>{{ entity.displayName }} </td>
    </tr>
    <tr>
        <td>{{ 'enabled'|trans }}</td>
        <td>{% if entity.enabled %}<span class="label label-success">true</span>{% else %}<span class="label label-danger">false</span>{% endif %}</td>
    </tr>
{% endblock content %}
