{% import _self as lists %}


{% macro no_items(item, items, no_item_url) %}

    <div class="no-items">
        <i class="icon-table no-items-icon"></i>
        <h2>{{ 'ui.list.no_items'|trans({ '%items%': items }) }}</h2>
        {% if no_item_url is not empty %}
            <p>
                <a href="{{ no_item_url|default('#') }}" class="button-primary">
                    <i class="icon-plus"></i>
                    {{ 'ui.list.create_first'|trans({ '%item%': item }) }}
                </a>
            </p>
        {% endif %}
    </div>

{% endmacro no_items %}


{% block component %}

    {% if paginator|length > 0 %}

        {{ block('table_pagination') }}
        {{ block('table_content') }}
        {{ block('table_pagination') }}

    {% else %}

        {{ block('no_items') }}

    {% endif %}

{% endblock component %}
