{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}

{% form_theme form 'AdminCoreBundle::Common/fields.html.twig' %}

{% block title %}
    {{ 'Edit menu'|trans }} - {{ entity.id }}
{% endblock title %}

{% block content %}

    {{ form_start(form, {'action': url('admin_menu_update', {
        'id': entity.id
    })}) }}

        {{ form_row(form.code) }}
        {{ form_row(form.description) }}
        {{ form_row(form.createdAt) }}
        {{ form_row(form.updatedAt) }}
        {{ form_row(form.enabled) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">{{ 'Update'|trans }}</button>
                <button class="btn btn-default">{{ 'Cancel'|trans }}</button>
            </div>
        </div>

    {{ form_end(form) }}

{% endblock content %}
