{% extends 'AdminCoreBundle::Common/viewComponent.html.twig' %}

{% block title %}
    {{ 'Menu'|trans }} - {{ entity.code }}
{% endblock title %}

{% block content %}

    <tr>
        <td>
            <strong>{{ "Code"|trans }}</strong>
            <br/>
            {{ entity.code }}
        </td>
        <td class="text-right">
            <input class="switch" data-size="small" type="checkbox"{% if entity.enabled %} checked{% endif %}>
        </td>
    </tr>
    <tr>
        <td>
            <strong>{{ "Description"|trans }}</strong>
            <br/>
            {{ entity.description }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>{{ "Created at"|trans }}</strong>
            <br/>
            {{ entity.createdAt|date("Y-m-d - H:i:s") }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>{{ "Updated at"|trans }}</strong>
            <br/>
            {{ entity.updatedAt|date("Y-m-d - H:i:s") }}
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ url("admin_menu_edit", {"id": entity.id}) }}" type="button" class="btn btn-primary btn-flat">Edit</a>
            <a href="{{ url("admin_menu_delete", {"id": entity.id}) }}" type="button" class="btn btn-danger btn-flat">Delete</a>
        </td>
    </tr>

{% endblock content %}
