{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}


{% form_theme form 'AdminCoreBundle::Forms/fields.html.twig' %}


{% block title %}
    {{ 'Edit Manufacturer'|trans }} - {{ entity.id }}
{% endblock title %}


{% block content %}

    {% set formAction = manufacturer.id
        ? url('admin_manufacturer_update', {
            'id': manufacturer.id
        })
        : url('admin_manufacturer_save')

     %}

    {{ form_start(form, {'action': formAction}) }}

        {{ form_row(form.name) }}
        {{ form_row(form.slug) }}
        {{ form_row(form.description) }}
        {{ form_row(form.metaTitle) }}
        {{ form_row(form.metaDescription) }}
        {{ form_row(form.metaKeywords) }}
        {{ form_row(form.enabled) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">{{ 'Update'|trans }}</button>
                <a href="{{ path('admin_manufacturer_list') }}" class="btn btn-default">{{ 'Cancel'|trans }}</a>
            </div>
        </div>

    {{ form_end(form) }}
{% endblock content %}
