{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block content_title %}
    {{ 'Manufacturer Zone'|trans }}
{% endblock content_title %}

{% block breadcrumb %}

    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
        breadcrumb: {
            "list manufacturers": {
                "active" : true
            }
        }
    } %}

{% endblock breadcrumb %}

{% block content %}

    <div class="row">
        <div class="col-md-4">
            {{ render(url("admin_manufacturer_stats_total")) }}
        </div>
        <div class="col-md-4">
            {{ render(url("admin_manufacturer_stats_monthly")) }}
        </div>
        <div class="col-md-4">
            {{ render(url("admin_manufacturer_stats_daily")) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ render(url("admin_manufacturer_list_component", {
                'page': page,
                'limit': limit,
                'orderByField': orderByField,
                'orderByDirection': orderByDirection
            })) }}
        </div>
    </div>

{% endblock content %}
