{% extends 'AdminCoreBundle::Common/listComponent.html.twig' %}


{% block no_items %}
    {{ lists.no_items('manufacturer','manufacturers', url("admin_manufacturer_new") ) }}
{% endblock no_items %}


{% block title %}
    {{ 'Manufacturer list'|trans }}
{% endblock title %}


{% block table_head %}
    {% include "@AdminCore/Tables/head.html.twig" with {
        rows: {
            "Image": {width:"20"},
            "Name & Slug": {},
            "Products": {sorting_disabled: true},
            "Status": {width:"10"},
        },
        class: "manufacturer",
    } %}
{% endblock table_head %}


{% block table_body_row %}
    <td>
        {% if entity.images|length > 0 %}
            <a href="{{ url("admin_manufacturer_edit", {"id": entity.id}) }}" class="thumbnail">
                <img src="{{ entity.images.first|resize({'height': 30, 'width': 30, 'type': 5}) }}" />
            </a>
        {% endif %}
    </td>

    <td>
        <a href="{{ url("admin_manufacturer_edit", {"id": entity.id}) }}" class="fw-b">
            {{ entity.name }}
        </a>
        <p class="fz-">{{ entity.slug }}</p>
    </td>
    <td>
        {{ entity.products|length }}
    </td>
    <td>
        {% if entity.enabled %}<span class="label-ok">{{ 'Enabled'|trans }}</span>{% else %}<span class="label">{{ 'Disabled'|trans }}</span>{% endif %}
    </td>

    {% include "@AdminCore/Tables/actions.html.twig" with {
        entity: entity,
        class: "manufacturer",
    } %}
{% endblock table_body_row %}


{% block table_paginator_links %}
    {% set url = 'admin_manufacturer_list' %}
    {{ parent() }}
{% endblock table_paginator_links %}
