{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}

{% form_theme form 'AdminCoreBundle::Forms/fields.html.twig' %}

{% block title %}
    {{ 'Edit CartCoupon'|trans }} - {{ entity.id }}
{% endblock title %}

{% block content %}

    {{ form_start(form, {'action': url('admin_cart_coupon_update', {
        'id': entity.id
    })}) }}

        {{ form_row(form.cart) }}
        {{ form_row(form.coupon) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">{{ 'Update'|trans }}</button>
                <a href="{{ path('admin_cart_coupon_list') }}" class="btn btn-default">{{ 'Cancel'|trans }}</a>
            </div>
        </div>

    {{ form_end(form) }}

{% endblock content %}
