<li class="parent open">
    <a href="">
        <i class="fa fa-users"></i>
        <span>{{ 'User'|trans }}</span>
    </a>

    <ul class="sub-menu">
        <li><a href="{{ url("admin_admin_user_list") }}">{{ 'Admin users'|trans }}</a></li>
        <li><a href="{{ url("admin_customer_list") }}">{{ 'Customers'|trans }}</a></li>
    </ul>
</li>
