{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}

{% form_theme form 'AdminCoreBundle::Forms/fields.html.twig' %}

{% block title %}
    {{ 'Edit Attribute'|trans }} - {{ entity.id }} - {{ entity.name }}
{% endblock title %}

{% block content %}

    {{ form_start(form, {'action': url('admin_attribute_update', {
        'id': entity.id
    })}) }}

    {{ form_row(form.name) }}
    {{ form_row(form.displayName) }}
    {{ form_row(form.createdAt) }}
    {{ form_row(form.updatedAt) }}
    {{ form_row(form.enabled) }}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">{{ 'Update'|trans }}</button>
            <a href="{{ path('admin_attribute_list') }}" class="btn btn-default">{{ 'Cancel'|trans }}</a>
        </div>
    </div>

    {{ form_end(form, {render_rest : false}) }}

{% endblock content %}
