{% extends 'AdminCoreBundle::Common/listComponent.html.twig' %}

{% block title %}
    {{ 'Values list'|trans }}
{% endblock title %}

{% block table_head %}

    {% include "@AdminCore/Tables/head.html.twig" with {
        rows: {
            "id": {width:"25"},
            "name": {},
            "displayName": {},
            "enabled": {width:"25"}
        },
        class: "attribute",
        id: entity.id
    } %}

{% endblock table_head %}

{% block table_body_row %}

    <td>
        <a href="{{ url("admin_value_view", {"id": attributeId, "valueId": entity.id }) }}">
            {{ entity.id }}
        </a>
    </td>
    <td>
        {{ entity.name }}
    </td>
    <td>
        {{ entity.displayName }}
    </td>
    <td>
        {% if entity.enabled %}<span class="label label-success">true</span>{% else %}<span class="label label-danger">false</span>{% endif %}
    </td>
    <td class="center">
        <a class="btn btn-default btn-xs"
            data-original-title="{{ "Show"|trans }}"
            data-toggle="tooltip"
            href="{{
                url("admin_value_view", {
                    "id": entity.attribute.id,
                    "valueId": entity.id
                })
        }}">
            <i class="fa fa-file"></i>
        </a>
        <a class="btn btn-primary btn-xs"
            data-original-title="{{ "Edit"|trans }}"
            data-toggle="tooltip"
            href="{{
                url("admin_value_edit", {
                    "id": entity.attribute.id,
                    "valueId": entity.id
                })
        }}">
            <i class="fa fa-pencil"></i>
        </a>
        {% if delete is not defined or delete != false %}
            <a class="btn btn-danger btn-xs"
                data-original-title="{{ "Remove"|trans }}"
                data-toggle="tooltip"
                href="{{
                url("admin_value_delete", {
                    "id": entity.attribute.id,
                    "valueId": entity.id
                })
            }}">
                <i class="fa fa-times"></i>
            </a>
        {% endif %}
    </td>

{% endblock table_body_row %}

{% block table_paginator_links %}
{% endblock table_paginator_links %}


{% block table_buttons %}
    <a href="{{ url("admin_value_new", {id: attributeId}) }}"type="button" class="btn btn-success">{{ "New Value"|trans }}</a>
{% endblock table_buttons %}
