{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}


{% set elcodi_context = {
    entity_type: 'carrier',
} %}


{% form_theme form 'AdminCoreBundle::Forms/fields.html.twig' %}


{% block content %}

    {% set formAction =
        carrier.id
            ? url('admin_carrier_update', { id: carrier.id })
            : url('admin_carrier_save')
     %}

    {{ form_start(form, { action: formAction }) }}
    <fieldset>
        <div class="grid">
            <div class="col-1-3">
                <div class="box-none">
                    <h3 class="fw-n">{{ 'admin.carrier.section.basic.title'|trans }}</h3>
                    <p>{{ 'admin.carrier.section.basic.description'|trans }}</p>
                    {% if elcodi_languages|length > 1 %}
                        <p><i class="icon-star"></i> = {{ 'ui.language.master_language'|trans }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-2-3">
                <div {% if elcodi_languages|length > 1 %}data-fc-modules="tabs" class="tabs-box loading" {% endif %}>
                    {% for language in elcodi_languages %}
                    <section id="tab-{{ language }}" data-fc-name="{% if loop.first %}{{ '<i class="icon-star"></i>'|e }} {% endif %}{{ language|capitalize }}">
                        <div class="box">
                            <ol>
                                <li>
                                    {{
                                        form_row(form.name["#{language}_name"], {
                                            label: 'admin.carrier.field.name.title',
                                            attr: { placeholder: 'admin.carrier.field.name.placeholder' }
                                        })
                                    }}
                                </li>
                                <li>
                                    {{
                                        form_row(form.description["#{language}_description"], {
                                            label: 'admin.carrier.field.description.title',
                                            attr: { placeholder: 'admin.carrier.field.description.placeholder' }
                                        })
                                    }}
                                </li>
                            </ol>
                        </div>
                    </section>
                {% endfor %}
                </div>
            </div>
        </div>

        <div class="grid">
            <div class="col-1-3">
                <div class="box-none">
                    <h3 class="fw-n">{{ 'admin.carrier.section.taxes.title'|trans }}</h3>
                    <p>{{ 'admin.carrier.section.taxes.description'|trans }}</p>
                </div>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol class="grid pt-m">
                        <li class="w-30">
                            {{
                                form_row(form.tax, {
                                    label: 'admin.carrier.field.taxes.title',
                                })
                            }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="grid">
            <div class="col-1-3">
                <div class="box-none">
                    <h3 class="fw-n">{{ 'admin.carrier.section.shipping_rates.title'|trans }}</h3>
                    <p>{{ 'admin.carrier.section.shipping_rates.description'|trans }}</p>
                    {% if carrier.id %}
                        <a href="{{ url('admin_shipping_range_new', {
                            carrierId: carrier.id,
                        }) }}" class="button">{{ 'admin.carrier.action.add_shipping_range'|trans }}</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-2-3">
                <div class="box">
                    {% if carrier.id %}
                        {{ render(url('admin_shipping_range_list_component', { carrierId: carrier.id })) }}
                    {% else %}
                        <div class="box-background pa-n">
                            <p class="msg-info ma-n">{{ 'admin.carrier.info.shipping_rates_before_saving'|trans }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-1-3">
                <div class="box-none mb-n pb-m">
                    <h3 class="fw-n">{{ 'admin.carrier.section.visibility.title'|trans }}</h3>
                    <p>{{ 'admin.carrier.section.visibility.description'|trans }}</p>
                </div>
            </div>
            <div class="col-2-3">
                <div class="box mb-n pb-n">
                    <ol class="grid pt-m">
                        <li class="col-1-2">
                            {{
                                form_row(form.enabled, {
                                    label: 'admin.carrier.field.status.title',
                                })
                            }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        </fieldset>
        <div class="grid fixed-bottom animated fade-in-up">
            <div class="col-1-3">
                &nbsp;
            </div>
            <div class="col-2-3">
                <button type="submit" class="button-primary button-fat pv-s mr-l">{{ 'ui.forms.save'|trans }}</button>
                <a href="{{ path('admin_carrier_list') }}" id="cancel-button">{{ 'ui.forms.cancel'|trans }}</a>
            </div>
        </div>
    {{ form_end(form) }}

{% endblock content %}
