<ul class="navbar-main-sections">
    <li>
        <a href="{{ url('store_homepage') }}">{% trans %}_Home{% endtrans %}</a>
    </li>
    {% for category in category_tree %}

        <li class="dropdown category111">
            {% set subcategories = category['children'] %}
            <div class="dropdown-menu dropdown-menu-no-sdw dropdown-menu-col-{{ subcategories|length }}">

                {% if subcategories is not empty %}
                    <dl>
                    {% for subcategory in subcategories %}
                        <dt>
                            <a href="{{ url('store_category_products_list', {'slug_cat': category.entity.slug, 'categoryId': category.entity.id,  'value_id': subcategory.entity.id , 'slug': subcategory.entity.slug}) }}">
                                {{ subcategory['entity']['name'] }}
                            </a>
                        </dt>
                    {% endfor %}
                    </dl>
                {% endif %}
            </div>
            <a class="dropdown-toggle" href="{{ url('store_category_products_list', {'categoryId': category.entity.id, 'slug': category.entity.slug }) }}">{{ category.entity.name }}</a>

        </li>

    {% endfor %}
</ul>
