{% extends 'AdminCoreBundle::Common/listComponent.html.twig' %}


{% block title 'admin.currency.list'|trans %}


{% block table_attributes 'data-fc-modules="table,on-off-table"' %}


{% block table_head %}

    {% include '@AdminCore/Tables/head.html.twig' with {
        rows: [
            { name: 'admin.currency.field.symbol'|trans, width: 10 },
            { name: 'admin.currency.field.iso'|trans, width: 10 },
            { name: 'admin.currency.field.name'|trans },
            { name: 'admin.currency.field.master'|trans, width: 10 },
            { name: 'admin.currency.field.status'|trans, width: 10 },
        ],
        class: 'currency',
        actions: false
    } %}

{% endblock table_head %}


{% block table_body_row %}

    <td>
        {{ entity.symbol }}
    </td>
    <td>
        {{ entity.iso }}
    </td>
    <td>
        {{ entity.name }}
    </td>
    <td>
        <div class="switch">
            <input id="enable-{{ entity.iso }}-master" type="hidden" value="{{ url('admin_currency_master', { iso: entity.iso }) }}" />
            <input id="{{ entity.iso }}-master" type="radio" name="currency-master" {% if entity.iso == store.defaultCurrency.iso %}checked="checked"{% endif %} />
            <label for="{{ entity.iso }}-master"></label>
        </div>
    </td>
    <td>
        <div class="switch">
            <input id="enable-{{ entity.iso }}" type="hidden" value="{{ url('admin_currency_enable', { iso: entity.iso }) }}" />
            <input id="disable-{{ entity.iso }}" type="hidden" value="{{ url('admin_currency_disable', { iso: entity.iso }) }}" />
            <input id="{{ entity.iso }}" type="checkbox" {% if entity.enabled %}checked="checked"{% endif %} />
            <label for="{{ entity.iso }}"></label>
        </div>
    </td>

{% endblock table_body_row %}


{% block table_paginator_links '' %}
