{% extends 'AdminCoreBundle::Common/listComponent.html.twig' %}

{% block title %}
    {{ 'RuleGroup list'|trans }}
{% endblock title %}

{% block table_head %}

    {% include "@AdminCore/Tables/head.html.twig" with {
        rows: {
            "Id": {width:"25"},
            "Name": {},
            "Code": {},
            "Rules": {},
            "Enabled": {width:"25"}
        },
        class: "rule_group",
    } %}

{% endblock table_head %}

{% block table_body_row %}

    <td>
        <a href="{{ url("admin_rule_group_view", {"id": entity.id}) }}">
            {{ entity.id }}
        </a>
    </td>
    <td>
        {{ entity.name }}
    </td>
    <td>
        {{ entity.code }}
    </td>
    <td>
        <ul>
            {% for rule in entity.rules %}
                <li>
                    <a href="{{ url("admin_rule_view", { id: rule.id }) }}">
                        {{ rule.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </td>
    <td>
        {% if entity.enabled %}<span class="label label-success">true</span>{% else %}<span class="label label-danger">false</span>{% endif %}
    </td>

    {% include "@AdminCore/Tables/actions.html.twig" with {
        entity: entity,
        class: "rule_group",
    } %}

{% endblock table_body_row %}
