{% extends 'AdminCoreBundle::Common/component.html.twig' %}


{% block title %}
    {{ 'Customer'|trans }} - {{ entity }}
{% endblock title %}


{% block component %}
    <div class="row">
        <div class="col-sm-12">
            <div class="block-flat profile-info">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="avatar">
                            <img src="{{ gravatar(entity.email, 130) }}" class="profile-avatar">
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="personal">
                            <h1 class="name">{{ entity.fullName }}</h1>
                            <p>{{ entity.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ block("view_buttons") }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="tab-container">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#information">{{ 'Information'|trans }}</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#addresses">{{ 'Addresses'|trans }}</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#carts">{{ 'Carts'|trans }}</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#orders">{{ 'Orders'|trans }}</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#stats">{{ 'Stats'|trans }}</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane active cont">
                        <table class="no-border no-strip information">
                            <tbody class="no-border-x no-border-y">
                            <tr>
                                <td class="category">
                                    <strong>{{ 'About'|trans }}</strong>
                                </td>
                                <td>
                                    <table class="no-border no-strip skills">
                                        <tbody class="no-border-x no-border-y">
                                        <tr>
                                            <td>{{ 'username'|trans }}</td>
                                            <td>{{ entity.username }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'email'|trans }}</td>
                                            <td>{{ entity.email }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'firstname'|trans }}</td>
                                            <td>{{ entity.firstname }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'lastname'|trans }}</td>
                                            <td>{{ entity.lastname }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'gender'|trans }}</td>
                                            <td>
                                                {% if entity.gender == 0 %}
                                                    <i class="fa fa-male"></i>
                                                    {{ 'Male'|trans }}
                                                {% elseif entity.gender == 1 %}
                                                    <i class="fa fa-female"></i>
                                                    {{ 'Male'|trans }}
                                                {% elseif entity.gender == 2 %}
                                                    <i style="color:#aaa;" class="fa fa-question"></i>
                                                    {{ 'Unknown'|trans }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'birthday'|trans }}</td>
                                            <td>{{ entity.birthday|date('Y.m.d') }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'language'|trans }}</td>
                                            <td>{{ entity.language.name }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'phone'|trans }}</td>
                                            <td>{{ entity.phone }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'identityDocument'|trans }}</td>
                                            <td>{{ entity.identityDocument }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'guest' }}</td>
                                            <td>
                                                {% if entity.guest %}
                                                    <span class="label label-success">true</span>
                                                {% else %}
                                                    <span class="label label-danger">false</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'newsletter' }}</td>
                                            <td>
                                                {% if entity.newsletter %}
                                                    <span class="label label-success">true</span>
                                                {% else %}
                                                    <span class="label label-danger">false</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'createdAt'|trans }}</td>
                                            <td>{{ entity.createdAt|date('Y.m.d - H:i:s') }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'updatedAt'|trans }}</td>
                                            <td>{{ entity.updatedAt|date('Y.m.d - H:i:s') }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'enabled'|trans }}</td>
                                            <td>
                                                {% if entity.enabled %}
                                                    <span class="label label-success">true</span>
                                                {% else %}
                                                    <span class="label label-danger">false</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock component %}


{% block view_buttons %}
    <div class="spacer spacer-bottom">
        <a href="{{ url("admin_customer_list", {"id": entity.id}) }}" class="btn">{{ 'View all'|trans }}</a>
        <a href="{{ url("admin_customer_new", {"id": entity.id}) }}" class="btn btn-primary">{{ 'New'|trans }}</a>
        <a href="{{ url("admin_customer_edit", {"id": entity.id}) }}" class="btn btn-primary">{{ 'Edit'|trans }}</a>
        {% if entity.enabled %}
            <a href="{{ url("admin_customer_disable", {"id": entity.id}) }}" class="btn btn-warning">{{ 'Disable'|trans }}</a>
        {% else %}
            <a href="{{ url("admin_customer_enable", {"id": entity.id}) }}" class="btn btn-success">{{ 'Enable'|trans }}</a>
        {% endif %}
        <a href="{{ url("admin_customer_delete", {"id": entity.id}) }}" class="btn btn-danger">{{ 'Delete'|trans }}</a>
    </div>
{% endblock view_buttons %}


{% block content %}

{% endblock content %}
