{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}


{% set elcodi_context = {
    entity_type: 'admin_user',
} %}


{% form_theme form 'AdminCoreBundle::Forms/fields.html.twig' %}


{% block content %}

    {% set formAction =
        adminUser.id
            ? url('admin_admin_user_update', { id: adminUser.id })
            : url('admin_admin_user_save')
     %}

    {{ form_start(form, { action: formAction }) }}
    <fieldset>
        <div class="grid">
            <div class="col-1-3">
                <div class="box-none">
                    <h2 class="fw-n">{{ 'admin.admin_user.section.login.title'|trans }}</h2>
                    <p>{{ 'admin.admin_user.section.login.description'|trans }}</p>
                </div>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            {{
                                form_row(form.email, {
                                    label: 'admin.user.field.email.title',
                                    attr: {
                                        placeholder: 'admin.user.field.email.placeholder',
                                    }
                                })
                            }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-1-3">
                <div class="box-none">
                    <h2 class="fw-n">{{ 'admin.admin_user.section.password.title'|trans }}</h2>
                    <p>{{ 'admin.admin_user.section.password.description'|trans }}</p>
                </div>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            {{
                                form_row(form.password, {
                                    label: 'admin.user.field.password.title'
                                })
                            }}
                        </li>
                        <li>
                            {{
                                form_row(form.new_password.first, {
                                    label: 'admin.user.field.new_password.first.title'
                                })
                            }}
                        </li>
                        <li>
                            {{
                                form_row(form.new_password.second, {
                                    label: 'admin.user.field.new_password.second.title'
                                })
                            }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-1-3">
                <div class="box-none">
                    <h2 class="fw-n">{{ 'admin.admin_user.section.contact.title'|trans }}</h2>
                    <p>{{ 'admin.admin_user.section.contact.description'|trans }}</p>
                </div>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            {{
                                form_row(form.firstname, {
                                    label: 'admin.user.field.firstname.title',
                                    attr: {
                                        placeholder: 'admin.user.field.firstname.placeholder',
                                    }
                                })
                            }}
                        </li>
                        <li>
                            {{
                                form_row(form.lastname, {
                                    label: 'admin.user.field.lastname.title',
                                    attr: {
                                        placeholder: 'admin.user.field.lastname.placeholder',
                                    }
                                })
                            }}
                        </li>
                    </ol>
                    <ol class="grid">
                        <li class="col-1-2">
                            <div class="pr-l">
                                {{
                                    form_row(form.gender, {
                                        label: 'admin.user.field.gender.title',
                                    })
                                }}
                            </div>
                        </li>
                        <li class="col-1-2">
                            {{
                                form_row(form.birthday, {
                                    label: 'admin.user.field.birthday.title',
                                })
                            }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="grid{% if adminUser.id == app.user.id %} hidden{% endif %}">
            <div class="col-1-3">
                <div class="box-none">
                    <h2 class="fw-n">{{ 'admin.admin_user.section.status.title'|trans }}</h2>
                    <p>{{ 'admin.admin_user.section.status.description'|trans }}</p>
                </div>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            {{
                                form_row(form.enabled, {
                                    label: 'admin.user.field.enabled.title',
                                })
                            }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="grid fixed-bottom animated fade-in-up">
            <div class="col-1-3">
                &nbsp;
            </div>
            <div class="col-2-3">
                <button type="submit" class="button-primary button-fat pv-s mr-l">{{ 'ui.forms.save'|trans }}</button>
                <a href="{{ path('admin_admin_user_list') }}" id="cancel-button">{{ 'ui.forms.cancel'|trans }}</a>
            </div>
        </div>
    </fieldset>
    {{ form_end(form) }}

{% endblock content %}
