{% block form_row %}
{% spaceless %}
    <p>
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </p>
{% endspaceless %}
{% endblock form_row %}


{% block button_row %}
{% spaceless %}
    {{ form_widget(form) }}
{% endspaceless %}
{% endblock button_row %}


{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({ for: id }) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({ class: (label_attr.class|default('') ~ ' required')|trim }) %}
            {% set mand = true %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label
            {% for attrname, attrvalue in label_attr %}
                {{ attrname }}="{{ attrvalue }}"
            {% endfor %}
        >
            {{ label|trans }}
            {% if mand %}<span class="mand">&nbsp;*</span>{% endif %}
        </label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}
