{% extends 'AdminCoreBundle::base.html.twig' %}


{% block head_style %}

    <link rel="stylesheet" type="text/css"  href="{{ asset('bundles/admincore/css/main.css') }}" media="all">
    <!--[if gte IE 9]>
    <link rel="stylesheet" type="text/css"  href="{{ asset('bundles/admincore/css/ie-new.css') }}" media="all">
    <![endif]-->
    <!--[if lte IE 8]>
    <script src="{{ asset('bundles/admincore/js/ie-old.js') }}"></script>
    <link rel="stylesheet" type="text/css"  href="{{ asset('bundles/admincore/css/ie-old.css') }}" media="all">
    <![endif]-->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

{% endblock head_style %}


{% block body %}
{% block body_top '' %}

    <header class="header-mobile mobile tablet">
        <div class="header-mobile-container">
            <nav class="header-mobile-buttons-left">
                <a data-fc-modules="side-panel" data-fc-clone="true" href="#menu-mobile" data-fc-width="50%" class="icon-align-justify button button-icon topbar-main-menu"></a>
            </nav>
            <a class="logo" href="{{ url('admin_homepage') }}">{{ store.name }}</a>
            <nav class="header-mobile-buttons-right">
                <a data-fc-modules="side-panel" data-fc-clone="true" data-fc-position="right" data-fc-width="50%" href="#sidebar-user-mobile" class="icon-user button button-icon topbar-user-menu"></a>
            </nav>
        </div>
    </header>
    <div class="grid">
        <div class="col-10-12 push-right">
            {% block body_top_hook %}
            {{ elcodi_hook("admin.body_top") }}
            {% endblock body_top_hook %}
            <header class="section-header">
                <div class="buttons-group">
                    {{ elcodi_hook('admin.header_actions', elcodi_context) }}
                    {% block header_actions '' %}
                </div>
                {% block breadcrumb '' %}
            </header>
            <div class="papa-air">
                {% block content '' %}
            </div>
        </div>
        <aside class="col-2-12 sidebar" data-test="admin-menu">
            {% render url('admin_menu_side') %}
        </aside>
    </div>
    {% include 'AdminCoreBundle::Common/flashMessages.html.twig' %}
{% block body_down '' %}
{% endblock body %}


{% block foot_script %}

    {% include 'AdminCoreBundle::footscript.html.twig' %}

{% endblock foot_script %}
