{% extends 'StoreCoreBundle::layout.html.twig' %}

{% block title %}686 Tees{% endblock %}

{% block content %}
	<!-- Body -->
	
	<div class="row">
		<div class="span12">
			<h1>{% block content_title %}New Products{% endblock %}</h1>
		</div>
	</div>

	<!-- Product Listing -->
    {% for product in products %}
        {% if loop.index0 % 3 == 0 %}<div class="row">{% endif %}

        <div class="span4 product-listing">
        <p class="title"><a href="{{ url('store_product_view', {'slug': product.slug, 'productId': product.id}) }}">{{ product.name }}</a></p>

        <a href="{{ url('store_product_view', {'slug': product.slug, 'productId': product.id}) }}"><img class="image" src="{{ product.principalImage|resize({'width': 372, 'height': 291, 'type': 5}) }}" alt="{{ product.name }}" /></a>

        <p class="price">
            &pound; {{ product.price }}
            <a class="btn btn-addcart btn-primary" href="basket.html"><span class="entypo cart"></span></a><a class="btn btn-view btn-grey" href="product.html"><span class="entypo search"></span></a>
        </p>
        </div>

        {% if loop.index0 % 3 == 2 or loop.last %}</div>{% endif %}
    {% endfor %}
	
{% endblock content %}

{% block foot_script %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ asset('bundles/storecore/js/bootstrap.min.js') }}"></script>
{% endblock foot_script %}


