{% extends 'AdminCoreBundle::layout.html.twig' %}


{% set elcodi_context = {
    entity_type: 'purchasable_pack',
} %}

{% block body_down %}
    {% if pack.id > 0 %}
    {% set author_token = app.user.token %}
    {% set context = "admin" %}
    {% set source = "purchasable-pack-#{pack.id}" %}
    <div id="box-populi" class="boxpopuli-container hidden">
        <div class="boxpopuli-overflow" data-fc-modules="boxpopuli"
             data-token="{{ author_token }}"
             data-author-name="{{ app.user.fullname }}"
             data-author-email="{{ app.user.email }}"
             data-context="{{ context }}"
             data-source="{{ source }}"
             data-route-list="{{ url('elcodi_comments_list', { source: source, context: context }) }}"
             data-route-add="{{ url('elcodi_comments_add', { source: source, context: context, authorToken: author_token }) }}"
                ></div>
    </div>
    {% endif %}
{% endblock body_down %}

{% block header_actions %}

    {% if pack.id > 0 %}
        <a target="_blank" href="{{ url('store_purchasable_pack_view', { id: pack.id, slug: pack.slug }) }}" data-fc-modules="modal" class="button">
            <i class="icon-eye"></i>
            <span>{{ 'admin.purchasable_pack.in_store'|trans }}</span>
        </a>
        <a data-fc-modules="modal" href="#metrics-panel" class="button">
            <i class="icon-bar-chart-o"></i>
            <span>{{ 'admin.purchasable_pack.show_metrics'|trans }}</span>
        </a>
        <a data-fc-modules="side-panel" data-fc-position="right" data-fc-width="60%"  href="#box-populi" class="button ph-m">
            <i class="icon-pencil"></i>
            <span>{{ 'admin.purchasable_pack.note'|trans }}</span>
        </a>
    {% endif %}

{% endblock header_actions %}


{% block breadcrumb %}

    {% set title = 'admin.purchasable_pack.plural'|trans %}
    {%
        set header = pack.id
            ? 'admin.purchasable_pack.edit'|trans({ '%name%': pack.name })
            : 'admin.purchasable_pack.new'|trans
    %}

    {% include '@AdminCore/Common/breadcrumb.html.twig' with {
        breadcrumb: [
            { name: title, url: url('admin_purchasable_pack_list'), },
            { name: header, active: true, },
        ]
    } %}

{% endblock breadcrumb %}


{% block content %}

    {% if pack.id %}

        {% if pack.principalCategory is null %}
            <p class="msg-warning">{{ 'admin.purchasable_pack.error.no_category'|trans }}</p>
        {% endif %}

        {% if pack.manufacturer is null %}
            <p class="msg-warning">{{ 'admin.purchasable_pack.error.no_manufacturer'|trans }}</p>
        {% endif %}

        {% if pack.price.amount < 0 %}
            <p class="msg-warning">{{ 'admin.purchasable_pack.error.price_negative'|trans }}</p>
        {% endif %}

        {{ render(url('admin_purchasable_pack_edit_component', { id: pack.id })) }}
    {% else %}
        {{ render(url('admin_purchasable_pack_new_component')) }}
    {% endif %}

    {% if pack.id %}
        <div class="hidden-placeholder">
            <div id="metrics-panel" class="box-background">
                <h2>{{ 'admin.metrics.info.visitors'|trans }}</h2>
                {% include 'AdminMetricBundle:Metric:metricLine.html.twig' with {
                    tracker: store.tracker,
                    event: "pv_store_purchasable_pack_view_#{pack.id}",
                    intervalContainer: metric_create_interval_container(3),
                } %}
            </div>
        </div>
    {% endif %}
{% endblock content %}
