{% extends 'StoreCoreBundle::layout.html.twig' %}


{% form_theme form 'StoreCoreBundle::fields.html.twig' %}

{% block content_title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span6 offset3">
                <div class="member-box">

                    <h2>{{ "Login"|trans }}</h2>

                    {{ form_start(form) }}
                    <p>
                        {{ form_row(form.email) }}
                    </p>
                    <p>
                        {{ form_row(form.password) }}
                    </p>
                    <p class="buttons">
                        {{ form_row(form.send, {attr: {'class': 'btn btn-primary' }}) }}
                        <a class="btn btn-blank"
                            href="{{ url("store_password_remember") }}">
                            Forgot your password?
                        </a> -
                        <a class="btn btn-blank"
                            href="{{ url("store_register") }}">
                            Create new account
                        </a>
                    </p>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock content %}
