{% extends 'AdminCoreBundle::Common/viewComponent.html.twig' %}

{% block title %}
    {{ 'Image'|trans }} - {{ entity }}
{% endblock title %}

{% block content %}


    <tr>
        <td>{{ 'name'|trans }}</td>
        <td>
            {% include 'AdminCoreBundle::Common/viewField.html.twig' with {
            'entity': entity,
            'field': 'name',
            } %}
        </td>
    </tr>
    <tr>
        <td>{{ 'contentType'|trans }}</td>
        <td>
            {% include 'AdminCoreBundle::Common/viewField.html.twig' with {
            'entity': entity,
            'field': 'contentType',
            } %}
        </td>
    </tr>
    <tr>
        <td>{{ 'extension'|trans }}</td>
        <td>
            {% include 'AdminCoreBundle::Common/viewField.html.twig' with {
            'entity': entity,
            'field': 'extension',
            } %}
        </td>
    </tr>
    <tr>
        <td>{{ 'size'|trans }}</td>
        <td>
            {% include 'AdminCoreBundle::Common/viewField.html.twig' with {
            'entity': entity,
            'field': 'size',
            } %}
        </td>
    </tr>
    <tr>
        <td>{{ 'width'|trans }}</td>
        <td>
            {% include 'AdminCoreBundle::Common/viewField.html.twig' with {
            'entity': entity,
            'field': 'width',
            } %}
        </td>
    </tr>
    <tr>
        <td>{{ 'height'|trans }}</td>
        <td>
            {% include 'AdminCoreBundle::Common/viewField.html.twig' with {
            'entity': entity,
            'field': 'height',
            } %}
        </td>
    </tr>
    <tr>
        <td>{{ 'createdAt'|trans }}</td>
        <td>
            {% include 'AdminCoreBundle::Common/viewField.html.twig' with {
            'entity': entity,
            'field': 'createdAt',
            } %}
        </td>
    </tr>
    <tr>
        <td>{{ 'updatedAt'|trans }}</td>
        <td>
            {% include 'AdminCoreBundle::Common/viewField.html.twig' with {
            'entity': entity,
            'field': 'updatedAt',
            } %}
        </td>
    </tr>
    <tr>
        <td>{{ 'enabled'|trans }}</td>
        <td>
            {% include 'AdminCoreBundle::Common/viewField.html.twig' with {
            'entity': entity,
            'field': 'enabled',
            } %}
        </td>
    </tr>

    <tr>
        <td>
            <a href="{{ url("admin_image_edit", {"id": entity.id}) }}" type="button" class="btn btn-primary btn-flat">Edit</a>
            <a href="{{ url("admin_image_delete", {"id": entity.id}) }}" type="button" class="btn btn-danger btn-flat">Delete</a>
        </td>
    </tr>

{% endblock content %}
