{% extends '@StoreTemplate/Layout/_layout.html.twig' %}

{% block content %}{% endblock content %}

{% block prefooter %}
<div class="form form-checkout">
    <form id="form-payment-execute" action="" method="post">
        <div class="grid">
            <div class="col-1-2">
                <legend>{{ 'Shipping method'|trans }}</legend>
                <label>
                    <input type="radio" name="field-shipping" value="free" checked="checked" />
                    {{ 'Standard - FREE'|trans }}
                </label>
                <label>
                    <input type="radio" name="field-shipping"  value="express" />
                    {{ 'Express'|trans }} - {{ shippingPrice|print_convert_money() }}
                </label>
            </div>
            <div class="col-1-2 payment">
                <legend>{{ 'Payment method'|trans }}</legend>
                <label>
                    <input data-url="{{ url('freepayment_execute') }}" type="radio" id="field-card" name="field-method" checked="checked" />
                    {{ 'Free'|trans }}
                </label>
                <label>
                    <input data-url="{{ url('paypal_web_checkout_execute') }}" type="radio" id="field-paypal" name="field-method" />
                    {{ 'Paypal'|trans }}
                </label>
                <label>
                    <input data-url="" type="radio" id="field-paymill" name="field-method" />
                    {{ 'Credit/Debit card (via Paymill)'|trans }}
                </label>
                <button id="form-payment-execute-submit" class="button button-secondary" type="submit">{{ 'Continue'|trans }}</button>
            </div>
        </div>
    </form>
    <div class="grid">
        <div class="col-1-1">
            <form id="paymill_form" class="hidden" action="{{ url('paymill_execute') }}" method="post">
                {{ paymill_render() }}
            </form>
        </div>
    </div>

</div>

{% endblock prefooter %}

{% block foot_script %}

    {{ parent() }}

    {{ paymill_scripts() }}

    <script type="application/javascript">

        $(function() {

            /* Setting payment execute URL to first selected
            *  payment method from the radio-button choices */
            var formPaymentExecute = $("#form-payment-execute");
            var paymentRadioInput = $("input[name=field-method]");
            var selectedRadioInput = $("input[name=field-method]:checked");
            var selectedPaymentExecuteUrl = selectedRadioInput.data("url");

            formPaymentExecute.attr("action", selectedPaymentExecuteUrl);

            paymentRadioInput.change(function() {
                /* We are storing the execute action url
                 * into a data attribute which will be copied
                 * to the form "action" when changing payment
                 * method */
                var executeUrl = $(this).data("url");

                if (executeUrl) {
                    /* When no data-url is present in the radios,
                     * it means we selected the "paymill" method */
                    $("#form-payment-execute-submit").show();
                    $("#paymill_form").addClass("hidden");

                    formPaymentExecute.attr("action", executeUrl);
                } else {

                    $("#form-payment-execute-submit").hide();
                    $("#paymill_form").removeClass("hidden");
                }
            });
        });

    </script>
{% endblock %}
