{% extends 'StoreTemplateBundle::Layout/_layout.html.twig' %}

{% block content_title %}

    {% if cart.totalItemNumber > 0 %}
        {{ 'Your basket'|trans }}
    {% else %}
        {{ 'Your basket is empty!'|trans }}
    {% endif %}

{% endblock content_title %}

{% block content %}

    <!-- Basket -->

    {% if cart.totalItemNumber > 0 %}

        <div class="row">
            <div class="span12">

                {{ form_start(form) }}

                    <table class="basket-table">
                        <thead>
                        <tr>
                            <th colspan="2">Item</th>
                            <th>Qty</th>
                            <th>Price</th>
                            <th colspan="2">Total</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for line in form.cartLines %}

                            {% include "@StoreTemplate/Modules/_cart-item.html.twig" with { "line": line } %}

                        {% endfor %}

                        {% for cartcoupon in cartcoupon %}

                            {% include "@StoreTemplate/Modules/_coupon-item.html.twig" with { "coupon": cartcoupon.coupon } %}

                        {% endfor %}

                        </tbody>
                    </table>

                    <div class="clearfix">

                        <p class="basket-total"><span>Total: </span>{{ cart.amount|print_convert_money() }}</p>

                    </div>

                    <p class="actions">
                        <a class="btn btn-blank" href="{{ url('store_homepage') }}">{{ 'Continue shopping'|trans }}</a>
                        <a class="btn btn-blank" href="{{ url('store_cart_empty') }}">{{ 'Empty basket'|trans }}</a>

                        {{ form_widget(form.update, { 'attr': {'class': 'btn btn-blank'} } ) }}
                        <a class="btn btn-primary" href="{{ url('store_checkout_payment') }}">{{ 'Checkout'|trans }}</a>
                    </p>

                {{ form_end(form) }}

            </div>
        </div>

        {% render url('store_coupon_view') %}

        <!-- Related products -->

        {% include "@StoreTemplate/Modules/_product-related.html.twig" with { 'products' : related_products} %}

    {% endif %}

{% endblock %}
