{#
 # View for a Product detail page with variants.
 #}
{% extends '@StoreTemplate/Pages/product-view-item.html.twig' %}

{#
 # The product_info_details should now display a form
 # to select the product variant
 #}
{% block product_info_add_basket %}
<h4>Choose a model</h4>

{% for variant in product.variants %}
    <div class= "add-basket-box clearfix">
        {% set variant_price = variant.reducedPrice.amount > 0 ? variant.reducedPrice : variant.price %}
        <p>
            {% if variant.images|length > 0  %}
            <img align="right" hspace="10" src="{{ variant.images.first|resize({
                'width': 60,
                'height': 47,
                'type': 5
            }) }}" alt="{{ variant.name }}"/>
            {% endif %}
            {{ variant|purchasable_name }}<br/>
            <span>{{ variant_price|print_convert_money() }}</span>
        </p>
        <br/>
        <a title="Add {{ variant|purchasable_name }} to cart"
           class="btn btn-addcart btn-primary"
           href="{{ url('store_cart_add_product_variant', { id: variant.id }) }}">
            <span class="entypo cart"></span>
        </a>
    </div>

{% endfor %}

{% endblock %}


{% block pixels %}
    <script>
        _etc.push(["{{ store_tracker }}", 'product_view_' + {{ product.id }}]);
    </script>
{% endblock %}
