{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block content_title %}
    {{ 'Blog'|trans }}
{% endblock content_title %}

{% block header_actions %}
    {% if blog_post.id > 0 %}
        <a target="_blank" href="{{ url("store_blog_post_view",{id: blog_post.id, slug: blog_post.path}) }}" class="button-primary"><i class="icon-eye"></i> <span>{{ 'View at store'|trans }}</span></a>
        <a data-tc-modules="modal" href="#metrics-panel" class="button-secondary"><i class="icon-bar-chart-o"></i> <span>{{ 'Show Metrics'|trans }}</span></a>
    {% endif %}
{% endblock header_actions %}

{% block breadcrumb %}

    {% set entityHeader = page.id
        ? 'Edit ' ~ blog_post.name
        : 'Create new blog post'
    %}

    {% include '@AdminCore/Common/breadcrumb.html.twig' with {
        breadcrumb: {
            'Blog posts': {
                'url': url('admin_blog_post_list')
            },
            (entityHeader): {
                'active' : true
            }
        }
    } %}

{% endblock breadcrumb %}

{% block content %}

    {% if blog_post.id %}
        {{ render(url("admin_blog_post_edit_component", {
            'id': blog_post.id
        })) }}
    {% else %}
        {{ render(url("admin_blog_post_new_component")) }}
    {% endif %}

    {% if blog_post.id %}
        <div class="hidden-placeholder">
            <div id="metrics-panel" class="box-background">
                <h2>{{ 'Visitors' }}</h2>
                {% include 'AdminMetricBundle:Metric:metricLine.html.twig' with {
                    'tracker': store_tracker,
                    'event': 'pv_store_blog_post_view_' ~ blog_post.id,
                    'intervalContainer': metric_create_interval_container(3),
                } %}
            </div>
        </div>
        {% set author_token = app.user.token %}
        {% set context = "admin" %}
        {% set source = "blog-post-" ~ blog_post.id %}
        <div id="box-populi" class="boxpopuli-container">
            <a data-tc-modules="side-panel" data-tc-position="right" data-tc-width="600" data-tc-tab-top="22%" href="#box-populi"><i class="icon-comment"></i> </a>
            <div class="boxpopuli-overflow" data-tc-modules="boxpopuli"
                data-token="{{ author_token }}"
                data-author-name="{{ app.user.fullname }}"
                data-author-email="{{ app.user.email }}"
                data-context="{{ context }}"
                data-source="{{ source }}"
                data-route-list="{{ url("elcodi_comments_list", {"source": source, "context": context}) }}"
                data-route-add="{{ url("elcodi_comments_add", {"source": source, "context": context, "authorToken": author_token}) }}"
            ></div>
        </div>
    {% endif %}

{% endblock content %}
