{% extends 'AdminCoreBundle::Common/listComponent.html.twig' %}


{% set elcodi_context = {
    entity_type: 'blog_post',
} %}


{% block title 'admin.blog_post.list'|trans %}


{% block no_items
    lists.no_items(
        'admin.blog_post.single'|trans,
        'admin.blog_post.plural'|trans,
        url('admin_blog_post_new')
    )
%}


{% block table_head %}

    {% include '@AdminCore/Tables/head.html.twig' with {
        class: 'blog_post',
        rows: [
            { name: 'admin.blog_post.single'|trans },
            { name: 'admin.blog_post.field.path.title'|trans, width: 25 },
            { name: 'admin.blog_post.field.enabled.title'|trans, width: 15 },
        ],
    } %}

{% endblock table_head %}


{% block table_body_row %}
    <td>
        <a href="{{ url('admin_blog_post_edit', { id: entity.id}) }}">
           <strong>{{ entity.title|truncate(30, '…') }}</strong>
        </a>
        <p>{{ entity.content|striptags|truncate(150, '…') }}</p>
    </td>
    <td>
        {% set path = url('store_blog_post_view', {
        id: entity.id,
        slug: entity.path,
        }) %}
        <a target="_blank" href="{{ path }}">
            /{{ entity.path }}
        </a>
    </td>
    <td>
        {% if entity.enabled %}
            <span class="label label-ok">{{ 'ui.label.enabled'|trans }}</span>
        {% else %}
            <span class="label label">{{ 'ui.label.disabled'|trans }}</span>
        {% endif %}
    </td>

    {% include '@AdminCore/Tables/actions.html.twig' with {
        entity: entity,
        class: 'blog_post',
    } %}

{% endblock table_body_row %}


{% block table_paginator_links %}

    {% set url = 'admin_blog_post_list' %}
    {{ parent() }}

{% endblock table_paginator_links %}
