<li class="parent">
    <a href="{{ url("admin_currency_list") }}">
        <i class="fa fa-btc"></i>
        <span>{{ 'Currencies'|trans }}</span>
    </a>

    <ul class="sub-menu">
        <li><a href="{{ url("admin_currency_list") }}">{{ 'Currencies'|trans }}</a></li>
        <li><a href="{{ url("admin_currency_exchange_rate_list") }}">{{ 'Currency exchange rates'|trans }}</a></li>
    </ul>
</li>
