{% set lineObject = line.vars.data %}
{% set product = lineObject.product %}
{% set purchasable = lineObject.purchasable %}
{% set productRoute = url('store_product_view', { slug: product.slug, id: product.id }) %}

<tr>
    <td class="image">
        <a href="{{ productRoute }}">
            <img src="{{ product.principalImage ? product.principalImage|resize({
                width: 80,
                height: 80,
                type: 5 }) : 'http://placehold.it/80x80'
            }}" alt="{{ product.name }}" />
        </a>
    </td>
    <td class="title">
        <a href="{{ productRoute }}">{{ product.name }}</a>
    </td>
    <td class="qty">
        {{ form_row(line.quantity) }}
    </td>
    {% if purchasable.reducedPrice.amount > 0 %}
        {% set purchasablePrice = purchasable.ReducedPrice %}
    {% else %}
        {% set purchasablePrice = purchasable.price %}
    {% endif %}
    <td class="price">{{ purchasablePrice|print_convert_money() }}</td>
    <td class="total">{{ lineObject.amount|print_convert_money() }}</td>
    <td class="remove">
        <a href="{{ url('store_cartline_remove', { id: lineObject.id }) }}">
            <span class="entypo trash"></span>
        </a>
    </td>
</tr>
