{% set productRoute = url('store_product_view', {
    slug: line.product.slug,
    id: line.product.id
}) %}

<tr>
    <td class="image">
        <a href="{{ productRoute }}">
            <img src="{{ line.product.principalImage ? line.product.principalImage|resize({
                width: 80,
                height: 80,
                type: 5 }) : 'http://placehold.it/80x80'
            }}" alt="{{ line.purchasable|purchasable_name }}" />
        </a>
    </td>
    <td class="title">
        <a href="{{ productRoute }}">{{ line.purchasable|purchasable_name }}</a>
    </td>
    <td class="qty">{{ line.quantity }}</td>
    <td class="price">{{ line.amount|print_convert_money() }}</td>
    <td class="total">{{ line.amount|print_convert_money() }}</td>
</tr>
